.tab-slider {
  overflow: hidden;
}

.sub-tab-nav .slick-list {
  overflow: visible;
}

.tab-slider .slider {
  position: relative; 
}

.tab-slider .container {
  position: relative;
  z-index: 3;
}

.tab-slider .slider-nav a {
  transition: all 0.3s ease; 
}

.tab-slider .slider-nav .slick-slide ,
.tab-slider .sub-tab-nav .slick-slide {
  opacity: 0.5; 
  transition: all 0.3s ease-in-out:;
  cursor: pointer;
}

.tab-slider .sub-tab-nav .slick-slide:hover h3{
  text-decoration: underline!important; 
}

.tab-slider .slider-nav .slick-slide {
  border-bottom: 4px solid; 
}

.tab-slider .slider-nav .slick-slide.slick-current,
.tab-slider .sub-tab-nav .slick-slide.slick-current {
  opacity: 1;
}

.tab-slider .arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-width: 2px 2px 0 0;
  border-style: solid;
  margin: 10px;
}

.tab-slider a.slick-control-prev {
  margin-right: 2rem;
}

.tab-slider .arrow:after,
.tab-slider .arrow:before {
  content: "";
  box-sizing: border-box;
}

.tab-slider .arrow:before {
  right: 0;
  top: -2px;
  position: absolute;
  height: 2px;
  box-shadow: inset 0 0 0 32px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 35px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.tab-slider .arrow.right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tab-slider .arrow.left {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.tab-slider .slick-control-prev,
.tab-slider .slick-control-next {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}




