.solution-benefits-block {
  margin: 0 auto;
}
.solution-benefits-block {
  text-align:left;
}
.heading-3{
  color:#222222;
  font-size:16px;
}
h2.small-header {
  text-align: center;
}
.small-header {
  margin-top: 8px;
  margin-bottom: 9px;
  font-family: Montserrat, sans-serif;
  color: #ec2227;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.benefits-container{
  display:flex;
  padding:25px;
}
.solution-benefits-section-outer{
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
}
.solution-benefits-block {
  width: 33.333%;
  padding-right: 30px;
  padding-left: 20px;
  margin:0 auto;
  /*   margin-left: 10px;
  margin-top: 20px; */
  border-left: 2px solid #ec2227;
}

.solution-benefits-section-inner {
  position: relative;
  z-index: 1;
/*   padding-top: 50px;
  padding-bottom: 65px; */
  background-color: #fff;

  text-align: center;
}
@media screen and (max-width:767px){
  h2.small-header {
    text-align: left;
  }
  .solution-benefits-block {
    width: 100%;
    margin: 20px 0;
    background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Hot%20Wax%20Migration%20Images/red-hexagon-outline.svg);
    background-position: 0% 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    padding-left:30px;
    text-align: left;
  }
  .benefits-container {
    display: block;
    padding-left:0px;
    padding-top:0px;
  }
  .solution-benefits-section-outer .page-center {
    padding:0 20px !important;
  }
  .solution-benefits-block{
    border:none;
    max-width: 542px;
    margin: 0 auto 0 0;
    padding-right: 0px;
  }
  .solution-benefits-section-inner {
    padding-left: 20px;
    padding-right: 0px;
/*     padding-top:30px; */
  }
  h4.heading-3{
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
}
@media (max-width: 479px){
  h4.heading-3 {
    font-size: 14px;
    line-height: 20px;
  }

}


