<div class="post-sidebar">
  <div class="sidebar-top">
    <div class="listen-now-heading">
      <h2>{{ module.sidebar_top_module.listen_now_heading }}</h2>
    </div>
    <div class="pod-app-outer">
      {% for item in module.sidebar_top_module.podcast_apps %}
        <div class="pod-app-inner">
          {% set href = item.app_link.url.href %}
            {% if item.app_link.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            {% set rel = [] %}
            {% if item.app_link.no_follow %}
              {% do rel.append("nofollow") %}
            {% endif %}
            {% if item.app_link.open_in_new_tab %}
              {% do rel.append("noopener") %}
            {% endif %}
            <a href="{{ href }}"
              {% if item.app_link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
              >              
                <span class="pod-app-icon">
              {% if item.app_icon.src %}
          {% set sizeAttrs = 'width="{{ item.app_icon.width }}" height="{{ item.app_icon.height }}"' %}
          {% if item.app_icon.size_type == 'auto' %}
            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
          {% elif item.app_icon.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.app_icon.max_width }}" height="{{ item.app_icon.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = item.app_icon.loading != 'disabled' ? 'loading="{{ item.app_icon.loading }}"' : '' %}
          <img src="{{ item.app_icon.src }}" alt="{{ item.app_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}</span>
                <span class="pod-icon-text">{{ item.app_name }}</span>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="sidebar-bottom">
    <div class="share-this-heading">
      <h2>{{ module.sidebar_bottom_group.share_this_heading }}</h2>
    </div>
    <div class="share-this-links">
      {{ module.sidebar_bottom_group.social_share_content }}
    </div>
  </div>
</div>