.listen-now-heading h2, .share-this-heading h2 {
    color: #000;
    font-size: 24px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}
.listen-now-heading h2:after, .share-this-heading h2:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}
.pod-app-inner a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
span.pod-app-icon {
    display: block;
    width: 36px;
    padding-right: 10px;
}
.pod-app-inner {
    padding-bottom: 15px;
}
span.pod-icon-text {
    display: block;
    color: #666666;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.sidebar-top {
    padding-bottom: 20px;
}
.share-this-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.share-this-links ul li a {
    width: 39px !important;
    height: 39px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
}
.share-this-links li:last-child img {
    display: none;
}
.share-this-links ul li {
    padding-right: 10px;
}
.share-this-links ul li:nth-child(1) a {
    background: #0077B5;
}
.share-this-links ul li:nth-child(2) a {
    background: #1DA1F2;
}
.share-this-links ul li:nth-child(3) a {
    background: #0078D7;
}
.share-this-links ul li:nth-child(4) a {
    background: #666666;
}
.share-this-links ul li a:hover {
    transform: translateY(-6px);
    transition: all .5s;
}
.share-this-links ul li a i span {
    display: none;
}