.page-banner {
  position: relative;
  overflow: hidden;
  padding-inline: var(--spacer-sm);
}

.page-banner__inner {
  position: relative;
  width: 100%;
}

.page-banner__bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.page-banner__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.page-banner__content {
  position: relative;
  z-index: 3;
}

.page-banner__title {
  margin-bottom: var(--spacer-sm);
}

.page-banner__subtitle {
  margin-bottom: var(--spacer-md);
}

.page-banner__description {
  margin-bottom: var(--spacer-lg);
}

.page-banner__cta {
  margin-top: var(--spacer-md);
}
