.page-banner {
  position: relative;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-banner__inner {
  position: relative;
  width: 100%;
  padding: var(--spacer-xl) 0;
}

.page-banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.page-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.page-banner__content {
  position: relative;
  z-index: 3;
}

.page-banner__title {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacer-sm);
  color: inherit;
}

.page-banner__subtitle {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacer-md);
  color: inherit;
}

.page-banner__description {
  margin-bottom: var(--spacer-lg);
}

.page-banner__cta {
  margin-top: var(--spacer-md);
}
