.related-links-heading h3 {
    color: #000;
    font-size: 24px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.related-links-heading h3:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}
.related-tab-inner {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.related-tab-inner p {
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: bold;
    padding-right: 15px;
}

.related-tab-inner a {
    text-decoration: none;
    color: #0076FF !important;
    font-size: 16px;
    line-height: 22px;
}