/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

.widget-type-cell > .row-fluid-wrapper > .row-fluid {
    --grid-display: grid;
    --grid-gap: 25px;
    
    display: var(--grid-display) !important;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-gap: var(--grid-gap);
}

.row-fluid:before, .row-fluid:after {
    content: none !important;
    display: unset !important;
}

.hs_cos_wrapper.hs_cos_wrapper_type_module {
    height: 100%;
}

.dnd-row, .dnd-row .row-fluid, .dnd-module  {
    height: 100% !important;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11{
    width: auto !important;
    display: unset !important;
}

.span1{
    grid-column: span 1;
}

.span2{
    grid-column: span 2;
}

.span3{
    grid-column: span 3;
}

.span4 {
    grid-column: span 4;
}


.span5{
    grid-column: span 5;
}

.span6{
    grid-column: span 6;
}


.span7{
    grid-column: span 7;
}

.span8 {
    grid-column: span 8;
}


.span9{
    grid-column: span 9;
}


.span10{
    grid-column: span 10;
}


.span11{
    grid-column: span 11;
}

.span12 { 
    grid-column: span 12;
}

.footer-social-wrapper .row-fluid{
    column-gap: 0.5rem !important;
}
    
@media only screen and (max-width: 1070px) {
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8 {
        grid-column: span 6;
    }

    .span9, .span10, .span11, .span12 {
        grid-column: span 12;
    }
}

@media only screen and (max-width: 750px) {
    .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
        grid-column: span 12;
    }
    .footer-social-wrapper .row-fluid{
        grid-auto-flow: column;
        column-gap: 0.3rem ;

    }
}
