/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/*****************************************/
/* Start your style declarations here    */
/*****************************************/

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.page-center {
  max-width: 1170px !important;
  margin: 0 auto !important;
  float: none !important;
  padding: 0px !important;
}
a {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
body {
  overflow-x: hidden;
}
/**************header*************/
.body-container-wrapper {
  padding-top: 77px;
}

.logo-wrap {
  margin-top: 10px;
}
.header-container-wrapper.StickyHeader .logo-wrap {
  margin-top: 0px;
}
.logo-wrap img {
  width: auto !important;
  height: 58px !important;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.logo-scroll,
.logo-sticky {
  position: absolute;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: auto !important;
}

.header-container-wrapper.StickyHeader .logo-sticky {
  opacity: 0;
}
.header-container-wrapper.StickyHeader .logo-scroll img {
  height: 37px !important;
}
.header-container-wrapper {
  position: fixed;
  width: 100% !important;
  padding: 0;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 999;
}
.header-container-wrapper.StickyHeader {
  background: rgba(0, 0, 0, 0.75);
}

.header-container-wrapper.StickyHeader
  .menu-wrap
  .hs-menu-wrapper
  > ul
  > li
  > a {
  color: #ffffff !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.menu-wrap {
  text-align: right;
}
.menu-wrap .hs-menu-wrapper > ul > li {
  line-height: 15px !important;
}

.custom-menu-primary .hs-menu-wrapper > ul > li:last-child > a {
  background: #ec2227;
  color: #fff !important;
}

.menu-wrap .hs-menu-wrapper > ul {
  display: flex;
  float: right;
}
.menu-wrap .hs-menu-wrapper > ul > li > a {
  padding: 28px 20px !important;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #000;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  display: block !important;
  line-height: 21px;
}
.header-wrapper li.hs-menu-item.hs-menu-depth-1.hs-item-has-children > a:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 8px;
}
.header-wrapper li.hs-menu-item.hs-menu-depth-1:hover > a {
  background: #ec2227;
  color: #ffffff;
}
.header-wrapper ul.hs-menu-children-wrapper {
  background: #000000;
  color: #ffffff;
  text-align: left;
  padding: 20px 0;
}
.header-wrapper ul.hs-menu-children-wrapper li {
  padding: 0px 15px !important;
  line-height: 24px;
  display: flex;
}
.header-wrapper ul.hs-menu-children-wrapper li a {
  color: #ffffff;
  padding: 10px 0px !important;
  width: 100% !important;
  display: inline-block !important;
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  max-width: 100% !important;
  line-height: 24px;
}
.header-wrapper ul.hs-menu-children-wrapper li a:hover {
}
.header-wrapper ul.hs-menu-children-wrapper li:hover {
  background: #ec2227;
}
/**************Footer*************/
.footer-header {
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  font-family: Montserrat, sans-serif;
  color: #f79421;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-social-wrapper {
  padding: 8px 0px;
}
.footer-social-wrapper {
  width: 28% !important;
}

/**************slick slider*****************/
/* THEME: VARS */
.slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-slide {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* SLICK: ARROWS */
.slick-custom-arrow {
  position: absolute;
  transform: translateY(-50%);
  z-index: 100;
  padding: 20px 16px;
  background-color: #fff;
  color: #000;
}
.slick-custom-arrow:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.slick-custom-arrow-right {
  right: 0;
  top: 50%;
}
.slick-custom-arrow-left {
  left: 0;
  top: 50%;
}

/* SLICK: DOTS */
.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.slick-dots .slick-active button {
  border: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
}
.slick-dots li {
  display: flex;
  align-items: center;
  margin: 0 4px;
  padding: 0;
  height: 20px;
  width: 20px;
}
.slick-dots li button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 1;
  display: block;
  height: 18px;
  width: 18px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
}
.slick-custom-arrow {
  transform: translateY(0%);
  top: initial;
  bottom: -30px;
  background: no-repeat;
  color: #ef1e1b;
  font-size: 22px;
  padding: 0px;
}
.slick-custom-arrow-left {
  left: calc(50% - 34px);
}
.slick-custom-arrow.slick-custom-arrow-right.slick-arrow {
  right: calc(50% - 24px);
}

/**************Blog List*************/
.desktop-post-wrappper .pod-post-item {
  margin-bottom: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 7px #0000001a;
  padding: 30px;
  border: none;
  display: none;
}
.mobile-slider-wrappper .pod-post-item {
  margin-bottom: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 7px #0000001a;
  padding: 30px;
  border: none;
}
.post-item-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-item-left {
  flex: 0 48%;
}
.post-item-right {
  flex: 0 48%;
}
.post-item-left img.hs-featured-image {
  float: none !important;
  max-width: 100% !important;
  margin: 0px !important;
  width: 100% !important;
  border-radius: 10px !important;
  max-height: none !important;
}
.post-header h2 a {
  color: #000;
  font-size: 26px;
  text-decoration: none;
  line-height: 32px;
}
.post-item-right .post-header {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}
.post-item-right .post-header:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ef1e1b;
  left: 0;
}
.post-item-right .post-header h2 {
  margin: 0px;
}
.post-read-more a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ef1e1b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
}
.post-read-more a img {
  width: 30px;
}
.post-read-more a span {
  padding-right: 10px;
}
.content-wrap p {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
}
span.summary-text p {
  letter-spacing: 1.12px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
}
span.summary-text {
  display: block;
  padding-bottom: 20px;
}
.date-time-wrap {
  padding-bottom: 20px;
  display: flex;
}

.content-wrap {
  padding-bottom: 25px;
}
span.date-wrap {
  color: #666666;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

span.date-wrap span {
  display: flex;
  padding-right: 10px;
}
.blog-first-section .post-item-right {
  flex: 0 100%;
}
.blog-first-section .post-item {
  margin: 0px;
  padding: 0px;
  border: none;
}
.blog-first-section .post-read-more a {
  min-width: 180px;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #ec2227;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(236, 34, 39, 0.95)),
      to(rgba(236, 34, 39, 0.95))
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-image: linear-gradient(
      180deg,
      rgba(236, 34, 39, 0.95),
      rgba(236, 34, 39, 0.95)
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-position:
    0px 0px,
    50% 50%;
  background-size: auto, 420px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
}
.blog-first-section .post-read-more a img {
  width: 18px;
  height: 18px;
}
.blog-first-section .post-read-more a:hover {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(236, 34, 39, 0.98)),
      to(rgba(236, 34, 39, 0.98))
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-image: linear-gradient(
      180deg,
      rgba(236, 34, 39, 0.98),
      rgba(236, 34, 39, 0.98)
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-position:
    0px 0px,
    50% 50%;
  background-size: auto, 420px;
  box-shadow: 0 0 5px 0 #ec2227;
  color: #fff;
}
.blog-section.blog-first-section {
  margin-bottom: 70px;
}
.blog-first-section .blog-pagination {
  display: none;
}
.blog-post-wrapper {
  padding: 50px 20px;
}
.backto-button a {
  letter-spacing: 1.54px;
  color: #ef1e1b;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.backto-button a:before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 8px;
}
.blog-post-wrapper .blog-post-wrapper.cell-wrapper {
  padding: 0px !important;
}
.section.post-body h3 {
  color: #000;
  font-size: 24px;
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}
.section.post-body h3:after {
  content: "";
  background-color: #f79421;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 5px;
  margin: 0 auto;
}
.blog-post-wrapper .section.post-body {
  padding: 30px 0px;
}
.blog-post-wrapper .section.post-body p {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
}
.blog-post-wrapper .section.post-body p a,
.blog-post-wrapper .section.post-body a {
  display: inline-block;
}
.blog-post-sections .section.post-body blockquote p a {
  display: inline-block;
}
.blog-all-post .blog-pagination {
  display: none;
}
.blog-load-more a {
  min-width: 200px;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: #ec2227;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(236, 34, 39, 0.95)),
      to(rgba(236, 34, 39, 0.95))
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-image: linear-gradient(
      180deg,
      rgba(236, 34, 39, 0.95),
      rgba(236, 34, 39, 0.95)
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-position:
    0px 0px,
    50% 50%;
  background-size: auto, 420px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  display: inline-block;
}
.blog-load-more {
  text-align: center;
  margin-top: 60px;
}
.blog-load-more a:hover {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(236, 34, 39, 0.98)),
      to(rgba(236, 34, 39, 0.98))
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-image: linear-gradient(
      180deg,
      rgba(236, 34, 39, 0.98),
      rgba(236, 34, 39, 0.98)
    ),
    url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
  background-position:
    0px 0px,
    50% 50%;
  background-size: auto, 420px;
  box-shadow: 0 0 5px 0 #ec2227;
  color: #fff;
}
a.noContent {
  opacity: 1;
  background: transparent;
  color: #ec2227;
  padding: 0px;
  height: auto;
}
a.noContent:hover {
  background: none;
  box-shadow: none;
  color: #ec2227;
}
span.time-wrap {
  color: #666;
  font-weight: 600;
  display: flex;
  margin-left: 50px;
  align-items: center;
}
span.time-wrap span {
  display: flex;
  padding-right: 10px;
}
span.time-wrap span img {
  width: 16px;
}
.blog-first-section .date-time-wrap {
  padding: 15px 0px 0px;
}
.backto-button {
  padding-bottom: 40px;
}
.mobile-slider-wrappper,
.mobile-blog-post {
  display: none !important;
}
.blog-list-wrapper {
  padding: 50px 20px 0px 20px;
}

/*************blog list page************/
.blog-post-sections .section.post-body {
  padding: 0px;
  max-width: 860px;
  margin: 0 auto;
}

.blog-post-sections .section.post-body blockquote {
  border-left: 1px solid #ef1e1b;
  color: #808080;
  font-size: 20px;
  line-height: 30px;
  padding-top: 0px;
  margin-bottom: 50px;
}

.blog-post-sections .section.post-body blockquote h4 {
  color: #808080;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  font-family: "Open Sans", sans-serif;
}

.blog-post-sections .section.post-body blockquote p {
  color: #808080;
  font-size: 14px;
  margin: 0px;
}

.blog-post-sections .section.post-body h2 {
  color: #000000;
  font-size: 26px;
  line-height: 33px;
}

.blog-post-sections .section.post-body p {
  color: #808080;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.blog-post-sections .section.post-body img {
  margin-bottom: 30px;
}

.blog-post-sections .section.post-body ul {
  margin-bottom: 30px !important;
}

.blog-post-sections .section.post-body ul li {
  color: #666666;
  font-size: 16px;
  margin-bottom: 15px !important;
  padding-left: 40px !important;
  font-weight: 600;
}
.post-item.list-first-banner {
  border: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-item.list-first-banner .hs-featured-image-link {
  flex: 0 46%;
  padding-left: 2%;
}
.list-first-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  //height: 510px;
}
.list-first-right {
  flex: 0 48%;
}
.list-first-left .hs-featured-image-wrapper img {
  float: none !important;
  margin: 0px !important;
  max-width: 100% !important;
  opacity: 1;
  border-radius: 10px;
}
.list-banner-section .page-center3 {
  max-width: 1300px !important;
  margin: 0 auto !important;
  float: none !important;
}
.topic-wrap p {
  color: #cccccc;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.topic-wrap p span:first-child {
  margin-left: 5px;
}

.topic-wrap p span {
  margin-right: 5px;
}

.topic-wrap a {
  color: #cccccc;
  display: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.topic-wrap a:nth-child(1) {
  display: block;
}
.title-wrap h1,
.title-wrap h1 a {
  font-size: 34px;
  line-height: 45px;
  text-decoration: none;
  color: #000;
}
.title-wrap h1 {
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}
.title-wrap h1:after {
  content: "";
  background-color: #f79421;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 5px;
}
.more-wrap a {
  margin: 0px;
  text-decoration: none;
  letter-spacing: 1.54px;
  color: #666666;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.social-share-wrap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.social-share-wrap ul li {
  padding-right: 10px;
}
.social-share-wrap ul li a {
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 3px 6px #00000029;
  font-size: 12px;
}
.social-share-wrap ul li:nth-child(1) a {
  background: #0077b5;
}
.social-share-wrap ul li:nth-child(2) a {
  background: #1da1f2;
}
.social-share-wrap ul li:nth-child(3) a {
  background: #0078d7;
}
.social-share-wrap ul li:nth-child(4) a {
  background: #666;
}
.social-share-wrap ul li a:hover {
  transform: translateY(-6px);
  transition: all 0.5s;
}
.social-share-wrap ul li a i span {
  display: none;
}
.social-share-wrap li:last-child img {
  display: none;
}
.social-share-wrap {
  padding: 20px 0px 15px;
}
a.author-link {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
div#hubspot-author_data {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
}
.blog-content-one {
  padding: 50px 0px;
}
.blog-contet-two .post-item {
  border: none;
  margin: 0px;
  padding: 0px;
  flex: 0 30%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #00000017;
  border-radius: 5px;
  margin: 0 1.5%;
  margin-bottom: 2% !important;
  //display: none;
  padding-bottom: 70px;
  position: relative;
}
.blog-contet-two .blog-pagination {
  display: none;
}
.blog-contet-two .post-listing,
.blog-contet-two .post-listing-simple {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.blog-contet-two .post-item-bottom {
  padding: 30px 20px 20px;
}
.blog-contet-two .post-header-wrap h1 a,
.blog-contet-two .post-header-wrap h2 a {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  font-weight: 600;
}
.blog-contet-two .post-header-wrap h1,
.blog-contet-two .post-header-wrap h2 {
  font-size: 20px;
  line-height: 22px;
}
.blog-contet-two .post-content-wrap {
  font-size: 14px;
  color: #666666;
}
.blog-contet-two .post-more-wrap a {
  letter-spacing: 1.54px;
  color: #666666;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.post-item-top img.hs-featured-image {
  border: none;
  opacity: 1;
  float: none !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
}
.post-item-top .hs-featured-image-wrapper {
  background-repeat: no-repeat;
  //height: 219px;
  background-size: cover;
  background-position: center;
}
.title-sub-wrap h2 {
  font-size: 24px;
  color: #666666;
  line-height: 33px;
  margin: 0px 0px 30px;
}
.blog-post-sections .blog-post-wrapper.cell-wrapper {
  padding: 80px 0px 0px;
}
.whitepapaer-post .blog-post-sections .blog-post-wrapper.cell-wrapper {
  padding: 0px 0px 0px;
}
.whitepaper-list-wrap img.hs-featured-image {
  max-height: none !important;
}
.body-container .blog-search-wrap form .hs-search-field {
  padding: 0px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

.blog-search-wrap .hs-search-field {
  padding: 0px;
  border: 0;
  margin: 0 2.5%;
}

.blog-search-wrap .hs-search-field input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.blog-search-wrap .hs-search-field input::placeholder {
  color: #cccccc;
  font-size: 14px;
  font-weight: 600;
}

.blog-search-wrap .hs-search-field:after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #cccccc;
}

.blog-search-wrap .hs-search-field__bar {
  position: relative;
}

ul.post-filter-outer {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.post-filter-outer li {
  border: 1px solid #f26725;
  border-radius: 3px;
  text-decoration: none;
  color: #f26725;
  padding: 10px;
  display: inline-block;
  flex: 0 14%;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  font-size: 11px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
li.all:nth-child(1) {
  flex: 0 9%;
}
ul.post-filter-outer li {
  margin-right: 1%;
  margin-bottom: 10px;
}
li.all.active-tag,
ul.post-filter-outer li:hover {
  background-color: #f26725;
  color: #fff;
}
.post-filter-out-wrap {
  padding: 20px 0px 50px;
}
.list-section {
  padding: 0px 20px;
}
.blog-search-wrap .hs-search-field form {
  max-width: 300px;
  margin: 0 0 0 auto;
}
.blog-search-wrap .hs-search-field--open .hs-search-field__suggestions {
  border: 1px solid #f26725;
  padding: 20px;
  border-radius: 5px;
}
.blog-search-wrap .hs-search-field--open .hs-search-field__suggestions li {
  font-size: 16px;
}
.blog-search-wrap .hs-search-field__suggestions #results-for {
  color: #f26725;
  font-size: 20px;
  margin-bottom: 10px;
}
.blog-search-wrap .hs-search-field__suggestions a {
  font-size: 16px !important;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 600;
}
.blog-search-wrap .hs-search-field__suggestions a:hover {
  color: #f26725;
  background: no-repeat;
}
.post-filter-inner-wrap {
  margin: 0 1.5%;
}
.r-button a:active,
.r-button a:visited {
  color: #ffffff;
}
.blog-contet-two .topic-wrap p,
.blog-contet-two .topic-wrap p a {
  font-size: 14px;
}
.more-item {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  right: 0;
  top: 45px;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
  display: none;
}
li#more {
  position: relative;
}
ul.post-filter-outer li li,
ul.post-filter-outer li li.all:nth-child(1) {
  flex: 0 100%;
  border: none;
  margin: 0px;
  border-bottom: 1px solid #f26725;
}
li#more:hover .more-item {
  display: flex;
}
.post-social-section {
  padding: 0px 20px 100px;
  box-sizing: border-box;
}
.whitepapaer-post .social-share-wrap,
.whitepapaer-post div#hubspot-author_data {
  padding-left: 20px;
}
.post-more-wrap {
  position: absolute;
  bottom: 20px;
}
.whitepaper-list-one .post-item.list-first-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
  text-align: center;
}
.whitepaper-list-one .post-item.list-first-banner {
  display: block;
  position: relative;
}
.whitepaper-list-one .list-first-right {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
}
.whitepaper-list-one .blog-content-one {
  padding: 0px;
}
.whitepaper-list-one .topic-wrap p {
  justify-content: center;
  color: #fff;
}
.whitepaper-list-one .topic-wrap p a {
  color: #fff;
}
.whitepaper-list-one .title-wrap h1 a {
  color: #fff;
}
.whitepaper-list-one .title-wrap h1:after {
  right: 0;
  margin: 0 auto;
}
.whitepaper-list-one .title-sub-wrap h2 {
  color: #fff;
}
.whitepaper-list-one .more-wrap a {
  color: #fff;
}
.whitepaper-list-one .post-item.list-first-banner:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  top: 0;
}
.blog-list-wrapper.whitepaper-list-wrap {
  padding-top: 70px;
}
.whitepaper-post-sections {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.section.post-body li {
  background-position: top 6px left !important;
  color: #000;
  font-size: 16px;
  line-height: 26px;
}
.search-outer {
  padding: 0px;
  border: 0;
  margin: 0 2.5%;
}
.search {
  max-width: 300px;
  margin: 0 0 0 auto;
  position: relative;
}

input.search-input {
  background: #fff 0% 0% no-repeat padding-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  outline: 0;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #333;
}

.search:after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ccc;
}

input.search-input::placeholder {
  color: #cccccc;
  font-size: 14px;
  font-weight: 600;
}
.solution-briefs-list-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 70px 0px 50px;
}
.solution-briefs-list-inner {
  border: 0;
  margin: 0px;
  padding: 0px;
  flex: 0 30%;
  background: #fff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 12px #00000017;
  border-radius: 5px;
  margin: 0 1.5%;
  margin-bottom: 2% !important;
  //display: none;
  padding-bottom: 70px;
  position: relative;
}
.solution-briefs-list-image {
  text-align: center;
  padding: 20px;
  background-color: #edeff0;
}
.solution-briefs-list-image img {
  max-height: 250px;
}
.solution-briefs-list-content-wrapper {
  padding: 30px 20px 20px;
}
.solution-briefs-list-title h2 a {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  font-weight: 600;
}
.solution-briefs-list-description p {
  font-size: 14px;
  color: #666;
}
.solution-briefs-list-link {
  border-top: 2px solid #f4f4f7;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 60px;
  line-height: 56px;
  left: 0px;
  text-align: center;
}
.solution-briefs-list-container {
  max-width: 1170px !important;
  margin: 0 auto !important;
  float: none !important;
  padding: 0px !important;
}
.solution-briefs-list-title h2 {
  line-height: 22px;
}
.solution-briefs-list-link a {
  letter-spacing: 1.54px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.solution-briefs-list-link a:hover {
  color: #ff7a59;
}
.product-vedio-demo-container {
  max-width: 1190px !important;
  margin: 0 auto !important;
  float: none !important;
}
/*****errorpagecode******/

.lastest-heading h2 {
  color: #333;
  position: relative;
  display: inline-block;
}

.lastest-heading {
  text-align: center;
  padding-bottom: 50px;
}

.lastest-heading h2::before {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #f79421;
  content: " ";
  bottom: -20px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.blog-post-featur img.hs-featured-image {
  width: 100%;
  margin: 0px !important;
  max-width: 100% !important;
}
.custom-header-wrapper .mobile-version {
  display: none;
}

/*************resposnive*******************/
@media (min-width: 768px) {
  .podcast-banner-wrapper {
    background: none !important;
  }
}
@media (min-width: 813px) {
  .listmob-banner-wrap {
    display: none !important;
  }
  .listmob-banner-wrap {
    background: none !important;
  }
}
@media (max-width: 1170px) {
  .custom-footer-wrapper .page-center {
    padding: 0px 20px !important;
  }
  .linked-wrapper,
  .linked-wrapper.popup_show {
    display: none;
  }
  .solution-briefs-list-outer {
    padding: 70px 20px 50px;
  }
}
@media (max-width: 1000px) {
  ul.post-filter-outer li {
    font-size: 11px;
  }
}
@media (max-width: 991px) {
  .custom-logo {
    padding-left: 20px;
  }
  .custom-header-wrapper .desktop-version {
    display: none;
  }
  .custom-header-wrapper .mobile-version {
    display: block;
  }
}
@media (max-width: 900px) {
  .white-wrapper {
    flex: 0 48%;
  }
  .title-wrap h1,
  .title-wrap h1 a {
    font-size: 30px;
    line-height: 40px;
  }
  .title-sub-wrap h2 {
    font-size: 20px;
  }
  ul.post-filter-outer li:last-child {
    margin-right: 0px;
  }
  .blog-content-one {
    padding-top: 0;
  }
}

@media (max-width: 880px) {
  .blog-post-wrapper .section.post-body {
    padding: 0px 20px;
  }
}
@media (max-width: 812px) {
  .solution-briefs-list-inner {
    flex: 0 46%;
  }
  .listdesk-banner-wrap {
    display: none !important;
  }
  .list-banner-section {
    display: block;
  }
  .list-banner-left {
    padding: 50px 20px;
    position: relative;
    text-align: center;
  }
  .list-banner-heading h1 {
    font-size: 30px;
    line-height: 41px;
    color: #fff;
  }
  .list-banner-content p {
    font-size: 18px;
    color: #fff;
  }
  .list-banner-left:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(0deg 0% 0% / 45%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .list-banner-wrap.listmob-banner-wrap {
    padding: 0px;
  }
  .list-banner-heading,
  .list-banner-content,
  .list-banner-sub {
    position: relative;
    z-index: 9;
  }
  .list-banner-sub {
    display: none;
  }
  .list-pod-wrap {
    padding: 20px;
  }
  .list-pod-link a {
    color: #666666;
    background-image: none;
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 16px;
  }
  .list-pod-link a:hover {
    background-image: none;
    box-shadow: none;
    color: #666666;
  }
  .list-lp-wrap {
    text-align: center;
    padding-bottom: 50px;
    position: relative;
  }
  .list-lp-wrap:after {
    content: "";
    position: absolute;
    width: 155px;
    height: 1px;
    background-color: #ef1e1b;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 24px;
  }
  .post-item-right .post-header:before {
    content: none;
  }
  .post-header h2 a {
    font-size: 20px;
    line-height: 30px;
  }
  .blog-section.blog-first-section {
    text-align: center;
  }
  .post-item-right .post-header h2 {
    line-height: 30px;
  }
  .date-time-wrap {
    justify-content: center;
  }
  .post-item-inner .slick-custom-arrow-left {
    left: calc(50% - 34px);
  }
  .post-item-inner .slick-custom-arrow.slick-custom-arrow-right.slick-arrow {
    right: calc(50% - 24px);
  }
  .post-listing.slick-slide.slick-current.slick-active {
    display: none;
  }
  .post-item-inner {
    display: block;
  }
  .post-item-left .hs-featured-image-wrapper {
    position: relative;
    margin-bottom: 40px;
  }
  .post-item-left .hs-featured-image-wrapper:after {
    content: "";
    position: absolute;
    width: 155px;
    height: 1px;
    background-color: #ef1e1b;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -25px;
  }
  .post-item.pod-post-item.mob-slider {
    margin-bottom: 10px;
  }
  .blog-load-more {
    margin-top: 60px;
  }
  .post-item-inner .slick-custom-arrow {
    bottom: -30px;
  }
  span.time-wrap {
    margin: 0px;
  }
  .list-blog-one-section,
  .lp-epi-list-outer {
    width: 100% !important;
    margin: 0px !important;
  }
  .blog-section.blog-first-section {
    margin-bottom: 30px;
  }
  .post-read-more a {
    justify-content: center;
  }
  .related-tab-inner a {
    font-size: 14px;
  }
  .post-section,
  .blog-post-sidebar {
    margin: 0px !important;
    width: 100% !important;
  }
  .pod-app-outer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pod-app-inner {
    flex: 0 48%;
  }
  .sidebar-bottom {
    text-align: center;
  }
  .share-this-links ul {
    justify-content: center;
  }
  .listen-now-heading h2:after,
  .share-this-heading h2:after {
    right: 0;
  }
  .listen-now-heading {
    text-align: center;
    padding: 0px 20px;
  }
  .related-tab-inner {
    display: block;
    text-align: center;
  }
  .related-tab-inner p {
    padding: 0px;
  }
  .related-links-heading {
    text-align: center;
  }
  .blog-post-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
  }
  .pod-video-wrapper {
    padding: 0px 20px 50px;
  }
  .related-links-wrapper {
    padding: 30px 20px;
    background-color: #f7f7f7;
  }
  .related-links-heading h3:after {
    right: 0;
  }
  .pod-video-wrapper {
    text-align: center;
  }
  .pod-video-heading h2:after {
    right: 0;
  }
  .meet-expert-wrapper {
    padding: 20px;
    text-align: center;
  }
  .meet-expert-section {
    display: block;
  }
  .expert-img {
    margin: 0 auto 30px;
    width: 214px;
  }
  .meet-expert-header h2:after {
    right: 0;
  }
  .blog-post-wrapper .section.post-body {
    text-align: center;
    padding: 20px;
  }
  .backto-button {
    text-align: center;
  }
  .backto-button a {
    position: relative;
    overflow: hidden;
    height: 0px;
    font-size: 0;
  }
  .backto-button a:before {
    position: absolute;
    opacity: 1;
    left: 0;
    right: 0;
    border: 2px solid #ef1e1b;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ef1e1b;
  }
  .post-section {
    padding: 0px 0px;
    text-align: center;
  }
  .post-sidebar {
    padding: 20px;
  }
  .post-banner-date {
    text-align: center;
  }
  .post-banner-date p {
    justify-content: center;
  }
  .section.post-body h3:after {
    right: 0;
  }
  .post-sidebar {
    padding: 20px;
  }
  .blog-contet-two .post-item {
    flex: 0 46%;
  }
  .related-post-item {
    flex: 0 48%;
  }
  ul.post-filter-outer li {
    font-size: 12px;
  }
  .whitepaper-post-sections .section.post-body {
    padding: 0px;
    text-align: left;
  }
  .whitepaper-post-sections .row-fluid .widget-span {
    width: 100% !important;
    margin: 0px !important;
  }

  .whitepaper-post-sections {
    padding-bottom: 50px;
  }
  .blog-post-sections .section.post-body ul {
    text-align: left;
  }
  .conv-run-wrapper {
    padding: 20px;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .podcast-banner-right {
    display: none;
  }
  .whitepapaer-post div#hubspot-author_data {
    text-align: center;
  }
  .podcast-banner-inner {
    display: block;
    text-align: center;
  }
  .podcast-banner-heading h1,
  .podcast-banner-heading h2,
  .podcast-banner-heading h3,
  .podcast-banner-content p,
  .podcast-banner-heading h4,
  .podcast-banner-heading h5 {
    color: #fff !important;
  }
  .podcast-banner-heading h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .podcast-banner-content p {
    font-size: 18px;
    line-height: 24px;
  }
  .feature-show-inner {
    display: block;
    text-align: center;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 7px #0000001a;
    padding: 30px;
  }
  .feature-show-heading {
    margin: 0px;
  }
  .feature-show-left {
    margin-bottom: 30px;
  }
  .podcats-app-inner a {
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #ec2227;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(236, 34, 39, 0.95)),
        to(rgba(236, 34, 39, 0.95))
      ),
      url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(
        180deg,
        rgba(236, 34, 39, 0.95),
        rgba(236, 34, 39, 0.95)
      ),
      url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position:
      0px 0px,
      50% 50%;
    background-size: auto, 420px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    line-height: inherit;
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .podcats-app-inner a span {
    color: #fff;
  }
  .feature-podcast-list {
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  span.pod-app-name {
    width: auto;
  }
  .podcats-app-inner {
    flex: 0 48%;
    margin-bottom: 15px;
    padding: 0px;
  }
  .pod-subscribe-form form {
    display: block;
  }
  .pod-subscribe-form input.hs-button.primary.large {
    min-width: 234px;
    margin-top: 10px;
  }
  .post-name {
    text-align: left;
  }
  .mobile-epi-box,
  .mobile-slider-wrappper,
  .mobile-blog-post {
    display: block !important;
  }
  .recent-epi-box,
  .desktop-post-wrappper,
  .desktop-blog-post {
    display: none !important;
  }
  .post-name a {
    font-size: 22px;
    line-height: 30px;
  }
  .blog-section.blog-all-post .blog-listing-wrapper {
    padding-bottom: 30px !important;
  }
  .blog-load-more {
    display: none;
  }
  .pod-subscribe-form .hs-input::placeholder {
    text-align: center;
  }
  .pod-subscribe-wrapper {
    padding: 50px 20px 20px;
  }
  .recent-episode-wrapper .slick-custom-arrow {
    bottom: -50px;
  }
  .post-filter-out-wrap {
    display: none;
  }
  .post-item.list-first-banner .hs-featured-image-link {
    padding: 0;
  }
  .post-item.list-first-banner {
    display: block;
  }
  .list-first-left {
    background: none !important;
    height: 100% !important;
  }
  .list-first-left .hs-featured-image-wrapper img {
    opacity: 1;
  }
  .list-first-right {
    padding: 20px;
    text-align: center;
  }
  .topic-wrap p {
    justify-content: center;
  }
  .title-wrap h1,
  .title-wrap h1 a {
    font-size: 26px;
    line-height: 39px;
  }
  .title-wrap h1:after {
    right: 0;
    margin: 0 auto;
  }
  .title-sub-wrap h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .social-share-wrap {
    padding: 20px 0px;
  }
  .social-share-wrap ul {
    justify-content: center;
  }
  .list-section {
    background-color: #f4f4f4;
    padding: 20px;
  }
  .blog-search-wrap .hs-search-field {
    margin: 0 auto;
    background-color: transparent;
  }
  .blog-list-wrapper {
    padding: 0px 20px 0px;
  }
  .post-item.pod-post-item.mob-slider {
    box-shadow: 0px 0px 12px #00000017;
    border-radius: 5px;
  }
  .related-post-item {
    flex: 0 48%;
  }
  .post-banner-section {
    padding: 20px 20px 50px;
    text-align: center;
  }
  .topic-wrap p {
    justify-content: center;
  }
  .post-name h1 {
    font-size: 26px;
    line-height: 39px;
  }
  .post-name h1:after {
    right: 0;
    margin: 0 auto;
  }
  .social-share-wrap {
    padding: 10px 0px 20px;
  }
  .social-share-wrap ul {
    justify-content: center;
  }
  .blog-post-sections .blog-post-wrapper.cell-wrapper {
    padding: 0px 0px 0px;
  }
  .blog-post-text .section.post-body {
    text-align: left;
  }
  .post-social-heading h3 {
    margin: 0px;
  }
  .post-social-section {
    padding: 0px 20px 50px;
  }
  .blog-author-section {
    display: block;
  }
  .author-img {
    width: 145px !important;
    height: 145px !important;
    margin: 0 auto 30px;
  }
  .post-social-links ul {
    flex-wrap: wrap;
  }
  .post-social-links ul li {
    padding-bottom: 10px;
  }
  .blog-author-wrapper {
    padding: 20px;
  }
  .author-img img {
    height: 120px;
    width: 120px;
  }
  .author-bio {
    text-align: center;
  }
  .related-post-item {
    flex: 0 100%;
    margin-bottom: 30px;
  }
  .related-post-outer-wrapper {
    padding-bottom: 0px;
  }
  .post-banner-section .post-name {
    text-align: center;
  }
  .footer-social-wrapper .row-fluid {
    display: flex;
  }
  .footer-social-wrapper .row-fluid {
    grid-gap: 0px;                /* On many pages it is display grid , grid-gap:0 to reduced the gap between the social icons */
  }
  .footer-social-one {
    padding-right: 2%;
  }
  .hs-ft-menu .hs-menu-wrapper > ul > li > ul > li > a {
    padding: 12px 0px;
  }
}
@media (max-width: 479px) {
  .feature-podcast-list {
    display: block;
  }
  .list-pod-link {
    width: 100%;
    margin-right: 0px;
  }
  .pod-app-inner {
    flex: 0 100%;
  }
  .pod-app-inner a {
    max-width: 250px !important;
    margin: 0 auto;
    justify-content: center;
  }
  .pod-app-inner a span {
    flex: inherit;
  }
  .solution-briefs-list-inner {
    margin-bottom: 10% !important;
  }
  .solution-brief-banner .div-block-2 {
    top: 50px;
  }
}
