<!--
  templateType: "page"
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
  {% module "page_banner" path="../modules/page-banner.module", label="Header Banner" %}
  {% dnd_area "dnd_area" class='body-container'%}
    <!-- generates an empty drag and drop area drop-section -->
  {% end_dnd_area %}
{% endblock body %}

<style>
  .body-container > .row-fluid-wrapper > .row-fluid > .widget-span > .row-depth-1 {
    padding-inline: var(--spacer-lg);
  }

  .body-container > .row-fluid-wrapper > .row-fluid > .widget-span > .row-depth-1 > .row-fluid {
    max-width: {{ theme.spacing.max_width }}px;;
  }

  /* Mobile Styles */
  {% set mobile_breakpoint = theme.responsive_breakpoints|selectattr("name", "equalto", "mobile")|first %}
  {% set mobile_query = mobile_breakpoint.mediaQuery|default("@media (max-width: 991px)") %}

  {{ mobile_query }} {
    /* CSS that only applies to mobile */
    .body-container > .row-fluid-wrapper > .row-fluid > .widget-span > .row-depth-1 {
      padding-inline: var(--spacer-md);
    }
  }
</style>
