<!--
  templateType: "page"
  isAvailableForNewContent: true
-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ html_lang }}" {{ html_lang_dir }}> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ html_lang }}" {{ html_lang_dir }}>        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ html_lang }}" {{ html_lang_dir }}>               <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="{{ html_lang }}" {{ html_lang_dir }}> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../css/main.css")) }} 
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
  
    {{ required_head_tags }}
    {{ require_css(get_asset_url("/HotWax_2021/Code Files/Device Styles.css")) }}
    {{ require_css(get_asset_url("/HotWax_2021/Code Files/Hotwax_Stylesheet_2021.css")) }}
    {{ require_js(get_asset_url("/HotWax_2021/Code Files/Hotwax-Script-2021.js")) }}
    {{ user_head_overrides }}
</head>
<body>
  {% block header %}
    {{ standard_header_includes }}
    {% global_partial path="./partials/simple-header.html" %}
  {% endblock header %}
  
  {% block body %}
    {% dnd_area "dnd_area" class='body-container'%}
      <!-- generates an empty drag and drop area drop-section -->
    {% end_dnd_area %}
  {% endblock body %}
  
  {% block footer %}
    {% global_partial path="./partials/footer.html" %}
    {{ standard_footer_includes }}
  {% endblock footer %}
</body>
</html>
