<!--
  templateType: "page"
  isAvailableForNewContent: true
-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ html_lang }}" {{ html_lang_dir }}> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ html_lang }}" {{ html_lang_dir }}>        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ html_lang }}" {{ html_lang_dir }}>               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ html_lang }}" {{ html_lang_dir }}> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">

    {{ require_css(get_asset_url("/hotwax-theme/css/main.css")) }} 
  
    {{ required_head_tags }}
    {{ require_css(get_asset_url("/HotWax_2021/Code Files/Hotwax_Stylesheet_2021.css")) }}
    {{ require_js(get_asset_url("/HotWax_2021/Code Files/Hotwax-Script-2021.js")) }}
    {{ user_head_overrides }}

</head>
<body class=" {{ builtin_body_classes }}" style="">
    {% block header %}
        {{ standard_header_includes }}
        {% global_partial path="/hotwax-theme/templates/partials/simple-header.html" %}
    {% endblock header %}

<div class="body-container-wrapper">
    <div class="body-container container-fluid">

<div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-custom_widget table-of-contents" style="" data-widget-type="custom_widget" data-x="0" data-w="3">
{% module_block module "module_165818571504151" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Table of Contents - Live', per_widget_wrapper_html='', wrapping_html='', widget_name='Table of Contents clone', overrideable=True, module_id=79533887082, label='Table of Contents clone' %}
{% end_module_block %}

</div><!--end widget-span -->
<div class="span9 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="3" data-w="9">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657221819977112" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
{% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657229691596588" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
{% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div id="section-1" class="span12 widget-span widget-type-cell banner-content__section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657224103024325" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_165728965805175" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div id="section-2" class="span12 widget-span widget-type-cell banner-content__section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-8 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657289721194101" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-9 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="test--2" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657289741164141" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-10 ">
<div class="row-fluid ">
<div id="section-3" class="span12 widget-span widget-type-cell banner-content__section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-11 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657289781204178" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-12 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657289777406170" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-13 ">
<div class="row-fluid ">
<div id="section-4" class="span12 widget-span widget-type-cell banner-content__section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-14 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657289723659109" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-15 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1657290456567228" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-16 ">
<div class="row-fluid ">
<div id="section-5" class="span12 widget-span widget-type-cell banner-content__section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-17 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_165729311542335" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, module_id=78605507356, label='Banner With Text and Image' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-18 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_165729313668072" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
  {% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-19 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container banner-content__section" style="" data-widget-type="widget_container" data-x="0" data-w="12">
{% widget_container "module_1659538702738348" per_widget_wrapper_html='', wrapping_html='', overrideable=False, label='Module group' %}
{% module_block module "module_1657293883178172" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, label='Banner With Text and Image' %}
{% end_module_block %}
{% module_block module "module_1657294021190216" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, label='Rich Text' %}
{% end_module_block %}

{% end_widget_container %}
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-20 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-widget_container banner-content__section" style="" data-widget-type="widget_container" data-x="0" data-w="12">
{% widget_container "module_1659538743496394" per_widget_wrapper_html='', wrapping_html='', overrideable=False, label='Module group' %}
{% module_block module "module_1657294063651249" path='/HotWax_2021/Custom Modules/Pillar page/Pillar - Section Header', per_widget_wrapper_html='', wrapping_html='', widget_name='Banner With Text and Image', overrideable=True, label='Banner With Text and Image' %}
{% end_module_block %}
{% module_block module "module_1657294071585268" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, label='Rich Text' %}
{% end_module_block %}

{% end_widget_container %}
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-21 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell " style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-22 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-custom_widget " style="" data-widget-type="custom_widget" data-x="0" data-w="12">
{% module_block module "module_1726203714576232" path='@hubspot/rich_text', per_widget_wrapper_html='', wrapping_html='', widget_name='Rich Text', overrideable=True, module_id=1155639, label='Rich Text' %}
{% end_module_block %}

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

    </div><!--end body -->
</div><!--end body wrapper -->

    {% block footer %}
        {% global_partial path="/hotwax-theme/templates/partials/footer.html" %}
        {{ standard_footer_includes }}
    {% endblock footer %}


    
    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
</body>
</html>

<style>
    body {
        margin-block-start: 80px;
    }
</style>
