.tcc_wrap {
  padding: 50px 0 80px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); 
  overflow: hidden; 
}

.tcc_wrap .tcc_top h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 35px;
}
.tcc_wrap .tcc_top {
  padding: 20px 15px;
}

.tcc_wrap .tcc_item_pd {
  padding: 10px;
  margin-bottom: 35px;
}

.tcc_wrap .page-center {
  padding: 0 5px;
  line-height: 24px;
}

.tcc_wrap .tcc_item_inr i {
  font-style: normal;
}

@media(max-width:767px){

  .tcc_wrap .tcc_item {
    padding: 10px 20px;
  } 
  .tcc_wrap { 
    padding: 50px 0 70px;
  }

}
