.frame {
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    container-name: card;
    height: 100%;
    background-color: lightgray;
    border-radius: 20px;
    color: var(--font-color-body);
    --below-image: 1;
    overflow: hidden;
    justify-content: space-between;
    background-repeat: no-repeat;
}

/* ratios */
.frame-graphic {
    --ratio-iPhone-dy: calc(863/433);
    --ratio-iPhone-mx:calc(29/433);
    --ratio-iPhone-my:calc(25.5/433);
    --ratio-iPhone-content-dx: calc(375/433);
    --ratio-iPhone-shadow-dx: calc(691/433);
    --ratio-iPhone-shadow-dy: calc(1060/433);
    --ratio-iPhone-shadow-px: calc(17/341);
    --ratio-iPhone-shadow-py: calc(32/375);

    --ratio-iPad-dy: calc(1132/1474);
    --ratio-iPad-mx:calc(54/1474);
    --ratio-iPad-my:calc(54/1474);
    --ratio-iPad-content-dx: calc(1366/1474);
    --ratio-iPad-shadow-dx: calc(1680/1474);
    --ratio-iPad-shadow-dy: calc(1336/1474);
    --ratio-iPad-shadow-px: calc(55/1366);
    --ratio-iPad-shadow-py: calc(78/1366);
}

.frame-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.frame-graphic {
    --iPhone-shadow-width: calc(var(--iPhone-width)*var(--ratio-iPhone-shadow-dx));
    --iPhone-shadow-height: calc(var(--iPhone-width)*var(--ratio-iPhone-shadow-dy));

    --iPad-shadow-width: calc(var(--iPad-width)*var(--ratio-iPad-shadow-dx));
    --iPad-shadow-height: calc(var(--iPad-width)*var(--ratio-iPad-shadow-dy));
}

/* setting width for image */
.frame-graphic.iPhone > *, .frame-graphic.iPad > * {
    width: var(--content-width);
}

/* generic graphic settings */
/* using display block to remove character underhang */
.frame-graphic > * {
    display: block;
    max-height: var(--graphic-height);
}

/* iPhone graphic */
.frame-graphic.iPhone > img { 
    --content-width: var(--iPhone-width);
}

/* iPad graphic */
.frame-graphic.iPad > img {
    --content-width: var(--iPad-width);
}

.frame-graphic.iPad.medium {
    --iPad-width: 580px;
}

/* variable mapping when frame is added */

/* iPhone frame */
/* specifically setting device height when frame is added because element height only accounts for content width. 
   user is inputting perceived width but element width is smaller when frame is imposed on top of the image */
.add-device.iPhone {
    --iPhone-height: calc(var(--iPhone-width)*var(--ratio-iPhone-dy));
    --content-width: calc(var(--iPhone-width)*var(--ratio-iPhone-content-dx));
    margin-block: calc(var(--iPhone-width)*var(--ratio-iPhone-my));
}

.add-device.iPhone > * {
    margin: 0 calc(var(--iPhone-width)*var(--ratio-iPhone-mx));
}

.iPhone.add-device::before{
    top: calc(var(--content-width)*var(--ratio-iPhone-shadow-py)*-1);
    left: calc(var(--content-width)*var(--ratio-iPhone-shadow-px)*-1);
    --iPhone-shadow-width: calc(var(--iPhone-width)*var(--ratio-iPhone-shadow-dx));
    --iPhone-shadow-height: calc(var(--iPhone-width)*var(--ratio-iPhone-shadow-dy));
}

.iPhone.add-device::after{
    background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Product%20Imagery/iPhone_Frame.png);
    width: var(--iPhone-width);
    height: var(--iPhone-height);
    background-size: var(--iPhone-width) var(--iPhone-height);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -3%;
    left: 0;
    z-index: var(--above-image);
}

/* iPad frame */
.add-device.iPad {
    --iPad-height: calc(var(--iPad-width)*var(--ratio-iPad-dy));
    --content-width: calc(var(--iPad-width)*var(--ratio-iPad-content-dx));
    margin-block: calc(var(--iPad-width)*var(--ratio-iPad-my));
}

.add-device.iPad > * {
    margin: 0 calc(var(--iPad-width)*var(--ratio-iPad-mx));
}

.iPad.add-device::before{
    top: calc(var(--content-width)*var(--ratio-iPad-shadow-py)*-1);
    left: calc(var(--content-width)*var(--ratio-iPad-shadow-px)*-1);
    --iPad-shadow-width: calc(var(--iPad-width)*var(--ratio-iPad-shadow-dx));
    --iPad-shadow-height: calc(var(--iPad-width)*var(--ratio-iPad-shadow-dy));
}

.iPad.add-device::after{
    background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Product%20Imagery/iPad_Frame.png);
    width: var(--iPad-width);
    height: var(--iPad-height);
    background-size: var(--iPad-width) var(--iPad-height);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -3%;
    left: 0;
    z-index: var(--above-image);
}

/* desktop styles */
@media only screen and (min-width: 980px) {

    .frame.banner.device {
        display: grid;
        grid-template-columns: repeat(12,minmax(0,1fr));
    }
    
    .frame.banner.device > div {
        grid-column: span 6;  
    }
    
    .add-device {
    }

    .frame-graphic.iPhone {
        --iPhone-width: 260px;
    }

    .frame-graphic.iPad {
        --iPad-width: 750px;
    }

    .frame-graphic.iPad.medium {
        --iPad-width: 624px;
    }

}

@container card (max-width: 500px) {

    .frame-graphic.iPhone.large {
        --iPhone-width: 243px;
    }
}

@container card (min-width: 500px) {
    .frame-graphic.iPhone.large {
        height: 680px;
        --iPhone-width: 477px;
    }

    .frame-graphic.iPad.large {
        --iPad-width: 900px;
        height: 40vh;
    }
}