.first-fold {
    text-align: center;
    padding: 72px 0 0;
    background-image: var(--fashion-background);
    background-size: auto, auto, 1150px;

}

.company > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-family-special);
    color: #000;
    font-size: 56px;
    line-height: 61px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
}

.subtitle {
    font-family: var(--font-family-special);
    font-weight: 700;
    font-size: 24px;
    color: rgba(102, 102, 102, 1);
}

.first-fold > strong {
    font-family: var(--font-family-special);
    font-size: 34px;
    color:rgba(34, 34, 34, 1);
    margin: 36px 0 90px;
    display: block;
    line-height: 160%;
}

.value-props {
    padding: 0 16px;
}

.value-props {
    display: grid;
    place-items: center;
    gap: 22px;
}

.branded-divider {
    height: 5px;
    width: 40px;
    background-color: rgba(247, 148, 33, 1);
}

.value-prop-name > a {
    font-family: var(--font-family-special);
    font-weight: 700;
    color: rgba(39, 39, 39, 1);
    text-decoration: none;
}

.value-prop-impact {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    color: rgba(102, 102, 102, 1);
    margin-top: 10px;
}

.clients {
    background-color: white;
    padding: 50px 0 30px;
}

.clients > h2 {
    margin-top: 8px;
    margin-bottom: 9px;
    color: var(--red);
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
}

.client-logos {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-auto-rows: 50px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 33px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.client-logos {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    opacity: .76;
    padding: 0 16px;
}

.client-logos > img {
    height: 120%;
    height: 80px;
    object-fit: contain;
    max-width: 140px;
    filter: grayscale(100%);
}

.hex-divider {
    width: 8px;
    height: 8px;
    background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/hex-divider.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.first-fold .hs-button {
    margin-block: 50px;
}


@media (min-width: 991px) {
  .value-prop-name { 
    font-size: 30px;
  }
}
