.advanced-video {
	position: relative;
	overflow:hidden;

}
.advanced-video .advanced_video_content_wrap {
	position: relative;
	z-index: 1;
}
.advanced-video .ad_top-section{
	margin-bottom:40px;
}
.advanced-video .ad_top-section p:last-child{
	margin-bottom:0;
}
.advanced-video .ad_video-section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.advanced-video .ad_video-section .play-button svg {
	width: 48px;
	height: 48px;
}
.advanced-video .button_item a {
	display: flex;
	gap: 5px;
	align-items: center;
}
.advanced-video .button_item a svg,
.advanced-video .button_item a img{
	vertical-align:middle;
}