{% import "../../macros/macros.html" as macro %}
<div class="{{ name }} tst_sliderv2 {{ module.advanced_customization.css_class_selector }}" id="{{ module.advanced_customization.css_id_selector }}">
	{{ macro.background_settings(module.style.background_settings) }}
	<div {{ macro.width(module.style.container_settings) }}>  
		<div class="tst_slider_inr glide heropeek1" id="options-type">
			<div class="glide__track" data-glide-el="track">
				<ul class="glide__slides">
					{% for item in module.testimonial_slider %} 
					<div class="glide__slide slider_item {% if module.style.image_type == 'rectangle' %}rect{% endif %}"> 
						<div class="grd_item_inr {% if not item.author_image.src %}no_img{% endif %}"> 
							{% if item.author_image.src %}  
							<div class="tst_author_img ">
								<div class="tst_img"> 
									<img src="{{ item.author_image.src }}" alt="{{ item.author_image.alt }}"> 
								</div> 	
								{% if module.style.image_type == 'rectangle' %}
								<div class="tst_grd grd1"></div> 
								{% endif %}
								{% if module.style.image_type == 'circle' %}
								<div class="tst_grd grd1"></div> 
								{% endif %}
							</div>
							{% endif %}
							<div class="tst_cnt2_wrap"> 
								{% if module.quote_image.src %}
								<img src="{{ module.quote_image.src }}" alt="{{ module.quote_image.alt }}" class="start_q">
								{% endif %}
								<div class="tst_des">  
									{% if item.description  %}
									{{ item.description }} 
									{% endif %}
								</div>
								<div class="tst_author_wrap">
									{% if  item.author || item.author_information  %}
									<div class="tst_author_des">
										{% if  item.author  %}
										<p class="ttl secondary-color">
											{{ item.author }} 
										</p>
										{% endif %}
										{% if  item.author_information  %}
										<p class="cnt primary-color">
											{{ item.author_information }}
										</p>
										{% endif %}
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</ul> 
			</div>
			{% if module.slider_settings.arrows %}
			<div data-glide-el="controls" class="glide_arrows">
				<button data-glide-dir="<" class="prev" ><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" aria-hidden="true"><g id="angle-left3_layer"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></g></svg></button>
				<button data-glide-dir=">" class="next" ><svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" aria-hidden="true"><g id="angle-right2_layer"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></g></svg></button>
			</div> {% endif %}
			{% if module.slider_settings.dots %} 
			<div class="glide__bullets" data-glide-el="controls[nav]">
				{% for item in module.testimonial_slider %}
				<button class="glide__bullet" data-glide-dir="={{ loop.index - 1 }}"></button>
				{% endfor %}
			</div>
			{% endif %}
		</div> 
		</div>
</div>

{{ require_css(get_asset_url('../../css/glide.css')) }}
{{ require_js(get_asset_url("../../js/glide.js")) }}
{% require_css %}
<style>
	.{{ name }}.tst_sliderv2 .glide_arrows>button,
	.{{ name }}.tst_sliderv2 .glide__bullet{
		background-color: {{ macro.color(module.style.slider_arrows_and_dots_background_color) }};
	}
	{% if module.style.dot_active_background_color.css %}
	.{{ name }}.tst_sliderv2 .glide__bullet.glide__bullet--active, .tst_sliderv2 .glide__bullet:hover{
		background:{{ module.style.dot_active_background_color.css }};
	}
	{% endif %}
	.{{ name }}.tst_sliderv2 .glide_arrows>button svg{ 
		fill: {{ macro.color(module.style.arrows_icon_color) }};
	}
	.{{name}}.tst_sliderv2 .rect .tst_grd{
   background: {{ module.style.background_gradient.css }}; /*For customize the gradient color at image background*/
}
	{% if module.style.override_style %}
	.{{ name }}.tst_sliderv2{
		{{ module.style.section_spacing.css }}
	} 
	.{{ name }}.tst_sliderv2 .tst_grd{		
		background:{{ module.style.item_style.background_gradient.css }}; 
	}
	.{{ name }}.tst_sliderv2 .grd_item_inr{
		{{ module.style.item_style.spacing.css }};
	} 
	.{{ name }}.tst_sliderv2 .ttl{
		{{ module.style.item_style.author_font.css }}		
	} 
	.{{ name }}.tst_sliderv2 .cnt{
		{{ module.style.item_style.author_infomation_font.css }}		
	}
	.{{ name }}.tst_sliderv2 .tst_img, 
	.{{ name }}.tst_sliderv2 .tst_grd{
		border-radius: {{ module.style.item_style.border_radius }}%;
	}

	{% endif %}
	.{{ name }}.tst_sliderv2 .glide__bullets{
		{{ module.style.slider_dots_alignment.css }}
	}
</style>
{% end_require_css %}

{% require_js %}
<script>
	var glideHeroPeek = new Glide('.{{ name }} .heropeek1', {
		type: 'carousel', 
		animationDuration: {{ module.slider_settings.speed }},
		autoplay: 3000,
		autoplay:{{ module.slider_settings.autoplay }}, 
		focusAt: '1',
		startAt: 1,
		perView: 1, 
		peek: {
		before: 0,
		after: 0
	},
											gap: 0
											});
	glideHeroPeek.mount(); 
</script>
{% end_require_js %}