.tst_sliderv2 .glide__slide {  
	margin: 0;  
} 
.tst_sliderv2 .tst_author_des > * {
	color: inherit;
} 
.tst_sliderv2 .tst_cnt2_wrap {
	position: relative;
	width: calc(100% - 250px); 
}
.tst_sliderv2 {
	position: relative;
}
.tst_sliderv2 .tst_author_img {  
	float: left;
	height: 180px;
	margin-right: 70px;
	position: relative;
	width: 180px; 
}
.tst_sliderv2 .tst_grd {  
	bottom: -5px;
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
	border-radius: 50%;
}
.tst_sliderv2 .grd_item_inr {
	padding: 30px 50px; 
	flex-wrap: wrap;
}
.tst_sliderv2 .tst_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tst_sliderv2  .grd_item_inr:after {
	content: "";
	display: block;
	clear: both;
}

.tst_sliderv2 .ttl {
	font-weight: bold;
}
.tst_sliderv2 .tst_author_img > img {
	position: absolute;
	top: 0;
	right: 2px;
} 
.tst_sliderv2 .tst_img {
	border-radius: 50%;
	height: 100%;
	overflow: hidden;
	width: 100%; 
	position: relative;
	z-index: 1;
} 
.tst_sliderv2 .start_q {
	position: absolute;
	top: 0;
	left: -70px;  
	width: 60px; 
}

.tst_sliderv2 .end_q {
	position: absolute;
	right: 0;
}

.tst_sliderv2 .tst_des p {
	margin: 0;
}
.tst_sliderv2 .tst_des { 
	font-size: 20px; 
	padding-bottom: 30px;
	position: relative;  
	padding-top: 30px; 
} 
.tst_sliderv2 .tst_author_des {
	overflow: hidden;
	text-align: left; 
}
.tst_sliderv2 {
	padding: 30px;
}  
.tst_sliderv2 .grd_item_inr.no_img .tst_cnt2_wrap {
	padding-left: 70px;
	width: 100%;
	margin-left: 0; 
}  
.tst_sliderv2 .grd_item_inr.no_img .tst_cnt2_wrap .start_q {
	left: 0;
} 
.tst_sliderv2 .glide_arrows > button:hover { 
	opacity: 1;   
}   
.tst_sliderv2 .glide_arrows>button svg {
	fill: inherit;
} 
.tst_sliderv2 .glide_arrows > button {
	float: none;
	display: inline-block; 
	vertical-align: middle; 
	opacity: 0.7;
} 
.tst_sliderv2 .glide_arrows > button.prev {
	margin-right: 30px; 
} 
.tst_sliderv2 .glide_arrows {
	margin: 0;
	width: 95%;
	text-align: right;
	z-index: 999;
	position: relative;
	top: -60px; 
} 

.tst_sliderv2 .rect .tst_grd {
	border-radius: 8px;
	top: -26px;
	right: -17px;
}

.tst_sliderv2 .rect .tst_author_img {
	width: 210px;
	margin-right: 120px;
}

.tst_sliderv2 .rect .tst_img {
	border-radius: 8px; 
}

.tst_sliderv2 .rect .tst_cnt2_wrap {
	width: calc(100% - 350px);
}

.tst_sliderv2 .tst_cnt2_wrap {
	float: right; 
}
.tst_sliderv2 .glide .glide__bullets { 
	padding: 0 50px; 
}
.tst_sliderv2 .rect .tst_author_img { 
	margin-top: 20px;
}

@media(max-width: 850px){
	.tst_sliderv2 .tst_author_wrap { 
		flex-direction: column;
		align-items: center;
	} 
	.tst_sliderv2 .tst_author_img {
		margin: 0 0 20px;
	}
	.tst_sliderv2 .tst_author_des {
		text-align: center;
	}
	.tst_sliderv2 .grd_item_inr {
		padding: 20px;
	} 
	.tst_sliderv2 .glide_arrows { 
		top: 0; 
	}
	.tst_sliderv2 .start_q {
		left: 0; 
		width: 50px;
	}

	.tst_sliderv2 .rect .tst_cnt2_wrap {
		width: 100%;
		padding-left: 60px;
	}
	.tst_sliderv2 .rect .tst_author_img {
		margin: 20px auto 50px;
		display: block;
		float: none; 
	}
	.tst_sliderv2 .rect .tst_author_img {
		width: 180px; 
		margin: 29px auto 30px; 
	}
	.tst_sliderv2 .tst_cnt2_wrap {
		position: relative;
		width: 100%; 
	}

}

