.meet-expert-header h2 {
    color: #000;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.meet-expert-header h2:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}

.meet-expert-header {
    padding-bottom: 20px;
}

.expert-bio p {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
}

@media (max-width: 767px){ 
    .meet-expert-wrapper {
        padding: 20px;
        text-align: center;
    }
    .meet-expert-section {
        display: block;
    }
    .expert-img {
        margin: 0 auto 30px;
        width: 214px;
    }
    .meet-expert-header h2:after {
        right: 0;
    }
}