{% import "../../macros/macros.html" as macro %}
<div class="filter-{{name}} filter-wrap {{ module.advanced_customization.css_class_selector }}" {% if module.advanced_customization.css_id_selector %}id="{{ module.advanced_customization.css_id_selector }}"{% endif %}>
	{% if module.top_content %}
	<div class="filter-heading" {% if module.animation_settings.animation %}data-aos="{{ module.animation_settings.animation_type }}"{% endif %}>{{ module.top_content }}</div>
	{% endif %}
	<div class="filter-category-wrap" {% if module.animation_settings.animation %}data-aos="{{ module.animation_settings.animation_type }}"{% endif %}>
		<div class="filter-button-group" data-filter-type="filter">
			{% if module.category_show_all_text %}<a class="filter-button is-checked" data-filter="">{{ module.category_show_all_text }}</a>{% endif %}		
			{% for item in module.team_item %}	
			{% for item2 in item.category_item %} 			
			<a class="filter-button" data-filter=".{{ item2.category|lower|regex_replace("[^a-zA-Z]", "") }}">{{ item2.category }}</a>
			{% endfor %}
			{% endfor %}
		</div>
	</div>

	<div class="filter-item-wrap {% if module.style.column.override_default_style %}{{ module.style.column.column_type }}{% endif %}" {% if module.animation_settings.animation %}data-aos="{{ module.animation_settings.animation_type }}"{% endif %}>
		{% for item in module.team_item %}
		<div class="filter-item {% for item2 in item.category_item %}{{ item2.category|lower|regex_replace("[^a-zA-Z]", "") }} {% endfor %}">
			<div class="filter-item-inner {{ module.style.column.column_alignment }}" style="background-image:url({{ item.image.src }})">
				<div class="filter-item-cnt">
					<div class="filter-item-cnt-inner {{ module.style.column.alignment }}">
						{% if item.name_team %}<h5>{{ item.name_team }}</h5>{% endif %}
						{% if item.description %}<div class="filter-item-desc">{{ item.description }}</div>{% endif %}
						{% if item.read_more %}
						<p class="more">
							{% set href = item.link.url.href %}
							{% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item.link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
								>
								<span class="read-txt">{{ item.read_more }}</span>
								{% if module.reado_more_icon.read_more_icon %}
								<span class="read-icn">
									{% if module.reado_more_icon.read_more_icon == "icon" %}
									{% icon
								name="{{ module.reado_more_icon.icon.name }}"
								style="{{ module.reado_more_icon.icon.type }}"
								unicode="{{ module.reado_more_icon.icon.unicode }}"
								icon_set="{{ module.reado_more_icon.icon.icon_set }}"
							%}
									{% endif %}
									{% if module.reado_more_icon.read_more_icon == "image" %}
									{% if module.reado_more_icon.icon_image.src %}
									<img src="{{ module.reado_more_icon.icon_image.src }}" alt="{{ module.reado_more_icon.icon_image.alt }}">
									{% endif %}
									{% endif %}
								</span>
								{% endif %}
							</a>
						</p>
						{% endif %}
					</div>

					{% if item.social_boolean %}
					{% if item.social_icons.social_item %}
					<div class="filter-social {{ module.style.social_icon.alignment }}">
						{% for item2 in item.social_icons.social_item %}
						{% if item2.icon_type %}
						<div class="filter-social-item">
							{% set href = item2.link.url.href %}
							{% if item2.link.url.type is equalto "EMAIL_ADDRESS" %}
							{% set href = "mailto:" + href %}
							{% endif %}
							<a href="{{ href }}"
								{% if item2.link.open_in_new_tab %}target="_blank"{% endif %}
								{% if item2.link.rel %}rel="{{ item2.link.rel }}"{% endif %}
								>
								{% if item2.icon_type == "icon" %}
								{% icon
									name="{{ item2.icon.name }}"
									style="{{ item2.icon.type }}"
									unicode="{{ item2.icon.unicode }}"
									icon_set="{{ item2.icon.icon_set }}"
								%}
								{% endif %}
								{% if item2.icon_type == "image" %}
								<img src="{{ item2.image.src }}" alt="{{ item2.image.alt }}">
								{% endif %}
							</a>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="filter-btn-wrap {{ module.style.button_alignment.button_alignment }}">
		{{ macro.button_type2_settings(module.button_settings) }}
	</div>

</div>


<style>
	{% if module.style.top_content.override_default_style %}
	.filter-{{name}} .filter-heading {
		{% if module.style.top_content.bottom_gap %}padding-bottom:{{ module.style.top_content.bottom_gap }}px;{% endif %}
	}
	{% endif %}

	{% if module.style.category.override_default_style %}
	.filter-{{name}} .filter-button-group {
		{% if module.style.category.bottom_gap %}font-size:{{ module.style.category.bottom_gap }}px;{% endif %}
	}
	.filter-{{name}} .filter-button {
		{% if module.style.category.font_size %}font-size:{{ module.style.category.font_size }}px;{% endif %}
		{% if module.style.category.line_height %}line-height:{{ module.style.category.line_height }};{% endif %}
		{% if module.style.category.font_weight %}font-weight:{{ module.style.category.font_weight }};{% endif %}
		{% if module.style.category.color.color %}color: rgba({{ module.style.category.color.color|convert_rgb  }},{{ module.style.category.color.opacity/100 }});{% endif %}
	}
	.filter-{{name}} .filter-button.is-checked {
		{% if module.style.category.active_font_weight %}font-weight:{{ module.style.category.active_font_weight }};{% endif %}
		{% if module.style.category.active_color.color %}color: rgba({{ module.style.category.active_color.color|convert_rgb  }},{{ module.style.category.active_color.opacity/100 }});{% endif %}
	}

	{% if module.style.category.mobile_style %}
	@media(max-width:767px){
		.filter-{{name}} .filter-button {
			font-size:{{ module.style.category.mobile_font_size }}px;
			line-height:{{ module.style.category.mobile_line_height }};
		}
	}
	{% endif %}
	{% endif %}

	{% if module.style.name_team.override_default_style %}
	.filter-{{name}} .filter-item-cnt h5 {
		{% if module.style.name_team.font_size %}font-size:{{ module.style.name_team.font_size }}px;{% endif %}
		{% if module.style.name_team.line_height %}line-height:{{ module.style.name_team.line_height }};{% endif %}
		{% if module.style.name_team.font_weight %}font-weight:{{ module.style.name_team.font_weight }};{% endif %}
		{% if module.style.name_team.color.color %}color: rgba({{ module.style.name_team.color.color|convert_rgb  }},{{ module.style.name_team.color.opacity/100 }});{% endif %}
	}


	{% if module.style.name_team.mobile_style %}
	@media(max-width:767px){
		.filter-{{name}} .filter-item-cnt h5 {
			font-size:{{ module.style.name_team.mobile_font_size }}px;
			line-height:{{ module.style.name_team.mobile_line_height }};
		}
	}
	{% endif %}
	{% endif %}


	{% if module.style.content.override_default_style %}
	.filter-{{name}} .filter-item-cnt .filter-item-desc {
		{% if module.style.content.font_size %}font-size:{{ module.style.content.font_size }}px;{% endif %}
		{% if module.style.content.line_height %}line-height:{{ module.style.content.line_height }};{% endif %}
		{% if module.style.content.font_weight %}font-weight:{{ module.style.content.font_weight }};{% endif %}
		{% if module.style.content.color.color %}color: rgba({{ module.style.content.color.color|convert_rgb  }},{{ module.style.content.color.opacity/100 }});{% endif %}
	}


	{% if module.style.content.mobile_style %}
	@media(max-width:767px){
		.filter-{{name}} .filter-item-cnt .filter-item-desc {
			font-size:{{ module.style.content.mobile_font_size }}px;
			line-height:{{ module.style.content.mobile_line_height }};
		}
	}
	{% endif %}
	{% endif %}

	{% if module.style.read_more.override_default_style %}
	.filter-{{name}} .filter-item-cnt .more {
		{% if module.style.read_more.font_size %}font-size:{{ module.style.read_more.font_size }}px;{% endif %}
		{% if module.style.read_more.line_height %}line-height:{{ module.style.read_more.line_height }};{% endif %}
		{% if module.style.read_more.font_weight %}font-weight:{{ module.style.read_more.font_weight }};{% endif %}
		{% if module.style.read_more.color.color %}color: rgba({{ module.style.read_more.color.color|convert_rgb  }},{{ module.style.read_more.color.opacity/100 }});{% endif %}
		{% if module.style.read_more.color.color %}fill: rgba({{ module.style.read_more.color.color|convert_rgb  }},{{ module.style.read_more.color.opacity/100 }});{% endif %}
	}
	.filter-{{name}} .filter-item-cnt .more a{
		{% if module.style.read_more.color.color %}fill: rgba({{ module.style.read_more.color.color|convert_rgb  }},{{ module.style.read_more.color.opacity/100 }});{% endif %}
		{% if module.style.read_more.color.color %}color: rgba({{ module.style.read_more.color.color|convert_rgb  }},{{ module.style.read_more.color.opacity/100 }});{% endif %}
	}	

	{% if module.style.read_more.mobile_style %}
	@media(max-width:767px){
		.filter-{{name}} .filter-item-cnt .more {
			font-size:{{ module.style.read_more.mobile_font_size }}px;
			line-height:{{ module.style.read_more.mobile_line_height }};
		}
	}
	{% endif %}
	{% endif %}


	{% if module.style.social_icon.override_default_style %}
	.filter-{{name}} .filter-social-item a {
		{% if module.style.social_icon.color.color %}color: rgba({{ module.style.social_icon.color.color|convert_rgb  }},{{ module.style.social_icon.color.opacity/100 }});{% endif %}
		{% if module.style.social_icon.color.color %}fill: rgba({{ module.style.social_icon.color.color|convert_rgb  }},{{ module.style.social_icon.color.opacity/100 }});{% endif %}
	}	

	.filter-{{name}} .filter-social.left-align {
		justify-content: flex-start;
	}
	.filter-{{name}} .filter-social.right-align {
		justify-content: flex-end;
	}
	.filter-{{name}} .filter-social.center-align {
		justify-content: center;
	}

	{% endif %}

	{% if module.style.column.override_default_style %}
	.filter-{{name}} .filter-item-inner {
		border-radius:{{ module.style.column.border_radius }}px;
		margin-bottom:{{ module.style.column.column_bottom_gap }}px;
	}
	.filter-{{name}} .center-align {
		text-align: center;
	}
	.filter-{{name}} .right-align {
		text-align: right;
	}
	.filter-{{name}} .left-align {
		text-align: left;
	}
	.filter-{{name}} .top-align {
		align-items: start;
	}
	.filter-{{name}} .middle-align {
		align-items: center;
	}
	.filter-{{name}} .bottom-align {
		align-items: end;
	}

	.filter-{{name}} .filter-item-inner:after {
		{% if module.style.column.background_color.color %}background: rgba({{ module.style.column.background_color.color|convert_rgb  }},{{ module.style.column.background_color.opacity/100 }});{% endif %}
	}
	.filter-{{name}} .filter-item-inner:hover:after {
		{% if module.style.column.hover_background_color.color && module.style.column.hover_gradient_end_color.color %}
		background: linear-gradient(135deg, rgba({{ module.style.column.hover_background_color.color|convert_rgb  }},{{ module.style.column.hover_background_color.opacity/100 }}) 0%, rgba({{ module.style.column.hover_gradient_end_color.color|convert_rgb  }},{{ module.style.column.hover_gradient_end_color.opacity/100 }}) 100%);
		{% endif %}	
	}

	.filter-{{name}} .filter-item-wrap.two-col .filter-item {
		width: 50%;
	}
	.filter-{{name}} .filter-item-wrap.four-col .filter-item {
		width: 25%;
	}
	@media(max-width:991px){
		.filter-{{name}} .filter-item-wrap.four-col .filter-item {
			width: 50%;
		}
	}

	@media(max-width:640px){
		.filter-{{name}} .filter-item-wrap.two-col .filter-item,
		.filter-{{name}} .filter-item-wrap.four-col .filter-item{
			float: none;
			width: 100%;
		}
	}

	{% endif %}
	
	.filter-{{name}} {
		{{ module.style.section_spacing.css }}
	}

</style>

{{ require_js(get_asset_url("../../js/isotope.pkgd.js")) }}

{% require_js %}
<script>
	{% set filterVar = name|replace('-','') %}

	function removeteamDuplicates{{filterVar}}() {
		const st{{filterVar}} = new Set();
		for (const div of document.querySelectorAll('.filter-{{name}} .filter-button')) {
																  if (st{{filterVar}}.has(div.textContent.toLowerCase().trim())) {
			div.parentNode.removeChild(div);
		}
		st{{filterVar}}.add(div.textContent.toLowerCase().trim());
	}
	}
	removeteamDuplicates{{filterVar}}();


	var isoTeam{{filterVar}} = new Isotope( '.filter-{{name}} .filter-item-wrap',{
												 itemSelector: '.filter-{{name}} .filter-item',
												 });


	var filtersTeam{{filterVar}} = {};
	var filtersElem{{filterVar}} = document.querySelector('.filter-{{name}} .filter-category-wrap');
																	 filtersElem{{filterVar}}.addEventListener( 'click', function( event ) {

		var isButton{{filterVar}} = event.target.classList.contains('filter-button');
		if ( !isButton{{filterVar}} ) {
			return;
		}

		var buttonGroup{{filterVar}} = fizzyUIUtils.getParent( event.target, '.filter-{{name}} .filter-button-group' );
																		 var filterGroup{{filterVar}} = buttonGroup{{filterVar}}.getAttribute('data-filter-type');

		filtersTeam{{filterVar}}[ filterGroup{{filterVar}} ] = event.target.getAttribute('data-filter');

		var filterValue{{filterVar}} = concatValues{{filterVar}}( filtersTeam{{filterVar}} );

		isoTeam{{filterVar}}.arrange({ filter: filterValue{{filterVar}} });
	});


	var buttonGroups{{filterVar}} = document.querySelectorAll('.filter-{{name}} .filter-button-group');

																		  for ( var i=0; i < buttonGroups{{filterVar}}.length; i++ ) {
		var buttonGroup{{filterVar}} = buttonGroups{{filterVar}}[i];
		var onButtonGroupClick{{filterVar}} = getOnButtonGroupClick{{filterVar}}( buttonGroup{{filterVar}} );
		buttonGroup{{filterVar}}.addEventListener( 'click', onButtonGroupClick{{filterVar}} );
	}

	function getOnButtonGroupClick{{filterVar}}( buttonGroup{{filterVar}} ) {
		return function( event ) {

			var isButton{{filterVar}} = event.target.classList.contains('filter-button');
			if ( !isButton{{filterVar}} ) {
				return;
			}
			var checkedButton{{filterVar}} = buttonGroup{{filterVar}}.querySelector('.is-checked');
			if (checkedButton{{filterVar}} !== null) {
				checkedButton{{filterVar}}.classList.remove('is-checked');
			}			
			event.target.classList.add('is-checked');
		}
	}


	function concatValues{{filterVar}}( obj ) {
		var value = '';
		for ( var prop in obj ) {
			value += obj[ prop ];
		}
		return value;
	}
</script>
{% end_require_js %}

{% require_css %}
<style>
@media(max-width:{{ theme.media_responsive_breakpoints.tablet_breakpoint }}px){
	.filter-wrap .filter-item{
		width: 50%;
	}
}

@media (max-width: {{ theme.media_responsive_breakpoints.mobile_breakpoint }}px) {
	.filter-wrap .filter-button {
		margin-right: 25px;
		margin-bottom: 15px;
	}
}
</style>
{% end_require_css %}




