.services-main .services-wrap .service-item .service_img_wrpr {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
}
.services-main .title-wrpr h5 {
	font-weight: 400;
}
.services-main .top-content {
	margin-bottom: 50px;
	text-align: center;
}

.services-main .service-item {
	margin-bottom: 30px;
}

.services-main .service-item .service-item-inner {
	border-radius: 8px;
	padding: 30px 20px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.services-main .services-wrap.type-2 .service-item .service-item-inner {
	border-radius: 0;
}

.services-main .services-wrap .service-item .service_img_wrpr .icon-wrap {
	width: 25px;
	line-height: 50px;
	vertical-align: middle;
}

.services-main .services-wrap .service-item .service_img {
	margin-bottom: 20px;
	width: 100%;
}

.services-main .services-wrap .service-item .arrow-icon {
	position: absolute;
	top: 15px;
	right: 30px;
}

.services-main .services-wrap .service-item .arrow-icon.RIGHT {
	left: 30px;
}

.services-main .services-wrap .service-item .arrow-icon img.hover-arrow {
	display: none;
}

.services-main .services-wrap .service-item:hover .arrow-icon img.hover-arrow {
	display: block;
}

.services-main .services-wrap .service-item:hover .arrow-icon img.normal-arrow {
	display: none;
}

.services-main .button_wrap {
	text-align: center;
}

.services-main .services-wrap.type-2 .service-item {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-bottom: 0 !important;

}
.services-main .service-item:hover .service-item-inner {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.services-main .service-item .service_img,
.services-main .title-wrpr h5,
.services-main .content-wrpr p{
	text-align: CENTER;

}  
