.icn-wt-cntnt-main .button_wrap {
	text-align: center;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img_wrpr img {
	max-width: 50px;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img_wrpr img.hover-img {
	display: none;
}

.icn-wt-cntnt-main .icn-wt-cntnt-item:hover .icn-wt-cntnt_img_wrpr img.hover-img {
	display: block;
}

.icn-wt-cntnt-main .icn-wt-cntnt-item:hover .icn-wt-cntnt_img_wrpr img.normal-img {
	display: none;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img_wrpr {
	display: inline-block;
	border-radius: 100%;
	padding: 34px;
	line-height: initial;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img_wrpr svg {
	height: 46px;
	width: 50px;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img_wrpr span {
	display: inline-block;
	line-height: 0;
}

.icn-wt-cntnt-main .icn-wt-cntnt_img {
	text-align: center;
	margin-bottom: 20px;
}

.icn-wt-cntnt-main .icn-wt-cntnt-content {
	text-align: center;
}

.icn-wt-cntnt-main .title-separator {
	max-width: 80%;
	min-height: 1px;
	margin: 20px auto;
}

.icn-wt-cntnt-main .icn-wt-cntnt-item-inner {
	border-radius: 8px;
	overflow: hidden;
	padding: 20px;
}

.icn-wt-cntnt-main .icn-wt-cntnt-item-inner.left {
	display: flex;
}

.icn-wt-cntnt-wrap .icn-wt-cntnt-item {
	margin-bottom: 30px;
}

