# .gitignore

# Ignore HubSpot configuration file
# This file often contains sensitive API keys or specific environment settings
# and should not be committed to version control.
hubspot.config.yml

# Add other files/directories to ignore below this line

.DS_Store
hubspot.config.yml
package-lock.json
/node_modules