
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<div class="brand"> <a href="https://www.aylinmarie.co"><img src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/t/58debb8be58c62f81cbf17d7/1494191752948/"></a></div>

<div class="filters filter-button-group">
  <ul><h4>
    <li data-filter="*">All</li>
    {% for item in module.list_group %}
    <li data-filter=".{{ item.list_class }}">{{ item.list }}</li>
    {% endfor %}
    </h4></ul>
</div>

<div class="content grid">
  {% for item in module.image_group %}
  <div class="single-content {{ item.custom_class }} grid-item">
    {% if item.image.src %}
    {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
    {% if item.image.size_type == 'auto' %}
    {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}" style="max-width: 100%; height: auto;"' %}
    {% elif item.image.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
    {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
    <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
  {% endfor %}

  <!-- 		  <div class="single-content brand webdesign grid-item">
<img class="p2" src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/5b71c491b8a045325bf1beba/1534182696851/Screen+Shot+2018-08-13+at+1.48.35+PM.png">
</div>

<div class="single-content brand grid-item">
<img class="p2" src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/59da52ba29f187b71a84628e/1507480323521/Portfolio+Template+AMD-06.jpg">
</div>

<div class="single-content webdesign grid-item">
<img class="p2" src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/5b71a4cd0ebbe87857c695de/1534181858373/Portfolio+Template+AMD-11.png">
</div>

<div class="single-content webdesign grid-item">
<img class="p2" src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/59da3b4bf7e0ab21edcb9aa1/1507480179530/Portfolio+Template+AMD-06.png">
</div>

<div class="single-content webdesign brand grid-item">
<img class="p2"src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/59da46128419c28f51bc28b1/1534175868854/Portfolio+Template+AMD-04.png">
</div>

<div class="single-content webdesign grid-item">
<img class="p2" src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/5b71c1e221c67c0feefe2a10/1534182546003/Portfolio+Template+AMD-03.png">
</div>

<div class="single-content webdesign webdev grid-item">
<img class="p2"src="https://static1.squarespace.com/static/56c5196f4c2f85dda57c1d66/59d944df8a02c7abc311e81d/59d9455546c3c4655adade94/1507480179518/Portfolio+Template+AMD-01.png">
</div> -->


</div>

<footer>
  <p>designed and developed by <a href="http://www.aylinmarie.co">Aylin Marie</a> // Implemented with <a href="https://isotope.metafizzy.co/">Isotope</a></p>
</footer>




