.portfoliofilter-v2-wrap .portfoliofilter-v2-heading {
	text-align: center;
	padding-bottom: 80px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-heading > :last-child {
	margin-bottom: 0;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-number {
	display: none;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-button{
	margin-right: 40px;
	display: inline-block;
}


.portfoliofilter-v2-wrap .portfoliofilter-v2-button-group {
	text-align: center;
	padding-bottom: 20px;
	border-bottom:1px solid #DCDCDC;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-button-group {
	margin-bottom: 40px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-button.is-checked {
	font-weight: 600;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item {
	width: 33.33%;
	float: left;
	padding: 6px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-wrap {
	margin: 0 -6px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-inner {
	overflow: hidden;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 14%);
	transition: all 0.3s;
	border-radius: 8px;
	background-color:#fff;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-item-inner:hover {
	box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt .more {
	margin: 0;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt {
	width: 100%;
	padding-bottom:20px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt .read-icn {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt .read-icn svg {
	display: block;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt h5 {
	margin-bottom: 24px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt p {
	margin: 0 0 24px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt .read-icn img {
	vertical-align: text-top;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-item-cnt .read-txt {
	display: inline-block;
	vertical-align: middle;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 75%;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img .more {
	margin: 0;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	opacity:0;
	transition:all 0.3s;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img .more a {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
	color: #fff;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}




.portfoliofilter-v2-wrap .portfoliofilter-v2-item-inner:hover .portfoliofilter-v2-img .more {
	opacity:1;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-featitem {
	display: block;
	align-items: center;
	padding-bottom: 10px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-featitem > div {
	display: inline-block;
	vertical-align: middle;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-featicon {
	height: 24px;
	width: 24px;
	padding: 5px;
	border-radius: 50%;
	margin-right: 10px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-feattitle {
	max-width: calc(100% - 35px);
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-featicon svg {
	width: 100%;
	height: 100%;
	display: block;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-featicon img {
	display: block;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-featitem:last-child {
	padding-bottom: 0;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img .read-icn {
	width: 1em;
	height: 1em;
	margin-left: 6px;
	fill: currentColor;
	color: inherit;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img .read-icn svg {
	width: 100%;
	height: 100%;
	display: block;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-img .read-icn img {
	display: block;
}

.portfoliofilter-v2-wrap .portfoliofilter-v2-load-button {
	text-align: center;
	padding-top: 40px;
}
.portfoliofilter-v2-wrap .desc > :last-child {
	margin: 0;
}
.portfoliofilter-v2-wrap .desc{
	padding-bottom:20px;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-btn-wrap {
	text-align: center;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-btn-wrap.left-btn {
	text-align: left;
}
.portfoliofilter-v2-wrap .portfoliofilter-v2-btn-wrap.right-btn {
	text-align: right;
}




@media(max-width:640px){
	.portfoliofilter-v2-wrap .portfoliofilter-v2-item{
		float: none;
		width: 100%;
	}
}
