.subscription-form {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 30px 30px; 
}

.subscription-form form { 
  background-color: transparent; 
}

.subscription-form .hs_email {
  position: relative;
  margin-bottom: 10px;
}

.subscription-form .actions { 
  margin-top: 0 
}

.subscription-form .field>label {
  display: none;
}

.subscription-form .hs_submit { 
  max-width: 100%; 
  margin: 0 auto; 
}

.subscription-form form input[type=submit] {
  width: 100%;
  text-align: center;
  display: block;
}

.subscription-form label.hs-error-msg {
  font-size: 0.8rem;
}