.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 60px;
}


.card {
    border: 0;
    margin: 0 1.5% 3%;
}

@media screen and (min-width: 775px) {
    .card {
        flex: 0 30%;
        display: block;
    }
}
