.services-main-v2 .services-wrap .service-item .service_img_wrpr {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	overflow: hidden;
}

.services-main-v2 .services-wrap .service-item .service_img_wrpr img.hover{
	display: none;
}

.services-main-v2 .services-wrap .service-item:hover .service_img_wrpr img.hover {
	display: block;
}

.services-main-v2 .services-wrap .service-item:hover .service_img_wrpr img.normal {
	display: none;
}

.services-main-v2 .services-wrap .service-item .count-wrpr-inner {
	border-radius: 100%;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 34px;
	font-weight: 700;
}

.services-main-v2 .top-content {
	margin-bottom: 50px;
	text-align: center;
}

.services-main-v2 .service-item {
	margin-bottom: 15px;
}

.services-main-v2 .service-item .service-item-inner {
	border-radius: 8px;
	padding: 10px;
	overflow: hidden;
}

.services-main-v2 .services-wrap .service-item .service_img_wrpr .icon-wrap {
	width: 25px;
	line-height: 50px;
	vertical-align: middle;
}

.services-main-v2 .services-wrap .service-item .service_img {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	align-items: center;
	width: 100%;
}

.services-main-v2 .service-item .service-item-inner {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.services-main-v2 .services-wrap .service-item .service-item-inner .service-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.services-main-v2 .services-wrap .service-item .service-item-inner .service-content .title-wrpr{
	padding-left: 32px;
}
.services-main-v2 .button_wrap {
	text-align: center;
}

.services-main-v2 .services-wrap .service-item .service-item-inner .service-content .arrow-icon img.hover {
	display: none;
}

.services-main-v2 .services-wrap .service-item:hover .service-item-inner .service-content .arrow-icon img.normal {
	display: none;
}

.services-main-v2 .services-wrap .service-item:hover .service-item-inner .service-content .arrow-icon img.hover {
	display: block;
}

.services-main-v2 .services-wrap .service-item .service-item-inner .service-content .arrow-icon {
	min-width: 40px;
	display: flex;
	align-items: end;
}

.services-main-v2 .services-wrap .service-item .service-item-inner .service-content .arrow-icon img {
	margin-bottom: 12px;
}
.services-main-v2 .services-wrap .service-item .count-wrpr-inner {
	font-size: 21px;
}
