.image-text__text-wrapper {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #0000001A;
  border-radius: 8px;
  vertical-align:middle;
  font-style:italic;
}
.image-text > .container > .row {
  align-items:center;
}
@media only screen and (max-width: 600px) {
  .image-text__text-wrapper {
    margin-left:0;
  }
    .image-text__text {
   padding: 22px !important; 
  }
}


@media (min-width: 481px) and (max-width: 1023px) {
  .image-text .container .row {
    margin-right: -100px !important;
  }
}