.product-info-wrapper{
   position: -webkit-sticky;
   position: sticky;
    top: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: hsla(0, 0%, 97.3%, 0.7);
}
.product-info-inner{
  display:flex;
  gap: 1rem;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  max-width: 1170px;
  margin: auto;
}
.product-info-inner a{
   text-decoration: none;
    margin: 3px;
    padding: 5px 10px;
    border:1px solid #999999;
    border-radius: 4px;
    background-color: #fff;
    color: #404040;;
}
.product-info-inner p{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: solid;
    text-transform: uppercase;
    margin-bottom:0;
}
.product-info-inner a:hover{
   background-color:var(--color-secondary);
   color:#fff;  
  border:1px solid var(--color-secondary);
}