.recent-episode-wrapper {
    padding: 50px 20px 70px;
    background-color: #F7F7F7;
}

.recent-epi-heading {
    text-align: center;
}

.recent-epi-heading h2 {
    color: #000;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    line-height: 41px;
}

.recent-epi-heading h2:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}

.recent-epi-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.white-wrapper {
    flex: 0 30%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin: 1% 0;
    position: relative;
}

.white-wrapper:nth-child(3n-1) {
    margin: 1% 2%;
}
.white-wrap-inner {
    padding: 30px 25px 120px;
}

.post-name a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    line-height: 26px;
}

a.read-more {
    letter-spacing: 1.54px;
    color: #EF1E1B;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

a.read-more span {
    padding-right: 10px;
}

.read-more-link {
    position: absolute;
    bottom: 30px;
}

.post-name {
    padding-bottom: 10px;
}

.post-date {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 75px;
}
.recent-epi-more {
    text-align: center;
    padding-top: 30px;
}

.mobile-epi-box {
    display: none;
}
.carousel.slick-initialized.slick-slider {
    margin-bottom: 50px;
}
.recent-epi--subheading {
    text-align: center;
}

.recent-epi--subheading p {
    color: #666666;
    font-weight: bold;
    letter-spacing: 1.54px;
    font-size: 14px;
}

.recent-epi--subheading {
    margin-bottom: 35px;
}
.white-wrapfeatured-image a {
    text-decoration: none;
}



  