.mac-outer-wrap{
  padding:0px 50px;
}

.mac-right-left-content {
  padding-top: 100px;
  padding-bottom: 400px;
  position: relative;
}

.mac-right-left-content:before {
  background-repeat: no-repeat;
  background-size: 638px;
  content: "";
  min-height: 638px;
  position: absolute;
  right: 2px;
  top: 10%;
  width: 638px;
}

.mac-page-center {
  max-width: 1200px;
  box-sizing: border-box;
  float: none;
  margin: 0 auto;
}

/* .mac-content-block {
margin: 0 auto 0 0;
max-width: 580px;
padding-top:135px;
width: unset;
}
*/
.mac-content-block.content_right{
  margin: 0 auto 0 0;
  max-width: 580px;
  padding-top: 135px;
  width: unset;
}

.mac-heading h3 {
  color: #EC2227;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mac-heading p {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2rem;
}

/* -----------------right-content------------- */

.content_left.mac-right-left-content:before {
  background-size: cover;
  background-position: right;
}

.mac-right-left-content.content_left:before {
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  min-height: 638px;
  position: absolute;
  right: unset;
  left: 2px;
  top: 10%;
  width: 638px;
}

.content_left.mac-content-block {
  margin: 0 0 0 auto;
  max-width: 680px;
  padding-top: 135px;
  width: unset !important; 
}

/* -------------right-content-media-query---- */

@media only screen and (max-width: 1300px){
  .content_left.mac-content-block {
    margin: 0 0 0 auto !important;
    max-width: 640px !important;
    padding-top: 135px !important;
    width: unset !important;
    padding-left: 64px !important;
  }
}

@media only screen and (max-width: 1200px){

  .content_left.mac-content-block {
    margin: 0 0 0 auto !important;
    max-width: 610px !important;
    padding-top: 135px !important;
    width: unset !important;
    padding-left: 64px !important;
  }
}

@media only screen and (max-width: 1145px){

  .content_left.mac-content-block {
    margin: 0 0 0 auto !important;
    max-width: 545px !important;
    padding-top: 135px !important;
    width: unset !important;
    /* padding-left: 64px !important; */
  }
}

@media only screen and (max-width: 1091px){
  .content_left.mac-content-block {
    margin: 0 0 0 auto !important;
    max-width: 445px !important;
    padding-top: 135px !important;
    width: unset !important;
    padding-left: 120px !important;
  }
}

@media only screen and (max-width: 980px){

  .mac-outer-wrap {
    padding-bottom: 200px !important;
  }

  .content_left.mac-right-left-content:before {
    background-size: contain !important;
    background-position: center !important;
    width: 100% !important;
  }


  .mac-right-left-content {
    padding-top: 100px;
    padding-bottom: 470px;
    position: relative;
    margin: 0 25px;
  }

  .mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0px;
    top: 46%;
    width: 638px;
  }

  .mac-content-block { 
    max-width: unset !important; 
    width: unset !important;
  }

  .content_left.mac-content-block {
    margin: 0 0 0 auto !important;
    max-width: 1052px !important;
    padding-top: 135px !important;
    width: unset !important;
    padding-left: 0px !important;
  }

}

@media only screen and (max-width: 768px){
  
  .content_left.mac-right-left-content:before {
    background-position: 50%!important;
    background-size: contain!important;
    width: 95%!important;
}

}

/* --------------------left-content-Media query---------------- */

@media only screen and (max-width: 1185px){
  .mac-content-block.content_right {
    margin: 0 auto 0 0;
    max-width: 445px;
    padding-top: 135px;
    width: unset;
  }
}

@media only screen and (max-width: 980px){

  .mac-outer-wrap {
    padding-bottom: 200px !important;
  }

  .mac-right-left-content:before {
    background-size: contain !important;
    background-position: center !important;
    width: 100% !important;
  }


  .mac-right-left-content {
    padding-top: 100px;
    padding-bottom: 470px;
    position: relative;
  }

  .mac-right-left-content:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0px;
    top: 46%;
    width: 638px;
  }

  .mac-content-block { 
    max-width: unset !important; 
    width: unset !important;
  }

}

@media only screen and (max-width: 315px){
  .mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0;
    top: 50% !important;
    width: 638px;
}
}

@media only screen and (max-width: 287px){
  .mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0;
    top: 53% !important;
    width: 638px;
}
}

@media only screen and (max-width: 257px){
  .mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0;
    top: 57% !important;
    width: 638px;
}

}

