form {
  min-height: 28px;
}

.widget-type-form {
  min-height: 28px;
}

form fieldset {
  max-width: 100%!important; 
}

.hs-form label {
  display: block;
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
  padding-top: 0;
  margin-bottom: 10px;
}

.hs-error-msgs label {
  margin-top: .5rem;
  color: {{ form_error_label_color }};
}

/* Membership error message */
.form-input-validation-message ul {
  padding-left: 0;
  margin: 0;
}

.form-input-validation-message ul li {
  line-height: 1rem;
}

.hs-input {
  display: inline-block;
  width: 100%;
  padding: 9px 10px;
  font-weight: normal;
  color: {{ form_input_color }};
  background-color: #ffffff;
  border: 1px solid #D1D6DC;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}

.hs-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.hs-input input,
.hs-input textarea {
  transition: border 0.2s linear;
}
.hs-input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}

textarea.hs-input {
  height: auto;
}

select[multiple].hs-input {
  height: inherit;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: {{ form_error_border_color }};
}
input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: {{ form_error_focus_border_color }};
}

.actions {
  padding: 0;
  margin-top: 1.5rem;
}

.inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}
.inputs-list:first-child {
  padding-top: 6px;
}
.inputs-list > li + li {
  padding-top: 2px;
}
.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.hs-form-field {
  margin-bottom: 18px;
}

.hs-field-desc {
  margin: 0px 0px 6px;
  font-size: 14px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ body_font_size }};
}
.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}
.email-correction a,
.email-validation a {
  cursor: pointer;
}
@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}

.hs-button,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not(.hs-fieldtype-intl-phone) .hs-input:not([type=radio]):not([type=checkbox]),
fieldset.form-columns-1 .input>.hs-input, .hs-dateinput input {
  width: 100% !important;
}


form,
.submitted-message,
.hs-richtext {
  {% if !theme.typography.custom_font %}
    font-family: {{ theme.typography.paragraph.font.font }};
  {% endif %}
}

form.hs-form label {
  color: rgba({{ theme.forms.label_color.color|convert_rgb }}, {{ theme.forms.label_color.opacity * 0.01 }});
}

.widget-type-form .form-title {
  color: rgba({{ theme.forms.header_text_color.color|convert_rgb }}, {{ theme.forms.header_text_color.opacity * 0.01 }});
}

form legend {
  color: rgba({{ theme.forms.help_text_color.color|convert_rgb }}, {{ theme.forms.help_text_color.opacity * 0.01 }});
}

form.hs-form fieldset.form-columns-3 .hs-form-field {
  width: 33.3%;
}

form input,
form .hs-input,
form select,
form textarea {
  border-color: rgba({{ theme.forms.field_border_color.color|convert_rgb }});
  color: {{ theme.typography.paragraph.text_color.color }};
}

form input:focus,
form .hs-input:focus,
form select:focus,
form textarea:focus {
  border-color: rgba({{ theme.forms.field_focus_border_color.color|convert_rgb }}, {{ theme.forms.field_focus_border_color.opacity * 0.01 }});
}

.fn-date-picker .pika-table thead th {
  color: rgba({{ theme.tables.header_text_color.color|convert_rgb }}, {{ theme.buttons.secondary.secondary.text_hover_color.opacity * 0.01 }});
}

.hs-input:-moz-placeholder,
.hs-input::-webkit-input-placeholder,
.hs-field-desc,
.hs-dateinput:before,
.hs-richtext {
  color: {{ theme.typography.paragraph.text_color.color }};
}

.fn-date-picker td.is-today .pika-button {
  color: {{ theme.colors.primary.color }};
}

.fn-date-picker td.is-selected .pika-button {
  background: {{ theme.colors.highlight.color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ theme.colors.highlight.color }} !important;
}

form input[type=submit],
form .hs-button  {
  white-space: pre-wrap;
}

.hs-input:-moz-placeholder {
  color: rgba({{ theme.forms.placeholder_color.color|convert_rgb }}, {{ theme.forms.placeholder_color.opacity * 0.01 }}) ;
}

.hs-input::-webkit-input-placeholder {
  color: rgba({{ theme.forms.placeholder_color.color|convert_rgb }}, {{ theme.forms.placeholder_color.opacity * 0.01 }}) ;
}

{% if form_submit_style == 'primary' %}

  form input[type=submit],
  form .hs-button {
    {% if !theme.typography.custom_font %}
      {{ button_primary_font.style }};
    {% endif %}
    background-color: {{ button_primary_bg_color }};
    border: {{ button_primary_border }};
    border-radius: {{ button_primary_corner_radius }};
    color: {{ theme.buttons.primary.text_color.color }};
    fill: {{ button_primary_font.color }};
    padding: {{ button_regular_spacing }};
    text-transform: {{ button_primary_text_transform }};
    {% if theme.buttons.primary.border.drop_shadow %}
      -webkit-box-shadow: 0 0.625em {{ theme.buttons.primary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.primary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.primary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.primary.border.shadow_color.opacity }}{% endif %});
      box-shadow: 0 0.625em {{ theme.buttons.primary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.primary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.primary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.primary.border.shadow_color.opacity }}{% endif %});
    {% else %}
      -webkit-box-shadow: unset;
      box-shadow: unset;
    {% endif %}
  }

  form input[type=submit]:hover,
  form input[type=submit]:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    background-color: {{ button_primary_bg_color_hover }};
    border: {{ button_primary_border_hover }};
    color: {{ theme.buttons.primary.hover.text_color.color }};
    {% if theme.buttons.primary.hover.expand_on_hover %}
      transform: scale(1.03);
    {% endif %}
  }

  form input[type=submit]:active,
  form .hs-button:active {
    background-color: rgba({{ color_variant(theme.buttons.primary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.primary.hover.bg_color.opacity }});
    border: {{ button_primary_border_hover }};
    border-color: {{ color_variant(theme.buttons.primary.hover.border.color.color, 80) }};
}

{% elif form_submit_style == 'secondary' %}

  form input[type=submit],
  form .hs-button {
    {% if !theme.typography.custom_font %}
      {{ button_secondary_font.style }};
    {% endif %}
    background-color: {{ button_secondary_bg_color }};
    border: {{ button_secondary_border }};
    border-radius: {{ button_secondary_corner_radius }};
    color: {{ theme.buttons.secondary.text_color.color }};
    fill: {{ button_secondary_font.color }};
    padding: {{ button_regular_spacing }};
    text-transform: {{ button_secondary_text_transform }};
    {% if theme.buttons.secondary.border.drop_shadow %}
      -webkit-box-shadow: 0 0.625em {{ theme.buttons.secondary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.secondary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.secondary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.secondary.border.shadow_color.opacity }}{% endif %});
      box-shadow: 0 0.625em {{ theme.buttons.secondary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.secondary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.secondary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.secondary.border.shadow_color.opacity }}{% endif %});
    {% else %}
      -webkit-box-shadow: unset;
      box-shadow: unset;
    {% endif %}
  }

  form input[type=submit]:hover,
  form input[type=submit]:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    background-color: {{ button_secondary_bg_color_hover }};
    border: {{ button_secondary_border_hover }};
    color: {{ theme.buttons.secondary.hover.text_color.color }};
    fill: {{ button_secondary_font_hover.color }};
    {% if theme.buttons.secondary.hover.expand_on_hover %}
      transform: scale(1.03);
    {% endif %}
  }

  form input[type=submit]:active,
  form .hs-button:active {
    background-color: rgba({{ color_variant(theme.buttons.secondary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.secondary.hover.bg_color.opacity }});
    border: {{ button_secondary_border_hover }};
    border-color: {{ color_variant(theme.buttons.secondary.hover.border.color.color, 80) }};
    color: {{ color_variant(button_secondary_font_hover.color, 80) }};
    fill: {{ color_variant(button_secondary_font_hover.color, 80) }};
  }

{% elif form_submit_style == 'tertiary' %}

  form input[type=submit],
  form .hs-button {
    {% if !theme.typography.custom_font %}
      {{ button_tertiary_font.style }};
    {% endif %}
    background-color: {{ button_tertiary_bg_color }};
    border: {{ button_tertiary_border }};
    border-radius: {{ button_tertiary_corner_radius }};
    color: {{ theme.buttons.tertiary.text_color.color }};
    fill: {{ button_tertiary_font.color }};
    padding: {{ button_regular_spacing }};
    text-transform: {{ button_tertiary_text_transform }};
    {% if theme.buttons.tertiary.border.drop_shadow %}
      -webkit-box-shadow: 0 0.625em {{ theme.buttons.tertiary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.tertiary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.tertiary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.tertiary.border.shadow_color.opacity }}{% endif %});
      box-shadow: 0 0.625em {{ theme.buttontertiary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.tertiary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.tertiary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.tertiary.border.shadow_color.opacity }}{% endif %});
    {% else %}
      -webkit-box-shadow: unset;
      box-shadow: unset;
    {% endif %}
  }

  form input[type=submit]:hover,
  form input[type=submit]:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    background-color: {{ button_tertiary_bg_color_hover }};
    border: {{ button_tertiary_border_hover }};
    color: {{ theme.buttons.tertiary.hover.text_color.color }};
    fill: {{ button_tertiary_font_hover.color }};
    {% if theme.buttons.tertiary.hover.expand_on_hover %}
      transform: scale(1.03);
    {% endif %}
  }

  form input[type=submit]:active,
  form .hs-button:active {
    background-color: rgba({{ color_variant(theme.buttons.tertiary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.tertiary.hover.bg_color.opacity }});
    border: {{ button_tertiary_border_hover }};
    border-color: {{ color_variant(theme.buttons.tertiary.hover.border.color.color, 80) }};
    color: {{ color_variant(button_tertiary_font_hover.color, 80) }};
    fill: {{ color_variant(button_tertiary_font_hover.color, 80) }};
  }

{% elif form_submit_style == 'simple' %}

  form input[type=submit],
  form .hs-button {
    {% if !theme.typography.custom_font %}
      {{ button_simple_font.style }};
    {% endif %}
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: {{ button_simple_font.color }};
    fill: {{ button_simple_font.color }};
    padding: 0;
    text-transform: {{ button_simple_text_transform }};
  }

  {% if button_simple_underline.add_underline == 'true' %}

    form input[type=submit]:after,
    form .hs-button:after {
      background-color: {{ button_simple_underline.color.color }};
      bottom: -{{ button_simple_underline.width + 1 ~ 'px' }};
      content: '';
      height: {{ button_simple_underline.width ~ 'px' }};
    }

  {% else %}

    form input[type=submit]:after,
    form .hs-button:after {
      content: none;
    }

  {% endif %}

  form input[type=submit]:hover,
  form input[type=submit]:focus,
  form .hs-button:hover,
  form .hs-button:focus {
    background-color: transparent;
    border: none;
    color: {{ button_simple_font_hover.color }};
    fill: {{ button_simple_font_hover.color }};
  }

  {% if button_simple_underline_hover.add_underline == 'true' %}

    form input[type=submit]:hover:after,
    form input[type=submit]:focus:after,
    form input[type=submit]:active:after,
    form .hs-button:hover:after,
    form .hs-button:focus:after,
    form .hs-button:active:after {
      content: '';
      background-color: {{ button_simple_underline_hover.color.color }};
      bottom: -{{ button_simple_underline.width + 1 ~ 'px' }};
      height: {{ button_simple_underline_hover.width ~ 'px' }};
    }

  {% else %}

    form input[type=submit]:hover:after,
    form input[type=submit]:focus:after,
    form input[type=submit]:active:after,
    form .hs-button:hover:after,
    form .hs-button:focus:after,
    form .hs-button:active:after {
      content: none;
    }

  {% endif %}

  form input[type=submit]:active,
  form .hs-button:active {
    background-color: transparent;
    border: none;
    color: {{ color_variant(button_simple_font_hover.color, 80) }};
    fill: {{ color_variant(button_simple_font_hover.color, 80) }};
  }

{% endif %}

{% if form_submit_size == 'small' %}

  form input[type=submit],
  form .hs-button {
    padding: {{ button_small_spacing }};
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
      font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.small.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.small.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.small.size_desktop }}px;
    {% endif %}
  }

  @media (max-width: 992px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
        font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.small.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.small.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.small.size_tablet }}px;
      {% endif %}
    }
  }

  @media (max-width: 768px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
        font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.small.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.small.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.small.size_mobile }}px;
      {% endif %}
    }
  }

{% elif form_submit_size == 'regular' %}

  form input[type=submit],
  form .hs-button {
    padding: {{ button_regular_spacing }};
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
      font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.regular.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.regular.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.regular.size_desktop }}px;
    {% endif %}
  }
  
  
  @media (max-width: 992px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
        font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.regular.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.regular.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.regular.size_tablet }}px;
      {% endif %}
    }
  }
  
  @media (max-width: 768px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
        font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.regular.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.regular.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.regular.size_mobile }}px;
      {% endif %}
    }
  }

{% elif form_submit_size == 'large' %}

  form input[type=submit],
  form .hs-button {
    padding: {{ button_large_spacing }};
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
      font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.large.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.large.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.large.size_desktop }}px;
    {% endif %}
  }

  @media (max-width: 992px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
        font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.large.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.large.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.large.size_tablet }}px;
      {% endif %}
    }
  }

  @media (max-width: 768px) {
    form input[type=submit],
    form .hs-button {
      {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
        font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.large.em_tier }}rem;
      {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
        font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.large.em_tier }}rem;
      {% else %}
        font-size: {{ theme.buttons.size.large.size_mobile }}px;
      {% endif %}
    }
  }

{% endif %}

/*first section / personalized form*/
@media (min-width: 481px) and (max-width: 1023px) {
  #hs_cos_wrapper_widget_1651160442327 input[type=submit] {
    font-size: 20px !important;
    line-height: 22px;
}
}


