.solution-brief-banner-p {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.95)), to(hsla(0, 0%, 100%, 0.95))), url('images/fashionbg.svg');
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95)), url('images/fashionbg.svg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, 110%;
  /*     text-align: center; */
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: 0px;
  z-index: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}

.solution-brief-banner:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 50%;
}
.solutions-brief-banner-title h1 {
  margin-top: 0px;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 10px;
  color: #000;
}

.solutions-brief-banner-inner {
  max-width: 1170px;
  position: relative;
  z-index: 1;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /*   max-width: 940px; */
}

.solution-brief-banner-description p{
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.generic-hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.95)), to(hsla(0, 0%, 100%, 0.95))), url('images/fashionbg.svg');
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95)), url('images/fashionbg.svg');
  background-position: 0px 0px, 0px 0px, 50% 50%;
  background-size: auto, auto, 110%;
  text-align: center;
}

.generic-hero.about-hero {
  padding-bottom: 100px;
}

.generic-hero.long-hero {
  padding-top: 120px;
  padding-bottom: 100px;
}

.generic-hero #canvas canvas {
  width: 100%;
  height: 100%;
}

/* -----------------------Media qurey----------- */

@media (max-width: 1375px){ 
  .solutions-brief-banner-title h1 {
    color: #000;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 9px;
  }
}

@media (max-width: 1340px){ 
  .solutions-brief-banner-title {
    padding-left: 5px !important;
  }
}

@media (max-width: 1327px){
  .solutions-brief-banner-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1155px;
    position: relative;
    text-align: left;
    z-index: 1;
  }

  .solutions-brief-banner-title h1 {
    color: #000;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 10px;
    margin-left: 5px !important;
    margin-top: 0;
  }

}

@media (max-width: 1293px){
  .solutions-brief-banner-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1135px;
    position: relative;
    text-align: left;
    z-index: 1;
  }

}


@media (max-width: 1230px){
  .solution-brief-banner-p{
    padding-left: 15px;
    padding-right: 15px;
  }

  .solutions-brief-banner-inner {
    margin-left: auto;
    margin-right: auto;
    /*     max-width: 1170px; */
    position: relative;
    text-align: left;
    z-index: 1;
  }

  .solutions-brief-banner-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1068px;
    position: relative;
    text-align: left;
    z-index: 1;
  }
}

@media (max-width: 1175px){
  .solutions-brief-banner-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1068px;
    position: relative;
    text-align: left;
    z-index: 1;
  }
}

@media (max-width: 767px){
  .solution-brief-banner-p {
    padding: 140px 20px 80px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.93)), to(hsla(0, 0%, 100%, 0.93))), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);;
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.93), hsla(0, 0%, 100%, 0.93)), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);
    background-size: auto, auto, 1150px;
  }

  .generic-hero {
    /* 		padding: 140px 20px 80px; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.93)), to(hsla(0, 0%, 100%, 0.93))), url('images/fashionbg.svg');
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.93), hsla(0, 0%, 100%, 0.93)), url('images/fashionbg.svg');
    background-size: auto, auto, 1150px;
  }
  .generic-hero.about-hero {
    padding-bottom: 90px;
  }
  .solution-hero-text.left {
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  .solution-benefits-block {
    width: 100%;
    margin: 20px 0;
    background-image: url(images/red-hexagon-outline.svg);
    background-position: 0% 50%;
    background-size: 18px;
    background-repeat: no-repeat;
  }

}

@media (max-width: 479px){
  .solutions-brief-banner-title h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .solution-brief-banner {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

@media (max-width: 345px){
  .solutions-brief-banner-inner {
    padding-left: 12px;
  }
}
