:not(.hs-inline-edit) .hs-meetings-placeholder {
  display: none; 
}

.hs-inline-edit .hs-meetings-placeholder {
  display: block!important;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
  font-size: 14px!important;
  text-align: center!important;
  background-color: #f5f8fa!important;
  margin: 2px 1px!important;
  border: 1px dashed #516f90!important;
  outline: 1px dashed #fff!important;
}

.hs-inline-edit .hs-meetings-placeholder > * {
  display: block!important;
  box-sizing: border-box!important;
  padding: 12px!important;
  margin: 1px!important;
  width: calc(100% - 2px)!important;  
}

.hs-inline-edit h3.hs-meetings-placeholder__title {
  color: #7c98b6!important;
  font-size: 14px!important;
  font-style: italic!important;
  font-weight: 700!important;
  line-height: initial!important;
  margin-bottom: 10px!important;
  margin-top: 0!important;
  padding: 0!important;  
  text-shadow: 0 -1px 0 hsla(0,0%,100%,.5)!important;
}

.hs-inline-edit p.hs-meetings-placeholder__description {
  color: #7c98b6!important;
  font-style: italic!important;
  line-height: 1.6!important;
  margin: 0!important;  
  text-shadow: 0 -1px 0 hsla(0,0%,100%,.5)!important;
}
