.mac-right-left-content {
  padding-top: 100px;
  padding-bottom: 400px;
  position: relative;
}

.mac-right-left-content:before {
  background-repeat: no-repeat;
  background-size: 638px;
  content: "";
  min-height: 638px;
  position: absolute;
  right: 2px;
  top: 10%;
  width: 638px;
}

.mac-page-center {
  max-width: 1200px;
  box-sizing: border-box;
  float: none;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.mac-content-block {
  margin: 0 auto 0 0;
  max-width: 580px;
  padding-top:135px;
  width: 352px;
}

.mac-heading h3 {
  color: #ff0000;
  font-size: 18px;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mac-heading p {
  font-weight: 300;
  font-size: 18px;
  line-height: 2rem;
}

/* -----------------right-content------------- */

.content_left.mac-right-left-content:before {
    background-size: cover;
    background-position: right;
}

.mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    min-height: 638px;
    position: absolute;
    right: unset;
    left: 2px;
    top: 10%;
    width: 638px;
}

.content_left.mac-content-block {
    margin: 0 0 0 auto;
    max-width: 680px;
    padding-top: 135px;
    width: unset; 
}

/* ----------------- */

@media only screen and (max-width: 980px){

  .mac-outer-wrap {
    padding-bottom: 200px !important;
  }

  .content_left.mac-right-left-content:before {
    background-size: contain !important;
    background-position: center !important;
    width: 100% !important;
  }


  .mac-right-left-content {
    padding-top: 100px;
    padding-bottom: 470px;
    position: relative;
  }

  .mac-right-left-content.content_left:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0px;
    top: 46%;
    width: 638px;
}

  .mac-content-block { 
    max-width: unset !important; 
    width: unset !important;
  }

}



/* --------------------Media query---------------- */

@media only screen and (max-width: 980px){

  .mac-outer-wrap {
    padding-bottom: 200px !important;
  }

  .mac-right-left-content:before {
    background-size: contain !important;
    background-position: center !important;
    width: 100% !important;
  }


  .mac-right-left-content {
    padding-top: 100px;
    padding-bottom: 470px;
    position: relative;
  }

  .mac-right-left-content:before {
    background-repeat: no-repeat;
    background-size: 638px;
    content: "";
    min-height: 638px;
    position: absolute;
    right: 0px;
    top: 46%;
    width: 638px;
}

  .mac-content-block { 
    max-width: unset !important; 
    width: unset !important;
  }

}

