.team_sec .team_inr {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
	padding: 20px; 
	border-radius: 8px;
} 
.team_sec .team_item {
	margin-bottom: 1em;
} 
.team_sec .team_top {
	margin-bottom: 30px;
}
.team_sec .member_img {
	border-radius: 50%;
	height: 154px;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 2px;
	width: 154px;
	display: inline-block;
	vertical-align: middle; 
}


.team_sec .member_img img {
	display: block; 
	height: 100%; 
	width: 100%;
	object-fit: cover;
	border-radius: 50%; 
} 
.team_sec .social_icon { 
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: inline-flex; 
	align-items: center; 
	justify-content: center;
}
.team_sec .team_inr.bottom {
	align-items: center;
}
.team_sec .team_inr:hover { 
	border-radius: 8px; 
}
.team_sec .team_cnt_inr {
	white-space: normal;
}
.team_sec .social_icon svg { 
	width: 13px;
}
.team_sec .social_icon:first-child svg {
	width: 9px;
}
.team_sec .social_icon svg {
	display: block;
} 

.team_sec .team_inr:hover h4 {
	color: inherit;
}


