<div class="casestudies-slider-wrap">
   <div class="casestudies-slider-inner case-slider splide">
      <div class="splide__track">
         <div class="splide__list">
            {% for item in module.slider_item %}
            <div class="casestudies-slider-item splide__slide">
               <div class="casestudies-slider-post">	
                  <div class="casestudies-slider-postmedia">
                     <div class="pic">
                        {% if item.image.src %}
                        {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
                        <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }}>
                        {% endif %}
                        <div class="hover-effect"></div>
                        <div class="links">
                           {% set href = item.link.url.href %}
                           {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                           {% set href = "mailto:" + href %}
                           {% endif %}
                           <a class="fa cwsicon-link" href="{{ href }}"
                              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                              {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
                              >
                              <div class="figure_wrap hexagon">
                                 <svg viewBox="0 0 110.74 123.18"><path d="M55 5L5 30.75L5 92.25L55 118L105 92.25L105 30.75L55 5Z"></path></svg>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>	
                  <h3 class="casestudies-slider-posttitle">
                     {% set href = item.link.url.href %}
                     {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
                     {% set href = "mailto:" + href %}
                     {% endif %}
                     <a href="{{ href }}"
                        {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                        {% if item.link.rel %}rel="{{ item.link.rel }}"{% endif %}
                        >{{ item.title }}</a>
                  </h3>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>

   </div>
</div>

{{ require_css(get_asset_url('../../css/splide.css')) }}
{{ require_js(get_asset_url("../../js/splide.js")) }}

