<div class="category-banner-outer">
  <div class="page-center release-notes">
    <div class="category-banner-sub">
      <div class="category-banner-left">
        {% set href = module.banner_image_redirection_link.url.href %}
        {% if module.banner_image_redirection_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a href="{{ href }}" class="category-featured-image-link"
           {% if module.banner_image_redirection_link.open_in_new_tab %}target="_blank"{% endif %}
           {% if module.banner_image_redirection_link.rel %}rel="{{ module.banner_image_redirection_link.rel }}"{% endif %}
           >
          <div class="category-banner-image">
            {% if module.banner_image.src %}
            {% set sizeAttrs = 'width="{{ module.banner_image.width }}" height="{{ module.banner_image.height }}"' %}
            {% if module.banner_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.banner_image.width }}" height="{{ module.banner_image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.banner_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.banner_image.max_width }}" height="{{ module.banner_image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = module.banner_image.loading != 'disabled' ? 'loading="{{ module.banner_image.loading }}"' : '' %}
            <img src="{{ module.banner_image.src }}" alt="{{ module.banner_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
        </a>
      </div>

      <div class="category-banner-right">
        <div class="banner-details-tag-wrap">
          <div class="banner-details-month">
            <p id="hubspot-topic_data"> {{ module.month }} |
              <span class="topic-link" data-attr="pre-order-management">{{ module.tag }}</span>
            </p>  
          </div>
        </div>
        <div class="banner-details-title">
          <h2>
            {{ module.title }}
          </h2>
        </div>
        <div class="banner-details-read-time">
          <h4>
            {{ module.read_time }}
          </h4>
        </div>
        <div class="banner-details-link-wrap">
          {% set href = module.redirection_link.url.href %}
          {% if module.redirection_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             {% if module.redirection_link.open_in_new_tab %}target="_blank"{% endif %}
             {% if module.redirection_link.rel %}rel="{{ module.redirection_link.rel }}"{% endif %}
             >
            {{ module.redirection_link_text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>