body{
  font-family: Open Sans,sans-serif;
}
.filter-button-inner li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
  transition: none;
}

.filter-button-inner li:hover {
  color: #a6a6a6;
}

.filter-button-inner li.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.filter-button-inner{
  padding: 0;
  margin: 0 1.5%;
}

.filter-button-inner h4 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category-card-outer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  position: unset !important;
  //height: unset !important; 
}
.category-card-image {
  width: 100%;
}
.category-card-image-updates {
  width: 100%;
}
.fas.fa-arrow-right {
  font-weight: 900;
  padding-left: 5px;
}
/* .category-card-inner-wrap.second.two {
border: none;
flex: 0 30%;
background: #ffffff 0 0 no-repeat padding-box;
box-shadow: 0 0 12px rgb(0 0 0 / 9%);
border-radius: 5px;
margin: 0 1.5%;
margin-bottom: 2%!important;
//display: none;
padding: 0 0 70px;
position: relative;
} */

.category-card-tags p,.category-card-tags-updates p {
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
span.category-card-tag {
  padding-left: 5px;
}
span.category-card-tag-updates {
  padding-left: 5px;
}
span.category-card-month-tag {
  padding-right: 5px;
}
span.category-card-month-tag-updates {
  padding-right: 5px;
}
.category-card-title h3,.category-card-title-updates h3 {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  margin: 0px 0px 10px 0px;
  font-family: Montserrat,sans-serif;
  font-weight: 600;
}
.category-card-content-wrap {
  padding: 30px 20px 20px;
}
.category-card-more-wrap a, .category-card-more-wrap-updates a {
  letter-spacing: 1.54px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}
.category-card-short-summary p, .category-card-short-summary-updates p {
  font-size: 14px;
  color: #666;
  padding-bottom: 25px;
}
.filter-button-group li {
    align-content: center;
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: inline-block;
    display: flex;
    flex: 0 14%;
    flex-wrap: wrap;
    font-family: Open Sans,sans-serif;
    font-size: 11px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: unset;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
.filter-button-group li a {
  color: var(--color-secondary);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
}
.filter-button-inner li.active a, .filter-button-inner li:hover a {
  color: #ffffff;
}
.banner-details-link-wrap .fa-arrow-right:before {
  content: "\f061" !important;
}
.category-card-more-wrap .fa-arrow-right:before, .category-card-more-wrap-updates .fa-arrow-right:before {
  content: "\f061" !important;
}
.banner-details-link-wrap .fa-arrow-right:after {
  content: "" !important;
}
.category-card-more-wrap .fa-arrow-right:after, .category-card-more-wrap-updates .fa-arrow-right:after {
  content: "" !important;
}

.filter-button-group li#more:hover {
  background-color: var(--color-secondary);
  color: #ffffff;
}
.category-card-inner-wrap-in, .category-card-inner-wrap-in-updates {
  flex: 0 30%;
  margin: 0 1.5% 2%;
  position: unset!important;
  border: none;
  transition-duration: 0.0000000000000001s !important;
  background: #ffffff 0 0 no-repeat padding-box;
  box-shadow: 0 0 12px rgb(0 0 0 / 9%);
  border-radius: 5px;
  transform: initial !important;
}
.more-item li {
  flex: 0 100% !important;
}

.more-item > i {
    margin-left: 6px;
}

.filter-button-inner li:first-child {
  flex: 0 9%;
}
.filter-button-inner li.active {
  background-color: var(--color-secondary);
  color: #ffffff;
}
.category-card-read-time h4,.category-card-read-time-updates h4 {
  font-size: 13px;
  color: #ccc;
  margin: 2px 0px;
  text-transform: uppercase;
}
.category-card-inner-wrap-in a, .category-card-inner-wrap-in-updates a {
  text-decoration: none;
}
.category-card-month-wrap {
  padding: 25px;
}

.category-card-sub.newzero {
  display: none;
}
a.all.active {
  background-color: var(--color-secondary);
  color: #fff;
}

li#more {
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
}

.filter-button-group li a.active, .filter-button-group li a:hover {
  color: #ffffff;
  background-color: var(--color-secondary);
}
.filter-button-group li#more:hover a {
    color: var(--color-secondary);
}

.filter-button-group li#more li:hover a {
    color: #ffffff;
}
@media(max-width: 1200px){
  .category-card-inner{
    padding: 0px 20px;
  }
}
@media(max-width: 767px) and (min-width:400px) {
  .category-card-inner-wrap-in, .category-card-inner-wrap-in-updates {
    flex: 0 45%;
    margin: 2%;
    position: unset!important;
    overflow:hidden;
  }
}
@media (max-width:399px) {
  .category-card-inner-wrap-in, .category-card-inner-wrap-in-updates {
    flex: 0 90%;
    margin: 2%;
    position: unset!important;
  }
}


@media(max-width: 767px){
  .category-banner-sub{
    display: block;
  }
  .category-banner-left{
    padding: 2%;
  }
  .category-banner-right{
    padding: 0px 20px;
  }
}