.mega-menu-list-wrap {
  display: flex;
  justify-content: end;
}
.mega-menu-list-wrap
  > .mega-menu-list-main:nth-child(4)
  .mega-menu-list-sub-wrap {
  width: 117px !important;
}
.mega-menu-list-wrap
  > .mega-menu-list-main:nth-child(4)
  .mega-menu-list-sub-items
  ul
  li {
  width: 117px !important;
}
.mega-menu-list-main:hover .mega-menu-list-sub-wrap {
  display: flex;
  position: absolute;
  background-color: #000;
  //right: 0px;
}
.mega-menu-list-items a {
  padding: 23px 20px;
  color: #000;
  font-size: 11px;
  font-weight: 600;
  line-height: 30px; /*add line height because of different height of nav item of different pages */
  text-transform: uppercase;
  text-decoration: none;
  transition: all 200ms ease;
  display: inline-block;
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
  font-family: "Open Sans", sans-serif;
}
.scroll .mega-menu-list-items a {
  color: #fff;
}
.mega-menu-list-sub-items ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
  display: inline-block;
  font-size: 12px;
  line-height: 30px; /*add line height to make correct for all the pages*/
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: "Open Sans", sans-serif;
}
.mega-menu-list-sub-items ul li {
  list-style-type: none;
  float: none !important;
}
.mega-menu-list-sub-wrap {
  display: none;
}
.mega-menu-list-sub-items ul li:hover {
  background: #ec2227;
  width: auto !important;
}
.mega-menu-list-items a:hover {
  background: #ec2227;
  color: #fff;
}
.mega-menu-list-sub-items ul {
  padding: 0px;
  margin-top: 0px;
}
.mega-menu-list-main:nth-child(3) .mega-menu-list-items a::after,
.mega-menu-list-main:nth-child(6) .mega-menu-list-items a::after {
  display: none;
}
.mega-menu-list-main:nth-child(6) .mega-menu-list-items a {
  background-color: #ec2227 !important;
  color: #fff !important;
}
.mega-menu-list-items a:after {
  font-family: "webflow-icons" !important;
  content: "\e603";
  margin-left: 8px;
}
.mega-menu-list-main:hover {
  background-color: #ec2227;
  position: relative;
}
.mega-menu-list-sub-items
  .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts
  > ul
  li.hs-item-has-children
  ul.hs-menu-children-wrapper {
  visibility: visible !important;
  opacity: 1 !important;
  background-color: #000000;
  position: inherit !important;
  padding-left: 0px;
}
.mega-menu-list-sub-items
  .hs-menu-wrapper.hs-menu-flow-horizontal
  > ul
  li.hs-item-has-children {
  position: inherit !important;
}
.mega-menu-list-sub-items ul li ul li {
  padding-left: 10px;
}
.mega-menu-list-sub-items
  .hs-menu-wrapper.hs-menu-flow-horizontal
  > ul
  li.hs-item-has-children
  ul.hs-menu-children-wrapper
  li
  a {
  font-size: 10px;
}
.mega-menu-list-sub-items:not(:last-child) {
  padding-right: 10px;
}
.mega-menu-list-main:nth-child(1):hover .mega-menu-list-sub-wrap,
.mega-menu-list-main:nth-child(2):hover .mega-menu-list-sub-wrap,
.mega-menu-list-main:nth-child(3):hover .mega-menu-list-sub-wrap {
  right: auto;
}
@media (max-width: 1450px) {
  .mega-menu-list-main:hover .mega-menu-list-sub-wrap {
    //right: 0px;
  }
}
@media (max-width: 1200px) {
  .mega-menu-list-main:hover .mega-menu-list-sub-wrap {
    right: 0px;
  }
}
@media (max-width: 991px) {
  .mega-menu-outer-wrap {
    display: none;
  }
}
