<div class="mega-menu-outer-wrap">
  <div class="mega-menu-inner">
    <div class="mega-menu-list-wrap">
      {% for item in module.menu_group %}
      <div class="mega-menu-list-main">
        <div class="mega-menu-list-items">
          {% set href = item.menu_sub_group.link.url.href %}
          {% if item.menu_sub_group.link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}" class="nav-link"
             {% if item.menu_sub_group.link.open_in_new_tab %}target="_blank"{% endif %}
             {% if item.menu_sub_group.link.rel %}rel="{{ item.menu_sub_group.link.rel }}"{% endif %}
             >
            {{ item.menu_sub_group.menu_list }}
          </a>
        </div>
        <div class="mega-menu-list-sub-wrap">
          {% for item2 in item.simple_menu_group %}
            <div class="mega-menu-list-sub-items">
              {% simple_menu menu_tree="{{ item2.simplemenu_field }}" %}
            </div>
          {% endfor %}
        </div>   
      </div>
      {% endfor %}
    </div>
  </div>
</div>

