footer.footer-wrap {
	font-size: 0.875rem;
}

.footer-section {
	padding: 20px;
}

.footer svg {
	height: 0.8rem;
	width: 0.8rem;
}



.footer-social .footer-social-item a {
	display: inline-block;
}

.footer_contact_section .left-section {
	display: inline-block;
}

.footer_contact_section .right-section {
	display: inline-block;
}



.footer_contact_section .footer_contact_section_item {
	display: flex;
	align-items: center;
}

.footer_contact_section .left-section {
	padding-right: 12px;
}

.footer_contact_section .footer_contact_section_item:not(:first-child) {
	padding-top: 15px;
}

.footer_contact_section .left-section a.grd.type-image{
	background-image: none;
}

.footer_contact_section .left-section svg {
	display: block;
}

.footer_contact_section .left-section a {
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 28px;
	min-width: 28px;
}

.footer-social {
	display: flex;
}

.footer-social svg {
	display: block;
}

.footer-social .footer-social-item a {
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 28px;
	min-width: 28px;
}

.footer-social .footer-social-item:not(:first-child) {
	padding-left: 7px;
}


.footer-menu .hs-menu-wrapper ul li,
.footer-simple-menu .hs-menu-wrapper ul li{
	position: relative;
	width: 100%;
	display: block;
}


.footer-menu .hs-menu-wrapper ul li a,
.footer-simple-menu .hs-menu-wrapper ul li a {
	display: inline-block;
	padding: 5px 0;
}


.footer-menu .hs-menu-wrapper>ul>li ul,
.footer-simple-menu .hs-menu-wrapper>ul>li ul {
	background-color: #fff;
	flex-direction: row!important;
	flex-wrap: wrap;
	min-width: 160px;
	opacity: 0!important;
	position: absolute!important;
	right: -50%;
	transition: all .3s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 10;
	left: auto;
	bottom: 0;
	max-width: 200px;
}


.footer-menu .hs-menu-wrapper ul li{
	display: flex;
	align-items: center;
}

.footer-simple-menu .hs-menu-wrapper>ul>li ul{
	left: 100% !important;
	top: unset!important;
}

.footer-menu .hs-menu-wrapper>ul li:hover>ul,
.footer-simple-menu .hs-menu-wrapper>ul li:hover>ul {
	visibility: visible;
	opacity: 1 !important;
}

.footer-menu .hs-menu-wrapper>ul>li ul li,
.footer-simple-menu .hs-menu-wrapper>ul>li ul li {
	width: 100%;
}


.single-line-text {
	position: relative;
	padding: 5px;
}

.single-line-text.add-unerline>h1,
.single-line-text.add-unerline>h2,
.single-line-text.add-unerline>h3,
.single-line-text.add-unerline>h4,
.single-line-text.add-unerline>h5,
.single-line-text.add-unerline>h6,
.single-line-text.add-unerline>p {
	margin-bottom: 0;
}

.single-line-text.add-unerline:after {
	content: "";
	position: absolute;
	top: 100%;
	height: 2px;
	width: 51px;
	margin-left: 5px;
	left: 0;
}
.footer-column:not(:last-child) {
	padding-right: 10px;
}

.footer-column .footer-row:not(:first-child) {
	padding-top: 20px;
}



/*********************  menu flyouts, horizontal and vertical **************** */

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-vertical>ul {
	max-width: 250px;
}

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-vertical>ul>li ul {
	position: static !important;
	visibility: visible !important;
	opacity: 1 !important;
	max-width: 250px;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-vertical ul {
	display: inline-block;
	min-width: 180px;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-vertical>ul>li ul {
	top: auto !important;
	left: auto !important;
	bottom: 0 !important;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul {
	flex-direction: row;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li {
	display: inline-block;
	width: unset;
	padding: 0 14px;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li>ul ul {
	top: unset !important;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li:last-child>ul>li>ul {
	right: 100%;
	left: unset;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li:last-child ul {
	left: unset;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li:last-child>ul {
	bottom: unset;
	right: 0;
}

.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li>ul ul {
	top: unset;
	bottom: 0;
}
.footer-menu .hs-menu-wrapper.flyouts.hs-menu-flow-horizontal>ul>li>ul {
	bottom: unset;
}

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-horizontal>ul {
	flex-direction: row;
}

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-horizontal>ul>li {
	display: inline-block;
	width: auto;
}

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-horizontal>ul>li ul {
	visibility: visible !important;
	opacity: 1 !important;
	position: static !important;
	display: inline-block;
	width: auto;
}

.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-horizontal>ul li {
	padding: 0 10px;
	min-width: 130px;
}
.footer-menu .hs-menu-wrapper.no-flyouts.hs-menu-flow-horizontal>ul li a {
	display: block;
}

.footer-menu .hs-menu-wrapper ul li a * {
	vertical-align: middle;
}
.footer-menu .hs-menu-wrapper ul li a .icon {
	display: inline-block;
}


/* ************* blog feed ********************/


.footer-row .blog_feed_image .blog_feed_featured_image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10%;
	padding-top: 100%;
	width: 100%;
}

.footer-row .blog_feed_item_inner.bottom-align .blog_feed_featured_image,
.footer-row .blog_feed_item_inner.top-align .blog_feed_featured_image{
	width: 100%;
	padding-bottom: 60%;
	padding-top: 0;
}

.footer-row .blog_feed_image a {
	display: block;
	width: 100%;
	height: 100%;
}
.footer-row .blog_feed_item_inner {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.footer-row .blog_feed_item_inner.right-align .blog_feed_image {
	order: 2;
}

.footer-row .blog_feed_item_inner.right-align .blog_feed_content {
	order: 1;
}
.footer-row .blog_feed_item_inner.bottom-align .blog_feed_image {
	order: 2;
}

.footer-row .blog_feed_item_inner.bottom-align .blog_feed_content {
	order: 1;
}
.footer-row .blog_feed_item_inner.right-align .blog_feed_content {
	padding-left: 0;
}

.footer-row .blog_feed_item_title a {
	font-weight: 700;
}

.footer-row .blog_feed_item_byline {
	font-weight: 400;
}

.footer-row .blog_feed_item_byline .date:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-image: url({{get_asset_url('../../images/Vector.png')}});
	background-repeat: no-repeat;
	background-size: cover;
}

.footer-row .blog_feed_item_byline .date {
	display: inline-block;
	position: relative;
	padding-left: 26px;
}

.footer-row .blog_feed_content {
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-row .blog_feed_item_inner .blog_feed_image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	align-items: start;
}


.footer-row .blog_feed_item_inner.left-align .blog_feed_content,
.footer-row .blog_feed_item_inner.right-align .blog_feed_content{
	padding-top:0;
	padding-bottom:0;
}


.footer-row .blog_feed_content.no-image {
	padding: 0;
}




/* buttons */

body.pop {
	overflow: hidden;
}

.popup-wrap {
	display: inline-block;
}

.popup-wrap .popup-wrapper {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	position: fixed;
	width: 100%;
	height: auto;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: -1;
	padding: 40px 15px 15px;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	background-color: rgb(0 0 0 / 30%);
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}
.popup-wrap.popup-open .popup-overlay{
	visibility: visible;
	opacity: 1;
	cursor: pointer;
	z-index: 99;
}

.popup-wrap.popup-open .popup-wrapper {
	z-index: 9;
	visibility: visible;
	opacity: 1;
}

.popup-close {
	display: none;
}

.popup-wrap.popup-open .popup-close {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 20px;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	margin: 4px;
	z-index: 9;
}

.popup-wrap.popup-open .iframe-wrap-main .popup-close {
	right: 0;
	top: -34px;
}

.popup-wrap.popup-open .popup-close:after,.popup-wrap.popup-open .popup-close:before {
	content: '';
	height: 2px;
	width: 100%;
	background: #ddd;
	position: absolute;
}

.popup-wrap.popup-open .popup-close:after {
	transform: rotatez(45deg);
}

.popup-wrap.popup-open .popup-close:before {
	transform: rotatez(135deg);
}

.popup-wrap.popup-open .iframe-wrap {
	padding-top: 56.6%;
	height: 0;
}

.popup-wrap.popup-open .iframe-wrap iframe {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.popup-wrap.popup-open .iframe-wrap-main {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.popup-wrap.popup-open .popup-inner {
	margin: auto;
	width: 100%;
}

.popup-wrap .pop-wrap{
	transform: scale(0);
	transition: all 250ms ease;
	visibility: hidden;
	opacity: 0;
}

.popup-wrap.popup-open .pop-wrap {
	padding: 20px;
	background: #fff;
	position: relative;
	z-index: 999;
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

.footer-row .embed_url {
	padding-top: 56.6%;
	position: relative;
}

.footer-row .embed_url iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}



/* ********* back to top ************ */

div#back-to-top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	bottom: 0;
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	position: fixed;
	right: 76px;
	transition: all .3s ease;
	width: 50px;
	height: 40px;
	text-align: center; 
}

div#back-to-top:hover {
	padding-bottom: 40px;
}

div#back-to-top img{
	vertical-align: bottom;
}

.btt.back_to_top-show {
	visibility: visible;
	opacity: 1;
}

.btt {
	visibility: hidden;
	opacity: 0;
}

div#back-to-top svg {
	width: 1.2rem;
	height: auto;
}



@media (min-width: {{ theme.media_responsive_breakpoints.mobile_breakpoint + 1 }}px) and (max-width: {{ theme.media_responsive_breakpoints.tablet_breakpoint }}px) {
	.footer-column {
		max-width: 50% !important;
	}
}


@media (max-width: {{ theme.media_responsive_breakpoints.mobile_breakpoint }}px){
	.footer-column-wrapper {
		flex-wrap: wrap;
	}
	.footer-column {
		max-width: 100% !important;
	}

	.footer-column:not(:last-child) {
		padding-right: 0;
		padding-bottom: 20px;
	}
	div#back-to-top {
		right: 40px;
	}
}
@media (max-width: 450px){
	.blog_feed_item_inner .blog_feed_image {
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}

	.blog_feed_item_inner .blog_feed_content {
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
	.footer-menu .hs-menu-wrapper>ul>li ul{
		right: -35%;
	}
}