.summary-wrapper {
  padding-inline: 16px;
  margin: auto;
  margin-block: 40px;
  max-width: 980px;
}

.intro-text-inner {
  border-left: 2px solid #F79422;
  padding-left: 10px;
}

.intro-text-block {
  padding: 4px 0px 1px 0;
}

.intro-text-inner p {
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  font-weight: 570;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width:479px) {

  .intro-text-inner {
    margin-block: 60px;
  }  
  .intro-text-inner p {
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
  }
}