<div class="iPhone-section {{name}}">
  <div id="BOPIS">
    <div class="content {{ module.image_position_choice }}">

      <div class="layered-iPhones">
        {% if module.bg_iphone.src %}
          <div class="iPhone bg-phone">
            {% set sizeAttrs = 'width="{{ module.bg_iphone.width }}" height="{{ module.bg_iphone.height }}"' %}
            {% if module.bg_iphone.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.bg_iphone.width }}" height="{{ module.bg_iphone.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.bg_iphone.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.bg_iphone.max_width }}" height="{{ module.bg_iphone.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
              {% set loadingAttr = module.bg_iphone.loading != 'disabled' ? 'loading="{{ module.bg_iphone.loading }}"' : '' %}
            <img src="{{ module.bg_iphone.src }}" alt="{{ module.bg_iphone.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          </div>  
        {% endif %}
        <div class="iPhone primary-phone">
          <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
      </div>
      
      <div class="feature">
        {% for item in module.text_group %}
          <h3> {{ item.heading }} </h3>
          <p>{{ item.content_text }}</p>
          {% if item.detail_page %}
            {% set detail_page = content_by_id(item.learn_more) %}
            <a href="{{ detail_page.absolute_url }}"> Learn more </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div> 
</div>

<style>

  @media (min-width: 767px) {

    .iPhone-section.{{name}}{
      padding-top:{{ module.style.padding_top }}px;
    }

    .iPhone-section.{{name}}{
      padding-bottom:{{ module.style.padding_bottom }}px;
    }

    .feature > h3{
      color:{{ module.style.heading_color.color }};
    }
  }  
  @media (max-width: 767px){
    .iPhone-section.{{name}}{
      padding-top:{{ module.style.responsive_padding_top }}px;
      padding-bottom:{{ module.style.responsive_padding_bottom }}px;
    }
  }
  
</style>