.layered-iPhones {
    display: grid;
    grid-column: 1;
    grid-template-columns: max-content 150px max-content;
    justify-content: center;
    max-width: var(--iPhone-width);
}

.primary-phone {
    grid-row: 1;
    grid-column: 2 / 4;
}

.bg-phone {
    grid-row: 1;
    grid-column: 1 / 3;
}