.features{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    justify-content: space-between;
    grid-gap: 20px 113px;
}

.features > .feature {
  width: unset;
  align-self: start;
}