<div class="featured-image {{ module.styles.horizontal_alignment.desktop }} {{ module.styles.horizontal_alignment.tablet }} {{ module.styles.horizontal_alignment.mobile }}" id="{{name}}">
  {% if module.add_link %}
    {% set href = module.link.url.href %}
    {% if module.link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    {% set rel = [] %}
    {% if module.link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}
    {% if module.link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}
    <a href="{{ href }}"
      {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
      {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
      >
  {% endif %}
  {% if module.image.src %}
    {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
    {% if module.image.size_type == 'auto' %}
      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif module.image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image.max_width }}px; max-height: {{ module.image.max_height }}px"' %}
    {% endif %}
     {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
    <img src="{{ module.image.src }}"  alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}
      data-aos="{{ module.animation.type }}" 
      data-aos-once="{{ !module.animation.repeat }}"
      data-aos-duration="{{ module.animation.duration }}"
      data-aos-delay="{{ module.animation.delay }}">
  {% endif %}
  {% if module.add_link %}
    </a>
  {% endif %}
</div>
{% require_css %}
<style>
  #{{name}} img {
    border-radius: {{ module.styles.border_radius }}px;
    opacity: {{ module.styles.opacity / 100 }};
  }
</style>
{% end_require_css %}