.video_banner {
	position: relative;
	overflow:hidden;
}
.video_banner .page-center {
	position: relative;
	z-index: 1;
}
.video_banner .video_inner {
	position: relative;
}
.video_banner .ad_video-section .play-button svg {
	width: 48px;
	height: 48px;
}
.video_banner .button_item a {
	display: flex;
	gap: 5px;
	align-items: center;
}
.video_banner .button_item a svg,
.video_banner .button_item a img{
	vertical-align:middle;
}
.video_banner .video_title {
	margin-left: 5px;
}
.video_banner .gallery-holder .hs_cos_wrapper_type_icon {
	display: inline-block;
	vertical-align: middle;
}
.video_banner .ad_top-section > :last-child {
	margin-bottom: 0;
}

.video_banner .breadcrumb-wrapper {
	position: absolute;
	left: 0;
	right: 0;
}

.video_banner .breadcrumb-wrapper.brd_top {
	top: 40px;
}

.video_banner .breadcrumb-wrapper.brd_bottom {
	bottom: 40px;
}

