.position-relative {
  position: relative;
}

.blog-index__hero,
.blog-post__hero {
  min-height: 300px;
  position: relative;
}

@media (min-width: 768px) {
  .blog-index__hero-img {
    position: absolute;
    height: 100%;
    width: 95%;
    top: 0;
    left: 0;
  }

  .blog-index__hero-img img {
    max-width: 350px;
  }
}

.blog-index__search {
  max-width: 370px;
  width: 100%;
}

.blog-index__search form {
  font-size: 16px;
  line-height: 135.8%;
  color: #BDBDBD;
  display: flex;
}

.blog-index__search .hs-search-field__input {
  height: auto !important;
  padding: 16px;
  border: none;
  border: 2px solid #BDBDBD;
  border-right: none;
  outline: none;
}

.blog-index__search button {
  padding: 0 12px;
}

.blog-index__search .hs-search-field__bar button svg {
  height: 20px;
}

.blog-index .hs-search-field--open .hs-search-field__suggestions {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  border-color: #bdbdbd;
  border-top: none;
  padding: 20px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
}

.blog-index__topic select {
  font-size: 18px;
  line-height: 135.8%;
  width: 270px;
  max-width: 100%;
  color: #FFFFFF;
  background: var(--color-primary);
  border-color: var(--color-primary);
  padding: 14px;
  appearance: none;
  outline: none;
  background-position: 94% center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 1L11 11L1 0.999999' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}

@media (max-width: 765px) {

  .blog-index__topic select,
  .blog-index__topic {
    width: 100%;
  }
}

.blog-index__hero h1,
.blog-post__hero h2 {
  color: {
      {
      theme.colors.primary.color
    }
  }
}

.blog-index__post-title h3 {
  font-size: 1.45rem;
}

.blog-index__featured-post h3 {
  text-transform: uppercase;
}

.blog-index__post-title a,
.blog-index__post-meta a,
.blog-index__post-content a {
  text-decoration: none;
}

.blog-index__post-meta {
  font-size: 0.8rem;
  font-weight: 700;
  color: #888888;
}

.blog-index__featured-post .blog-index__post-meta {
  font-weight: 400;
  font-size: 0.9rem;
}

.blog-index__social-sharing ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}

.blog-index__social-sharing li {
  margin-right: 1rem;
}

.social-sharing__icon svg {
  width: 16px;
  height: 16px;
}

.blog-index__button {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
}

.blog-index__button .button {
  width: 100%;
}

.blog-index__button .button:hover {
  transform: scale(1.04);
}

.blog-index__post,
.blog-index__featured-post-content {
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
  height: 100%;
}

.blog-index__featured-post .blog-index__featured-post-content {
  box-shadow: none;
}

.blog-index__featured-post {
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.15);
}

.blog-index__featured-post:hover,
.blog-index__post:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.blog-index__post,
.blog-index__featured-post {
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.blog-index__post-content-image {
  height: 240px;
  object-fit: cover;
  width: 100%;
}

.blog-index__featured-post .blog-index__post-content-image {
  height: 360px;
}

@media (min-width: 992px) {
  .blog-index__wrapper {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.blog-index__post-content-link {
  grid-column: 1/ 1;
  grid-row: 1/-1;
}

.blog-index__post-conrent-more>div {
  font-weight: bold;
  font-size: 17px;
  border-bottom: 1px solid;
}

a.blog-post__tag-link,
.blog-index__post-tag-title {
  text-decoration: none;
  font-size: 16px;
  color: #3C3C3B;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-index__post-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-pagination__link svg {
  height: 1rem;
  width: 1rem;
}

.blog-pagination__link {
  border: 2px solid {
      {
      theme.colors.primary.color
    }
  }

  ;
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  margin: 0.4rem;

  color: {
      {
      theme.colors.primary.color
    }
  }

  ;
  transition: all ease .3s;
}

.blog-pagination__link:not(.blog-pagination__prev-link):not(.blog-pagination__next-link):hover,
.blog-pagination__link--active {
  text-decoration: none;
  color: #fff;

  background-color: {
      {
      theme.colors.primary.color
    }
  }

  ;

  border-color: {
      {
      theme.colors.primary.color
    }
  }

  ;
}

a.blog-pagination__prev-link,
a.blog-pagination__next-link {
  border: none;
  width: auto;

  color: {
      {
      theme.colors.primary.color
    }
  }

  ;
}

.blog-pagination {
  position: relative;
  z-index: 3;
  margin-bottom: 50px;
}

.blog-index__wrapper {
  position: relative;
  padding: 50px 0 30px;
}

.sidebar__inner {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
}

@media (max-width: 992px) {
  .blog-pagination {
    margin-bottom: 20px;
  }

  .blog-index__wrapper {
    position: relative;
    padding: 30px 0 0px;
  }
}

/** Blog Post **/
.blog-post__meta {
  color: #464646;
}

.blog-post__hero h2 {
  font-size: 54px;
}

.blog-post__featured-image {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
}

.blog-post__title {
  color: {
      {
      theme.colors.primary.color
    }
  }

  ;
}

.blog-post__meta {
  font-size: 0.8rem;
}

.blog-post__post-tags {
  font-weight: bold;
  font-size: 0.8rem;
}

#hs_cos_wrapper_blog-social-sharing,
.blog-post__progress {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 20px;
  z-index: 10;
}

.blog-post__progress-bar {
  height: 4px;

  background-color: {
      {
      theme.colors.primary.color
    }
  }

  ;
  width: 1px;
  max-width: 100%;
  min-width: 1px;
  transition: width .6s ease;
}

.blog-post__time {
  color: {
      {
      theme.colors.primary.color
    }
  }

  ;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.blog-post__related-posts {
  position: relative;
}