button,
.button, 
.hs-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 2;
  transform: scale(1);
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:disabled,
.button:disabled,
.button.button--secondary:disabled,
.button.button--simple:disabled,
.hs-button:disabled,
.hs-button.button--secondary:disabled,
.hs-button.button--simple:disabled {
  border: 1px solid #d0d0d0;
  color: #e6e6e6;
  pointer-events: none;
}

button:disabled,
.button:disabled,
.hs-button:disabled {
  background-color: #d0d0d0;
}

.button.button--secondary:disabled
.hs-button.button--secondary:disabled {
  background-color: inherit;
}

.button.button--simple:disabled
.hs-button.button--simple:disabled {
  background-color: inherit;
  border: inherit;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.hs-button:hover,
.hs-button:focus {
  background-color: #1E90FF;
  border-color: #1E90FF;
  color: #fff;
  text-decoration: none;
}

button:active,
.button:active,
.hs-button:active {
  background-color: #50eed3;
  border-color: #50eed3;
  color: #fff;
  text-decoration: none;
}

/* Simple Button */

.button.button--simple,
.hs-button.button--simple {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #1E90FF;
  font-style: normal;
  position: relative;
  text-decoration: none;
}

.button.button--simple:after,
.hs-button.button--simple:after {
  content: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.button.button--simple:hover,
.button.button--simple:focus,
.hs-button.button--simple:hover,
.hs-button.button--simple:focus {
  background-color: transparent;
  border: none;
}

.button.button--simple:active,
.hs-button.button--simple:active {
  background-color: transparent;
  border: none;
}

.button--center {
  text-align: center;
}

.button--right {
  text-align: right;
}

/* Button Icons */

.button .button__icon svg,
.hs-button .button__icon svg {
  fill: inherit;
  display: block;
  height: 1.1rem;
  margin-right: 1rem;
}

.button.button--icon-right .button__icon,
.hs-button.button--icon-right .button__icon {
  order: 1;
}

.button.button--icon-right .button__icon svg,
.hs-button.button--icon-right .button__icon svg {
  margin-right: 0;
  margin-left: 1rem
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button .button__icon svg,
  .hs-button .button__icon svg {
    width: 1.1rem;
  }
}

/* Primary Button */

button,
.button {
  {% if !theme.typography.custom_font %}
    {{ button_primary_font.style }};
  {% endif %}
  background-color: {{ button_primary_bg_color }};
  border: {{ button_primary_border }};
  border-radius: {{ button_primary_corner_radius }};
  color: {{ theme.buttons.primary.text_color.color }};
  fill: {{ theme.buttons.primary.text_color.color }};
  padding: {{ button_regular_spacing }};
  text-transform: {{ button_primary_text_transform }};
  {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
    font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.regular.em_tier }}rem;
  {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
    font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.regular.em_tier }}rem;
  {% else %}
    font-size: {{ theme.buttons.size.regular.size_desktop }}px;
  {% endif %}
  {% if theme.buttons.primary.border.drop_shadow %}
    -webkit-box-shadow: 0 0.625em {{ theme.buttons.primary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.primary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.primary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.primary.border.shadow_color.opacity }}{% endif %});
    box-shadow: 0 0.625em {{ theme.buttons.primary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.primary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.primary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.primary.border.shadow_color.opacity }}{% endif %});
  {% else %}
    -webkit-box-shadow: unset;
    box-shadow: unset;
  {% endif %}
}



@media (max-width: 992px) {
  button,
  .button {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
      font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.regular.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.regular.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.regular.size_tablet }}px;
    {% endif %}
  }
}

@media (max-width: 768px) {
  button,
  .button {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
      font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.regular.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.regular.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.regular.size_mobile }}px;
    {% endif %}
  }
}

button:disabled,
.button:disabled {
  background-color: {{ button_disabled_bg_color }};
  color: {{ button_disabled_color }};
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active {
  {{ button_primary_font_hover.style }};
  background-color: {{ button_primary_bg_color_hover }};
  border: {{ button_primary_border_hover }};
  color: {{ theme.buttons.primary.hover.text_color.color }};
  fill: {{ theme.buttons.primary.hover.text_color.color }};
}

.button:hover,
.button:focus {
  {% if theme.buttons.primary.hover.expand_on_hover %}
    transform: scale(1.03);
  {% endif %}
}

button:active,
.button:active {
  {{ button_primary_font_hover.style }};
  background-color: rgba({{ color_variant(theme.buttons.primary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.primary.hover.bg_color.opacity }});
  background-color: {{ color_variant(theme.buttons.primary.hover.bg_color.color, 80) }};
  border: {{ button_primary_border_hover }};
  border-color: {{ color_variant(theme.buttons.primary.hover.border.color.color, 80) }};
}

/* Secondary Button */

.button.button--secondary {
  {% if !theme.typography.custom_font %}
    {{ button_secondary_font.style }};
  {% endif %}
  background-color: {{ button_secondary_bg_color }};
  border: {{ button_secondary_border }};
  border-radius: {{ button_secondary_corner_radius }};
  color: {{ theme.buttons.secondary.text_color.color }};
  fill: {{ theme.buttons.secondary.text_color.color }};
  padding: {{ button_regular_spacing }};
  text-transform: {{ button_secondary_text_transform }};
  {% if theme.buttons.secondary.border.drop_shadow %}
    -webkit-box-shadow: 0 0.625em {{ theme.buttons.secondary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.secondary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.secondary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.secondary.border.shadow_color.opacity }}{% endif %});
    box-shadow: 0 0.625em {{ theme.buttons.secondary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.secondary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.secondary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.secondary.border.shadow_color.opacity }}{% endif %});
  {% else %}
    -webkit-box-shadow: unset;
    box-shadow: unset;
  {% endif %}
}

.button.button--secondary:hover,
.button.button--secondary:focus,
.button.button--secondary:active {
  background-color: {{ button_secondary_bg_color_hover }};
  border: {{ button_secondary_border_hover }};
  color: {{ theme.buttons.secondary.hover.text_color.color }};
  fill: {{ theme.buttons.secondary.hover.text_color.color }};
  {% if theme.buttons.secondary.hover.expand_on_hover %}
    transform: scale(1.03);
  {% else %}
    transform: scale(1);
  {% endif %}
}

.button.button--secondary:active {
  background-color: rgba({{ color_variant(theme.buttons.secondary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.secondary.hover.bg_color.opacity }});
  border: {{ button_secondary_border_hover }};
  border-color: {{ color_variant(theme.buttons.secondary.hover.border.color.color, 80) }};
  color: {{ color_variant(theme.buttons.secondary.hover.text_color.color, 80) }};
  fill: {{ color_variant(theme.buttons.secondary.hover.text_color.color, 80) }};
}

/* Tertiary Button */

.button.button--tertiary {
  {% if !theme.typography.custom_font %}
    {{ button_tertiary_font.style }};
  {% endif %}
  background-color: {{ button_tertiary_bg_color }};
  border: {{ button_tertiary_border }};
  border-radius: {{ button_tertiary_corner_radius }};
  color: {{ theme.buttons.tertiary.text_color.color }};
  fill: {{ theme.buttons.tertiary.text_color.color }};
  padding: {{ button_regular_spacing }};
  text-transform: {{ button_tertiary_text_transform }};
  {% if theme.buttons.tertiary.border.drop_shadow %}
    -webkit-box-shadow: 0 0.625em {{ theme.buttons.tertiary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.tertiary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.tertiary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.tertiary.border.shadow_color.opacity }}{% endif %});
    box-shadow: 0 0.625em {{ theme.buttons.tertiary.border.drop_shadow_size / base_font_size }}em 0 rgba({{  theme.buttons.tertiary.border.shadow_color.color|convert_rgb }},{% if theme.buttons.tertiary.border.shadow_color.opacity == '100' %}1{% else %}0.{{ theme.buttons.tertiary.border.shadow_color.opacity }}{% endif %});
  {% else %}
    -webkit-box-shadow: unset;
    box-shadow: unset;
  {% endif %}
}

.button.button--tertiary:hover,
.button.button--tertiary:focus,
.button.button--tertiary:active {
  background-color: {{ button_tertiary_bg_color_hover }};
  border: {{ button_tertiary_border_hover }};
  color: {{ theme.buttons.tertiary.hover.text_color.color }};
  fill: {{ theme.buttons.tertiary.hover.text_color.color }};
  {% if theme.buttons.tertiary.hover.expand_on_hover %}
    transform: scale(1.03);
  {% else %}
    transform: scale(1);
  {% endif %}
}

.button.button--tertiary:active {
  background-color: rgba({{ color_variant(theme.buttons.tertiary.hover.bg_color.color, 80)|convert_rgb }}, {{ theme.buttons.tertiary.hover.bg_color.opacity }});
  border: {{ button_tertiary_border_hover }};
  border-color: {{ color_variant(theme.buttons.tertiary.hover.border.color.color, 80) }};
  color: {{ color_variant(theme.buttons.tertiary.hover.text_color.color, 80) }};
  fill: {{ color_variant(theme.buttons.tertiary.hover.text_color.color, 80) }};
}

/* Simple Button */

.button.button--simple {
  {% if !theme.typography.custom_font %}
    {{ button_simple_font.style }};
  {% endif %}
  color: {{ theme.buttons.simple.text_color.color }};
  fill: {{ theme.buttons.simple.text_color.color }};
  text-transform: {{ button_simple_text_transform }};
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

{% if button_simple_underline.add_underline == 'true' %}

  .button.button--simple:after {
    background-color: {{ button_simple_underline.color.color }};
    bottom: -{{ button_simple_underline.width + 1 ~ 'px' }};
    content: '';
    height: {{ button_simple_underline.width ~ 'px' }};
  }

{% else %}

  .button.button--simple:after {
    content: none;
  }

{% endif %}

.button.button--simple:hover,
.button.button--simple:focus {
  border: none;
  color: {{ theme.buttons.simple.hover.text_color.color }};
  fill: {{ theme.buttons.simple.hover.text_color.color }};
  text-transform: none;
}

{% if button_simple_underline_hover.add_underline == 'true' %}

  .button.button--simple:hover:after,
  .button.button--simple:focus:after,
  .button.button--simple:active:after {
    content: '';
    background-color: {{ button_simple_underline_hover.color.color }};
    bottom: -{{ button_simple_underline.width + 1 ~ 'px' }};
    height: {{ button_simple_underline_hover.width ~ 'px' }};
  }

{% else %}

  .button.button--simple:hover:after,
  .button.button--simple:focus:after,
  .button.button--simple:active:after {
    content: none;
  }

{% endif %}

.button.button--simple:active {
  border: none;
  color: {{ color_variant(theme.buttons.simple.hover.text_color.color, 80) }};
  fill: {{ color_variant(theme.buttons.simple.hover.text_color.color, 80) }};
}

/* Button Sizing */

.button.button--small {
  padding: {{ button_small_spacing }};
  {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
    font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.small.em_tier }}rem;
  {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
    font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.small.em_tier }}rem;
  {% else %}
    font-size: {{ theme.buttons.size.small.size_desktop }}px;
  {% endif %}
}

@media (max-width: 992px) {
  .button.button--small {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
      font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.small.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.small.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.small.size_tablet }}px;
    {% endif %}
  }
}

@media (max-width: 768px) {
  .button.button--small {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
      font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.small.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.small.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.small.size_mobile }}px;
    {% endif %}
  }
}

.button.button--large {
  padding: {{ button_large_spacing }};
  {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop != "custom" %}
    font-size: {{ theme.typography.em_scale.desktop|float ** theme.buttons.size.large.em_tier }}rem;
  {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.desktop == "custom"%}
    font-size: {{ theme.typography.em_scale.custom_desktop ** theme.buttons.size.large.em_tier }}rem;
  {% else %}
    font-size: {{ theme.buttons.size.large.size_desktop }}px;
  {% endif %}
}

@media (max-width: 992px) {
  .button.button--large {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet != "custom" %}
      font-size: {{ theme.typography.em_scale.tablet|float ** theme.buttons.size.large.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.tablet == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_tablet ** theme.buttons.size.large.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.large.size_tablet }}px;
    {% endif %}
  }
}

@media (max-width: 768px) {
  .button.button--large {
    {% if  theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile != "custom" %}
      font-size: {{ theme.typography.em_scale.mobile|float ** theme.buttons.size.large.em_tier }}rem;
    {% elif theme.typography.em_scale.em_scaling and theme.typography.em_scale.mobile == "custom"%}
      font-size: {{ theme.typography.em_scale.custom_mobile ** theme.buttons.size.large.em_tier }}rem;
    {% else %}
      font-size: {{ theme.buttons.size.large.size_mobile }}px;
    {% endif %}
  }
}


{#  OVERRIDE BUTTON STYLES RAW STYLES #}


  #hs_cos_wrapper_widget_1651161117212 .button {
    background-color: rgba(255,0,15,1.0) !important;
    border-color: rgba(255,0,15,1.0) !important;
    border-radius: 0.5em !important;
    color: rgba(255,255,255,1.0) !important;
    background-color: rgba(255,255,255,1.0);
    border: 0px solid #ff000f;
    color: #ff000f;
    font-size: 17.5px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    padding: 24px;
}
  #hs_cos_wrapper_widget_1651161117212.button:hover{
      background-color: rgba(255,255,255,1.0);
    border: 0px solid #ff000f;
    color: #ff000f;
    font-size: 17.5px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
  }
