.card {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: var(--card-border-radius, 5px);
}

a.card, .card a {
  text-decoration: none;
  color: inherit;
}

.card__image {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  max-width: 100%;
}

.card__body {
  padding: 20px 16px;
}

.card__title {
  color: #000;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
}

.card__subtitle {
  color: #ccc;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card__description {
  margin-top: 16px;
  margin-bottom: 10px;
}

.card__description p {
  line-height: 23px;
  margin: 0;
  font-size: 14px;
  color: #666;
}

.card__cta {
  letter-spacing: 1.54px;
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.card--shadow {
  box-shadow: var(--card-box-shadow, 0px 0px 12px #00000017);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card--shadow:hover {
  box-shadow: var(--card-box-shadow-hover, 0px 13px 25px 0px #52525238);
  transform: scale(1.01);
}

.card--no-animation {
  transition: none;
}

.card--no-animation:hover {
  box-shadow: inherit;
  transform: none;
}

.card--center-title .card__title {
  text-align: center;
}
