{% if theme.typography.custom_font %}
body {
	font-family: "";
}
h1,
.h1 {
	font-family: "";
	font-weight: ;
}

h2,
.h2 {
	font-family: "";
	font-weight: ;
}

h3,
.h3 {
	font-family: "";
	font-weight: ;
}

h4,
.h4 {
	font-family: "";
	font-weight: ;
}

h5,
.h5 {
	font-family: "";
	font-weight: ;
}

h6,
.h6 {
	font-family: "";
	font-weight: ;
}
{% endif %}