body {
	line-height: 1.4375;
	word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
	line-break: strict;
	word-break: break-all;
}

/* Paragraphs */

p {
	margin: 0 0 10px;
}

/* Anchors */

a {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 10px;
}


h1{
	line-height: 1.2;  
	margin: 0 0 1.4rem;
}
h2{
	line-height: 1.2;
	margin: 0 0 1.4rem;
}
h3{
	line-height: 1.21428571429;
}
h4{
	line-height: 1.20833333333;
}
h5{
	line-height: 1.22222222;
}
h6{
	line-height: 1.22222222;
}



img{
	max-width: 100%;
	height:auto;
	vertical-align: middle;
}
/* Lists */

ul,
ol {
	margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin: 0;
}

ul.no-list {
	list-style: none;
}

/* Code blocks */

code {
	vertical-align: bottom;
}

/* Blockquotes */

blockquote {
	border-left: 2px solid;
	margin: 0 0 1.4rem;
	padding-left: 15px;
}

/* Horizontal rules */

hr {
	background-color: #CCC;
	border: none;
	color: #CCC;
	height: 1px;
}
