@media(min-width: 768px){
  .page-center.release-notes{
      max-width: 1300px!important;
      width: 1300px!important;
   }
}

.category-banner-image img {
    float: none!important;
    margin: 0!important;
    max-width: 100%!important;
    opacity: 1;
    border-radius: 10px;
}

.category-banner-left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    flex: 0 46%;
    padding-left: 2%;
}

.category-banner-sub {
    border: none;
    margin: 0;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-banner-right {
    flex: 0 48%;
}

.banner-details-month, .banner-details-tag {
    color: #ccc;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-details-tag-wrap {
    display: flex;
}

.banner-details-title h2 {
    font-size: 34px;
    line-height: 45px;
    text-decoration: none;
    color: #000;
    margin: 0 0 20px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.banner-details-title h2::after {
    content: "";
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
}

.banner-details-read-time h4 {
    margin: 10px 0px;
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.banner-details-link-wrap a {
    margin: 0;
    text-decoration: none;
    letter-spacing: 1.54px;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.fas.fa-arrow-right::after {
    content: "\f061";
}
.fas.fa-arrow-right {
   font-weight: 900;
}

