.product-vedio-demo-wraper{
   padding: 50px 0px 50px;
    display: block;
    clear: both;
}

  .youtube-player img {
        height: 390px !important;
}
.prodict-vedio-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-vedio-demo{
    margin-bottom: 3px;
    display: block;
    flex: 0 50%;
    position:relative;
    padding:25px;
}
.product-vedio-decription{
  margin-top:20px;
  position:relative;
}
.product-vedio-title a{
		color: #000;
		font-size: 20px;
		line-height: 28px;
		text-decoration: none;
		font-weight: 600;
		cursor:pointer;
	}

.product-vedio-sub p {
    font-size: 14px;
    color: #666;
    margin-top: 16px;
   line-height: 28px;
}
.product-vedio-title a:hover{
    color: #2251ff;
    text-decoration:underline;
}
.product-vedio-demo:hover {
    box-shadow: 2px 5px 25px 2px rgb(5 28 44 / 20%), 0 0 2px 0 rgb(5 28 44 / 20%);
}
.video-player-main .iframe{
	width:100%;
	border: 0px;
	display: none;
 }
.feed-item--video .feed-item__banner {
    margin-bottom: 0;
    z-index: 5;
}
.feed-item__banner{
    overflow: hidden;
    position: relative;
    opacity: 1;
    background-color: #edede8;
}
.feed-item__banner img {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    cursor: pointer;
    width: 100%;
}
.feed-item--video .btn--play {
    z-index: 8;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
}
.btn--play {
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size:20px;
}
.feed-item--video .btn--play:hover {
      background-color: rgba(0,0,0,0.5);
      outline: none;
}
@media (max-width: 767px){
 .product-vedio-demo {  
    flex: 100%;
    padding:10px 20px;
}
  .product-vedio-demo-wraper{
    padding:60px 2px !important;;
    margin: 0  !important;
  }
}
@media (max-width: 1280px){
  .product-vedio-demo-wraper{
    margin: 0 2% 0 2% ;
   padding: 20px 0px 20px;
  }
}
@media (max-width: 1080px){
  .product-vedio-demo-wraper{
    margin: 0 5% 0 5% ;
   padding: 20px 0px 20px;
  }
}

@media (max-width: 426px){
  .youtube-player img {
    height: auto !important;
  }
}
