<div class="post-banner-section">
  <div class="page-center">
    <div class="topic-wrap">
      <p id="hubspot-topic_data">
        {% for topic in content.topic_list %}
        {{ topic.name }}{% if not loop.last %}{% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="post-name">
      <h1>{{ content.name }}</h1>
    </div>
    <div class="post-sub-heading">
      <h2>
        {{ content.widgets.your_custom_modulefield.body.value }}
      </h2>
    </div>
    <div class="social-share-wrap">
      <ul>
        <li><a href="#"
            onclick="javascript:window.open('https://www.linkedin.com/shareArticle?mini=true&amp;url={{ content.absolute_url }}','popup','width=600,height=600');"
            target="_blank" style="width: 24px; border-width: 0px; border: 0px;" rel="noopener"> <i
              class="fab fa-linkedin-in"><span>linkedin</span></i> </a></li>
        <li><a href="https://twitter.com/intent/tweet?url={{ content.absolute_url }}" target="_blank"
            style="width: 24px; border-width: 0px; border: 0px;" rel="noopener"> <i
              class="fab fa-twitter"><span>twitter</span></i> </a></li>
        <li><a href="#"
            onclick="javascript:window.open('https://www.facebook.com/sharer.php?u={{ content.absolute_url }}','popup','width=657,height=400');"
            target="_blank" style="width: 24px; border-width: 0px; border: 0px;" rel="noopener"> <i
              class="fab fa-facebook-f"><span>facebook</span></i> </a></li>
        <li><a href="mailto:?subject=Check out {{ content.absolute_url }}" target="_blank"
            style="width: 24px; border-width: 0px; border: 0px;" rel="noopener"> <img
              src="//static.hubspot.com/final/img/common/icons/social/email-24x24.png?width=24"
              class="hs-image-widget hs-image-social-sharing-24"
              style="max-height: 24px; max-width: 24px; border-width: 0px; border: 0px;" width="24" alt="Share on Email"
              hspace="0"><i class="fas fa-envelope"><span style="display:none;">Email</span></i> </a></li>
      </ul>
    </div>

    <div id="hubspot-author_data" class="hubspot-editable author-wrap" data-hubspot-form-id="author_data"
      data-hubspot-name="Blog Author">
      by
      {%if content.blog_post_author %}
      {{ content.blog_post_author.display_name }} <span class="line">|</span><span class="post-date">{{
        content.publish_date_localized }}</span>
      {% endif %}
    </div>

  </div>
</div>
<div class="fetured-image-wrap">
  <img src="{{ content.post_list_summary_featured_image }}" loading="lazy">
</div>