.service-list-wrapper {
	padding-top: 40px;
	padding-right: 35px;
	padding-bottom: 40px;
	padding-left: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 8px;
}
.service-list-wrapper .service-list-item {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
	justify-content: space-between;
	margin-bottom: 12px;
	margin-top: 0;
	padding: 13px 20px;
	border-radius: 4px;
}
.service-list-wrapper .service-list-item.left-align .list-text-holder {
	order:1;
}
.service-list-wrapper .service-list-item.left-align .list-arrow-holder {
	order:2;
}

.service-list-wrapper .service-list-item.right-align .list-arrow-holder {
	order:1;
}
.service-list-wrapper .service-list-item.right-align .list-text-holder {
	order:2;
}
.service-list-wrapper .service-list-item.center-align{
	justify-content: center;
}
.service-list-wrapper .service-list-item a,
.service-list-wrapper .service-list-item a:hover{
	color:inherit;
}
.service-list-wrapper .service-list-item svg,
.service-list-wrapper .service-list-item img{
	vertical-align: middle;
}
.service-list-wrapper .top-content-section{
	margin-bottom:30px;
}

