.portfoliofilter-wrap .portfoliofilter-heading {
	text-align: center;
	padding-bottom: 50px;
}
.portfoliofilter-wrap .portfoliofilter-heading > * {
	margin: 0;
}
.portfoliofilter-wrap .portfoliofilter-heading h2 {
	padding-bottom: 25px;
}
.portfoliofilter-wrap .portfoliofilter-button {
	margin-right: 40px;
	display: inline-block;
}

.portfoliofilter-wrap .portfoliofilter-button-group {
	text-align: center;
	padding-bottom: 20px;
	border-bottom:1px solid #DCDCDC;
}
.portfoliofilter-wrap .portfoliofilter-button-group {
	margin-bottom: 60px;
}

.portfoliofilter-wrap .portfoliofilter-button.is-checked {
	font-weight: 600;
}

.portfoliofilter-wrap .portfoliofilter-item {
	width: 33.33%;
	float: left;
	padding: 6px;
}

.portfoliofilter-wrap .portfoliofilter-item-wrap {
	margin: 0 -6px;
}

.portfoliofilter-wrap .portfoliofilter-item-inner {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 20px;
	position: relative;
	min-height: 457px;
	display: flex;
	align-items: end;
}
.portfoliofilter-wrap .portfoliofilter-item-cnt .more {
	margin: 0;
}

.portfoliofilter-wrap .portfoliofilter-item-inner h5, 
.portfoliofilter-wrap .portfoliofilter-item-inner a,
.portfoliofilter-wrap .portfoliofilter-item-inner {
	color: #fff;
	fill: #fff;
}
.portfoliofilter-wrap .portfoliofilter-item-cnt {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	transition: all 0.6s;
	background: rgba(20, 20, 20,0.5);
	padding:20px;
}


.portfoliofilter-wrap .portfoliofilter-item-cnt .read-icn {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.portfoliofilter-wrap .portfoliofilter-item-cnt .read-icn svg {
	display: block;
}

.portfoliofilter-wrap .portfoliofilter-item-cnt h5 {
	margin-bottom: 24px;
}

.portfoliofilter-wrap .portfoliofilter-item-cnt .desc {
	margin: 0 0 24px;
}
.portfoliofilter-wrap .portfoliofilter-item-cnt .desc > :last-child {
	margin-bottom:0;
}
.portfoliofilter-wrap .portfoliofilter-item-cnt .read-icn img {
	vertical-align: text-top;
}
.portfoliofilter-wrap .portfoliofilter-item-cnt .read-txt {
	display: inline-block;
	vertical-align: middle;
}
.portfoliofilter-wrap .portfoliofilter-btn-wrap {
	text-align: center;
}
.portfoliofilter-wrap .portfoliofilter-btn-wrap.left-btn {
	text-align: left;
}
.portfoliofilter-wrap .portfoliofilter-btn-wrap.right-btn {
	text-align: right;
}




@media(max-width:640px){
	.portfoliofilter-wrap .portfoliofilter-item {
		float: none;
		width: 100%;
	}
}
