
.blog-author-wrapper {
    max-width: 860px;
    margin: 0 auto;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
    padding: 50px 0px;
}

.blog-author-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.author-bio {
    flex: 0 80%;
}
  
.author-bio p{
    color: #808080;
    font-size: 16px;
    line-height: 30px;
}
.blog-author-header h2 {
    color: #000000;
    font-size: 16px;
    margin-bottom: 0px;
}