{% if module.author_module_on_off %}
	  <div class="blog-author-wrapper">
  {% if content.blog_post_author %}
     {% if content.blog_post_author.avatar %}  
         <div class="blog-author-section"> 
             <div class="author-img"> 
                 <img src="{{ content.blog_post_author.avatar }}" alt="{{ content.blog_post_author.display_name }}" loading="lazy"> 
              </div>
               <div class="author-bio"> 
                  <div class="blog-author-header">
                    <h2>
                     About Author:
                    </h2>
                  </div>
                  <p>
                    {{ content.blog_author.bio }}
                 </p>
                </div>
            </div>
       {% endif %}  
   {% endif %}
</div> 
{% endif %}