.tst_slider .glide__slide {  
	margin: 0; 
	text-align: center;
}
.tst_slider .tst_author_des > * {
	color: inherit;
} 
.tst_slider > div + div {
	position: relative;
} 
.tst_slider .tst_top {
	padding-bottom: 20px;
}
.tst_slider {
	padding: 30px; 
	position: relative; 
}
.tst_slider .tst_author_img { 
	width: 65px;
	height: 65px;
	position: relative;
	float: left;
	margin-right: 20px; 
}
.tst_slider .grd_item_inr {
	border-radius: 8px;
	padding: 30px 50px; 
}
.tst_slider .tst_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tst_slider .ttl {
	font-weight: bold;
}
.tst_slider .tst_author_img > img {
	position: absolute;
	top: 0; 
	right: 2px; 
	width: 17px; 
} 
.tst_slider .tst_des * {
	color: inherit;
} 
.tst_slider .tst_des > img {
	width: 20px;
} 

.tst_slider .tst_img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.tst_slider .start_q {
	position: absolute;
	left: 0;
	top: -20px;
}

.tst_slider .end_q {
	position: absolute;
	right: 0;
}
.tst_slider .grd_item_inr { 
	border-radius: 8px;
}
.tst_slider .tst_des p {
	margin: 0;
}
.tst_slider .tst_des { 
	font-size: 20px;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 30px;
	position: relative; 
	padding-top: 30px; 
}
.tst_slider .tst_author_wrap {
	margin: 0 auto;
	max-width: 200px; 
	display: flex;
	justify-content: center; 
}

.tst_slider .tst_author_des {
	overflow: hidden;
	text-align: left;
}  

