<div class="individual-product-releases-outer">
  <div class="page-center-individual">
    <div class="individual-product-releases-inner">
      <div class="individual-product-releases-title">
        <h1>
          {{ module.title }}
        </h1>
      </div>
      <div class="individual-product-releases-title-description">
          {{ module.title_description }}
      </div>
      <div class="individual-product-releases-featured-image">
        {% if module.featured_image.src %}
        {% set sizeAttrs = 'width="{{ module.featured_image.width }}" height="{{ module.featured_image.height }}"' %}
        {% if module.featured_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.featured_image.width }}" height="{{ module.featured_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.featured_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.featured_image.max_width }}" height="{{ module.featured_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.featured_image.loading != 'disabled' ? 'loading="{{ module.featured_image.loading }}"' : '' %}
        <img src="{{ module.featured_image.src }}" alt="{{ module.featured_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="individual-product-releases-details">
        <div class="individual-product-releases-published-date">
          {{ module.published_date }}
        </div>
        <div class="individual-product-releases-published-date">
          {{ module.read_time }}
        </div>
      </div>
      <div class="individual-product-releases-content">
        {{ module.content }}
      </div>
    </div>
  </div>
</div>