.page-center-individual{
    max-width: 1040px;
    margin: 0 auto;
}
.individual-product-releases-title h1 {
  max-width: 1000px;
  text-align: center;
  padding: 50px 20px 50px;
  margin: 0 auto;
}
.individual-product-releases-content {
   padding: 70px 30px 5px;
}
.individual-product-releases-title-description h3 {
    color:var(--color-primary);
    font-weight: 400;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 0px 16px 50px;
}
.individual-product-releases-details {
    display: flex;
    padding: 20px 16px;
}
.individual-product-releases-content ul li, .individual-product-releases-content ol li{
    color: #666;
    font-size: 16px;
    margin-bottom: 15px!important;
    padding-left: 40px!important;
    font-weight: 600;
    background-size: 18px;
    background-repeat: no-repeat;
    margin-top: 7px;
    background-image: url(//cdn2.hubspot.net/hubfs/6357099/HotWax_February2020/Images/red-hexagon-outline.svg);
    list-style-type: none;
}
.individual-product-releases-published-date {
    padding-right: 20px;
}
.individual-product-releases-content h2::after, .individual-product-releases-content h3::after, .individual-product-releases-content h4::after, .individual-product-releases-content h5::after, .individual-product-releases-content h6::after {content: "";background-color: #f79421;position: absolute;left: 0;bottom: 0;width: 40px;height: 5px;margin: 0 auto;}

.individual-product-releases-content h2, .individual-product-releases-content h3, .individual-product-releases-content h4, .individual-product-releases-content h5, .individual-product-releases-content h6 {
    position: relative;
    padding-bottom: 20px;
}
.individual-product-releases-content p{
    color: grey;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
.individual-product-releases-content h3{
    color: #000;
    font-size: 24px;
    margin: 0 0 20px;
    display: inline-block;
    line-height: 30px; 
}
.individual-product-releases-content ol, .individual-product-releases-content ul{
    margin: 30px 0px;
}
@media(min-width: 767px){
    .individual-product-releases-title h1 {
        font-size: 64px;
    }
}
