.blog-posts .blog-posts__post {
  margin-bottom: 40px; 
}

.blog-posts .blog-posts__post-content {
  padding: 30px 40px;
  border: 2px solid #f7f6f6;
  height: 100%;
}

@media (min-width: 768px) {
  .blog-posts .blog-posts__post-content { 
    border-left: none; 
  }
}

.blog-posts .blog-posts__post img {
  height: 250px;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-posts__btn, .blog-posts__author-link {
  text-decoration: underline;
}

.blog-posts__meta {
  opacity: 0.8; 
}
.blog-posts .button {
  text-align: center;
  display: inline-block;
  min-width: 250px; 
  text-transform: uppercase;
}


