/* Grey sticky bar */
.solution-info-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: hsla(0, 0%, 97.3%, 0.9);
    opacity: 0.85;
}

/* Layout fix */
.solution-info-inner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* Buttons */
.solution-info-wrapper .solution-info-inner a {
   
    margin: 3px;
    padding: 5px 10px;
    border: 1px solid #ec2227 !important;
    border-radius: 4px;
    background-color: #ffffff !important;
    color: #ec2227 !important;
    text-decoration: none;
}

/* Text */
.solution-info-wrapper .solution-info-inner p {
    font-size: 12px;
    color: #ec2227 !important;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom:0;
}

/* Hover */
.solution-info-wrapper .solution-info-inner a:hover {
    background-color: #ec2227 !important;
    color: #ffffff !important;
    border-color: #ec2227 !important;
}

.solution-info-wrapper .solution-info-inner a:hover p {
    color: #ffffff !important;
}
