 .content {
    max-width: var(--page-max-width);
  }
  
  .first-fold {
      background-image: var(--fashion-background);
      background-size: auto, auto, 1150px;
      text-align: start;
  }
  
  .first-fold > .content {
      place-items: unset;
      padding: var(--spacer-xl) 0 var(--spacer-lg);
      grid-template-columns: 50% 50%;
  }
  
  .subtitle {
      font-family: var(--font-family-special);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-xl);
      line-height: 100%;
      color: var(--color-primary);
      z-index: 10;
      margin: 0;
    
      grid-column: 1/3;
      grid-row: 1;
  }
  
  .mission-statement span {
      font-family: var(--font-family-special);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-lg);
      color:#666;;
      margin: var(--spacer-lg) 0 var(--spacer-md);
      display: block;
      line-height: 160%;
      
      grid-column: 1;
  }
  
  .value-props {
      display: grid;
  
      grid-column: 1/3;
      grid-row: 3;
  }
  
  .branded-divider {
      height: 5px;
      width: 40px;
      background-color: var(--color-secondary);
  }
  
  .value-prop-name {
      font-family: var(--font-family-special);
      font-weight: var(--font-weight-bold);
      color: rgba(39, 39, 39, 1);
      display: none;
  }
  
  .value-prop-impact span {
    font-family: var(--font-family-body);
    font-size: var(--font-size-sm);
    color: rgba(102, 102, 102, 1);
    margin-top: 0px;
    grid-column: 1;
 }
  
  .hero-image {
      display: none;
      position: relative;
      margin-left: -15%;
  }
  
  .clients {
      background-color: white;
      padding: var(--spacer-xl) 0 var(--spacer-lg);
  }
  
  .clients > h2 {
      margin-top: var(--spacer-xs);
      margin-bottom: var(--spacer-xs);
      color: var(--color-primary);
      font-size: var(--font-size-sm);
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
  }
  
  .client-logos {
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-flow: column;
      grid-auto-rows: 50px;
      align-items: center;
      justify-content: space-evenly;
      margin-top: var(--spacer-lg);
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
  }
  
  .client-logos {
      display: flex;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      opacity: .76;
      padding: 0 var(--spacer-md);
      box-shadow: var(--m-shadow);
  }
  
  .client-logos > img {
      height: 120%;
      height: 80px;
      object-fit: contain;
      max-width: 140px;
      filter: grayscale(100%);
  }
  
  .hex-divider {
      width: 8px;
      height: 8px;
      background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/hex-divider.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.2;
  }
  
  .hs-button {
      justify-self: start;
      align-self: start;
  }
  
  .first-fold-cta {
    margin-top: var(--spacer-md);
  }
  
  
  @media (min-width: 991px) {
      .sutitle {
          font-size: 60px;
      }
      
      .value-prop-name { 
          font-size: 30px;
      }
      .hero-image {
          display: unset;
          grid-column: 2;
          grid-row: 2/5;
          align-self: center;
          height: 100%
      }
  
      .hero-image img {
          height: 100%;
          max-height: 62vh;
          object-fit: cover;
          object-position: left;
          overflow: visible;
      }
  }

html.safari .hero-image {
    width: -webkit-max-content;
}

  @media (max-width: {{ theme.layout.breakpoint_tablet }}px) {
      .first-fold {
          text-align: start;
      }
  
      .branded-divider {
          margin-inline: auto;
      }
  
      .hs-button {
          justify-self: center;
          grid-column: 1;
      }
  }
