<!--
  templateType: global_partial
  label: Page Footer
-->

<section class="page-footer">
  <div class="page-center">
    <div class="content">
      <div class="about">
        {% logo "my_logo" width="200" %}
        {% form "my_form"
          form_to_use="",
          title="Connect"
        %}
        <div class="address">
          <h3>Headquarters</h3>
          <p>175 S Main St Suite 1310,
          <br/>
            Salt Lake City, UT 84111</p>
        </div>
      </div>
      <div class="site-map desktop-only">
        {% menu "footer" id=26370182743, site_map_name='Default', overrideable=False, root_type='site_root', flyouts='true', max_levels='2', flow='horizontal', label='Footer Navigation' %}
      </div>
    </div>
    {% page_footer "page_footer" %}
  </div>
</section>

<style>

.page-footer {
  background-color: #f5f5f7;
  padding-block: var(--spacer-lg) var(--spacer-xl);
}

.page-footer .content {
  display: flex;
  align-items: start;
  gap: 48px;
  margin: unset;
  max-width: unset;  /* To remove later, adding now to override global rule. I don't think we need the global rule*/
}

.page-footer .about {
  flex: 1;
}

.page-footer .site-map {
  flex: 3;
}

/* remove border from form */
.page-footer .hs_cos_wrapper_type_form {
  border: unset;
  background: unset;
  padding-inline: unset;
}

/* HubSpot Default Menu CSS */
.page-footer .hs-menu-wrapper ul {
  /* Targets all unordered lists within HubSpot menus */
  padding-inline-start: 0;
}

/* mobile only styles */
@media (max-width: 1170px) {
  .page-footer .page-center {
    padding: var(--spacer-sm);
  }
}

/* Horizontal Menu
   ========================================================================== */

.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal ul {
  /* Targets all unordered lists within horizontal menus */
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal ul li {
  /* Targets all list items within horizontal menus */
  list-style: none;
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal ul li a {
  /* Targets all links within horizontal menus */
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
  /* Targets the top-level unordered list within horizontal menus */
  display: flex;
  gap: var(--spacer-md);
  justify-content: space-around;
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
  /* Targets top-level list items within the top-level unordered list */
  font-family: var(--font-family-special);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
  /* Targets top-level list links within the top-level unordered list */
  text-decoration: none;
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children {
  /* Targets list items with children with the top-level unordered list */
}
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal
  > ul li.hs-item-has-children
  ul.hs-menu-children-wrapper
  li
  a {
  /* Targets links within second-level unordered lists  */
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--color-text-body);
  text-transform: none;
  transition: color 0.3s ease;
}

.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal
  > ul li.hs-item-has-children
  ul.hs-menu-children-wrapper
  li
  a:hover {
    color: var(--color-tertiary);
  }

/* No flyouts
   ========================================================================== */
.page-footer .hs-menu-wrapper.hs-menu-flow-horizontal.no-flyouts
  > ul
  li.hs-item-has-children
  ul.hs-menu-children-wrapper {
  /* Targets second-level child menus when flyouts are disabled */
}

</style>