
<header>
    <div class="content page-center">
        <div class="header__logo">
            <span id="hs_cos_wrapper_site_logo" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="https://www.hotwax.co/" id="hs-link-site_logo" style="border-width:0px;border:0px;"><img src="https://6357099.fs1.hubspotusercontent-na2.net/hubfs/6357099/Hotwax-2021/HotWax_February2020/Images%20Icons,%20Apparel%20background,%20Hexagon/logo-hotwax-dark.svg" class="hs-image-widget " height="400" style="height: auto;width:400px;border-width:0px;border:0px;" width="400" alt="HotWax Commerce" title="HotWax Commerce"></a></span>
        </div>
        <div class="mobile-menu-toggle">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-button">☰</label>
        </div>
        <nav class="main-nav">
            <span id="hs_cos_wrapper_header" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_header" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="Default" data-menu-id="233705948873" aria-label="Navigation Menu">
 <ul role="menu">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Product</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Overview</a>
     <ul role="menu" class="hs-menu-children-wrapper">
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/product/omnichannel-order-management-system/" role="menuitem">Omnichannel Order Management System</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/frequently-asked-questions" role="menuitem">FAQ</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/product-update" role="menuitem">Product Updates</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/hotwax-commerce-documentation" role="menuitem">Knowledge Base</a></li>
     </ul></li>
    <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Use Cases</a>
     <ul role="menu" class="hs-menu-children-wrapper">
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/buy-online-pick-up-in-store-bopis-software/" role="menuitem">Buy Online Pick-Up In Store</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/configurable-order-routing" role="menuitem">Configurable Order Routing</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/ship-from-store-software" role="menuitem">Ship from Store</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/unified-inventory/" role="menuitem">Unified Inventory</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/pre-orders/" role="menuitem">Pre-Orders</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/store-inventory-management" role="menuitem">Store Inventory Management</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/solution/buy-online-return-in-store-boris-software" role="menuitem">Buy Online Return In Store</a></li>
     </ul></li>
    <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children" role="none"><a href="javascript:;" role="menuitem">Integrations</a>
     <ul role="menu" class="hs-menu-children-wrapper">
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/shopify-order-management-integration" role="menuitem">Shopify</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/hotwax-netsuite-integration" role="menuitem">NetSuite</a></li>
      <li class="hs-menu-item hs-menu-depth-3" role="none"><a href="https://www.hotwax.co/all-integrations/" role="menuitem">All Integrations</a></li>
     </ul></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Solutions</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/product/omnichannel-order-management-system-for-shopify/" role="menuitem">Omnichannel Order Management for Shopify</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/product/omnichannel-retail-sales-audit-oresa/" role="menuitem">Omnichannel Retail Sales Audit</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/solution/bi-reports-analytics" role="menuitem">BI Reports &amp; Analytics</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Resources</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/blog" role="menuitem">Blog</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/podcast" role="menuitem">Podcast</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/whitepaper" role="menuitem">Whitepaper</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/order-management-system-for-luxury-brands" role="menuitem">Luxury Order Management</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/comparing-order-management-capabilities-between-shopify-and-hotwax" role="menuitem">Comparing Order Management<br>Capabilities B/W Shopify and HotWax</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/how-to-do-buy-online-pick-up-in-store-right" role="menuitem">How To Do By Online Pick-Up In Store Right</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/solution-briefs" role="menuitem">Solution Briefs</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/demo-videos/" role="menuitem">Demo Videos</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/business-intelligence-bi-reports" role="menuitem">Sample BI Reports</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/hotwax-commerce-documentation" role="menuitem">Knowledge Base</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="javascript:;" aria-haspopup="true" aria-expanded="false" role="menuitem">Company</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/about-us/our-story/" role="menuitem">Our Story</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/about-us/" role="menuitem">Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/hotwax-commerce-partners" role="menuitem">Partners</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/hotwax-commerce-pressroom" role="menuitem">Pressroom</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://www.hotwax.co/privacy-and-security" role="menuitem">Security</a></li>
   </ul></li>
 </ul>
</div></span>
            <span id="hs_cos_wrapper_contact_us" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_cta" style="" data-hs-cos-general-type="widget" data-hs-cos-type="cta"><div class="hs-web-interactive-inline" style="" data-hubspot-wrapper-cta-id="235571043036"> 
 <a href="https://cta-na2.hubspot.com/web-interactives/public/v1/track/click?encryptedPayload=AVxigLLk4qu1XJKsAD%2Fnh%2FIskYOzRsKM90SmmLg6TDdeS094zUNQCnpKW3qraBc%2F9AKqv3oTNPIuQu%2F8e1WLQuzA8qEWBwZYMpMN0AOwdf5g3EqyhyLoXlhxSkfRC9Zl6t9p1XGV63hHv22mEINsPrMZqtXXevms0XlmddQs49GljNzU&amp;portalId=6357099" class="hs-inline-web-interactive-235571043036 hs-button primary button  " data-hubspot-cta-id="235571043036"> Contact Us </a> 
</div></span>
        </nav>
    </div>
</header>