	.error-outer {
    padding: 150px 0px 30px;
}
.error-inner {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.error-heading h2 {
    font-size: 56px;
    color: #121217;
    font-weight: 700;
    padding-bottom: 20px;
    line-height: 85px;
    margin-bottom: 0px;
    font-family: Montserrat, sans-serif;
}
.error-description p {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
}
.error-description p a {
    text-decoration: none;
    color: #ff7a59;
}
@media(max-width: 479px){
  .error-heading h2{
    font-size: 50px;
  }
}
@media (max-width: 900px){
.error-outer {
    padding: 100px 0px 50px;
}
}