.blog-listing-wrap .prospect_grid{
   margin-left:-15px;
   margin-right:-15px;
}

.blog-listing-wrap .prospect_wrapper {
   position: relative;
   overflow: hidden;
}

.blog-listing-wrap .post_grid_post {
   margin-bottom: 60px;
}

.blog-listing-wrap .post_post_wrapper {
   border-radius: 8px;
   background: #fff;
   overflow: hidden;
}

.blog-listing-wrap .floated_media {
   margin-right: 0;
}

.blog-listing-wrap .floated_media_wrapper {
    float: none;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
}

.blog-listing-wrap .posts_grid_medium .floated_media_wrapper,
.blog-listing-wrap .posts_grid_small .floated_media_wrapper {
   float: left;
}

.blog-listing-wrap .post_posts_grid.posts_grid_small .floated_media_wrapper,
.blog-listing-wrap .post_posts_grid.posts_grid_medium .floated_media_wrapper {
   margin-left: 40px;
   margin-top: 30px;
}

.blog-listing-wrap .post_posts_grid.posts_grid_medium .floated_media > .floated_media_wrapper {
   width: 570px;
}

.blog-listing-wrap .post_posts_grid.posts_grid_medium .floated_media > .floated_media_wrapper,
.blog-listing-wrap .post_posts_grid.posts_grid_small .floated_media > .floated_media_wrapper {
   max-width: -webkit-calc( 100% - 30px );
   max-width: calc( 100% - 30px );
}
.blog-listing-wrap .post_media:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -11px;
    left: 10%;
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.blog-listing-wrap .post_media, .blog-listing-wrap .post_media .pic {
   position: relative;
   overflow: hidden;
}

.blog-listing-wrap .post_posts_grid.posts_grid_medium .floated_media_wrapper .post_media {
   border-radius: 8px;
}

.blog-listing-wrap .pic > img, 
.blog-listing-wrap .pic.link_post > a > img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1) translate3d(0,0,0);
    -ms-transform: scale(1) translate3d(0,0,0);
    transform: scale(1) translate3d(0,0,0);
    border-radius: 0;
}

.blog-listing-wrap .pic .hover-effect {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

.blog-listing-wrap .pic .links {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   max-width: 100%;
   max-height: 100%;
   padding: 30px;
   text-align: right;
}

.blog-listing-wrap .pic .links a:not(.cws_title) {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   text-decoration: none;
   text-align: center;
   width: 44px;
   height: 48px;
   margin: 2px;
   border-radius: 8px;
   font-size: 22px;
   line-height: 50px;
   color: #fff;
   -webkit-transform: scale(0.5) rotate(180deg);
   -ms-transform: scale(0.5) rotate(180deg);
   transform: scale(0.5) rotate(180deg);
   opacity: 0;
}

.blog-listing-wrap .figure_wrap {
   position: absolute;
   z-index: -1;
   left: -1px;
   top: -1px;
   width: 100%;
   height: 100%;
}

.blog-listing-wrap .figure_wrap svg {
   fill: #e70000;
   stroke-width: 2px;
   padding: 1px;
   opacity: 1;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
   stroke: #e70000;
   width: 100%;
   height: 100%;
}

.blog-listing-wrap .post_post_content_wrapper {
   padding: 30px 40px;
}

.blog-listing-wrap .post_title.post_post_title {
   margin-top: 0;
   margin-bottom: 5px;
   font-weight: 900;
   font-size: 1.85em;
   color: #b3b3b3;
}

.blog-listing-wrap .post_title.post_post_title a {
   color: inherit;
}
.blog-listing-wrap .post_title.post_post_title a:hover {
   color: #e70000;
}

.blog-listing-wrap  * + .post_post_terms {
   margin-top: 5px;
   line-height: 1;
}

.blog-listing-wrap .post_post_terms {
   color: #00a2e1;
}

.blog-listing-wrap .post_post_terms > * {
   vertical-align: middle;
}

.blog-listing-wrap .post_post_terms a {
   font-size: 0.866667em;
   text-decoration: none;
   font-weight: 600;
   line-height: 1;
   color: #00a2e1;
}

.blog-listing-wrap hr.posts_grid_small_divider {
   margin: 20px 0 15px;
   height: 2px;
   width: 30px;
   background-color: #e70000;
   overflow: hidden;
}

.blog-listing-wrap .post_post_content_wrapper .post_posts_grid_post_content {
   color: #808c95;
   font-weight: 300;
}

.blog-listing-wrap *:not(.post_post_title) + .post_post_content,
.blog-listing-wrap .post_post *:not(.post_post_title) + .pagination,
.blog-listing-wrap .more-link {
   margin-top: 20px;
}

.blog-listing-wrap .more-link {
   text-decoration: none;
}

.blog-listing-wrap .more-link {
   display: inline-block;
   padding: 18px 20px;
   min-width: 170px;
   border-style: solid;
   border-width: 2px;
   border-color: #e95f58;
   line-height: 1.066667em;
   color: #fff;
   font-weight: 600;
   text-align: center;
   white-space: nowrap;
   font-size: 12px;
   text-transform: uppercase;
   border-radius: 8px;
}

.blog-listing-wrap .more-link {
   color: inherit;
   display: table;
   border-color: #e70000;
   margin-top: 30px;
   min-width: 0;
   padding: 0;
   border-style: none;
   color: #324251;
}
.blog-listing-wrap .more-link:hover {
   color: #e70000;
}
.blog-listing-wrap .more-link i {
   color: #e70000;
}

.blog-listing-wrap .pic:hover .links a:not(.cws_title) {
   -webkit-transform: scale(1) rotate(0);
   -ms-transform: scale(1) rotate(0);
   transform: scale(1) rotate(0);
   opacity: 1;
}

.blog-listing-wrap .prospect_grid_item {
    width: 50%;
    margin-bottom: 60px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-listing-wrap .posts_grid_divider {
   margin-top: 20px;
   margin-bottom: 25px;
}

.blog-listing-wrap .post_post_header {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: flex-start;
   -ms-flex-pack: justify;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
   text-align: center;
   overflow: hidden;
}

.blog-listing-wrap .post_post_header > * {
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   font-weight: 600;
   font-size: 0.857em;
   text-transform: uppercase;
   color: #324251;
   margin-right: 40px;
}

.blog-listing-wrap .post_post_header span {
   color: #afb1bc;
   margin-right: 5px;
}

.blog-listing-wrap .post_post_header .info {
   -webkit-justify-content: space-around;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

.blog-listing-wrap .post_post_header span {
   color: #afb1bc;
   margin-right: 5px;
}

.blog-listing-wrap .pic .links a:hover .figure_wrap svg {
   opacity: 0.6;
}

.blog-listing-wrap .fancy-icon {
   display: inline-block;
   margin-right: -4px;
}


@media(max-width:980px){
   .blog-listing-wrap .floated_media_wrapper {
      float: none;
   }


}

@media(max-width:767px){   
   .blog-listing-wrap .floated_media_wrapper {
      max-width: 1005;
      margin-left: 0;
      float: none;
      width: 100%;
   }
   .blog-listing-wrap .post_post_content_wrapper {
      padding: 20px 30px;
   }
   .blog-listing-wrap .floated_media {
      margin-right: 0;
   }
   .blog-listing-wrap .post_post_header {
      flex-direction: column;
      line-height: 24px;
   }
   .blog-listing-wrap .post_post_header .info {
      justify-content: flex-start;
   }
   .blog-listing-wrap .post_post_header>* {
      margin-right: 0;
   }
}

@media screen and (max-width: 479px){
   .blog-listing-wrap .prospect_grid_item {
    width: 100%;
    margin-bottom: 60px;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}
}