.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    width: 50%;
    min-width: 240px;
    padding: 0 30px;
    margin: 20px 0;
    filter: grayscale(100%);
}

.member-headshot {
    display: inline-block;
    width: 160px;
    padding: 10px;
    background-image: radial-gradient(circle farthest-corner at 50% 59%, #000, #fff 56%);
}

.member-headshot > img {

}

.member-name {
    margin-bottom: 3px;
    font-family: var(--font-family-special);
    color: black;
}

.member-title {
    margin-bottom: 20px;
    color: #666;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.member-description {
    
}