<div class="members page-center">
    {% for item in module.member %}
        <div class="member">
            {% if item.headshot.src %}
                <div class="member-headshot">
                    {% set sizeAttrs = 'width="{{ item.headshot.width }}" height="{{ item.headshot.height }}"' %}
                    {% if item.headshot.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ item.headshot.width }}" height="{{ item.headshot.height }}" style="max-width: 100%; height: auto;"' %}
                    {% elif item.headshot.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ item.headshot.max_width }}" height="{{ item.headshot.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = item.headshot.loading != 'disabled' ? 'loading="{{ item.headshot.loading }}"' : '' %}
                    <img src="{{ item.headshot.src }}" alt="{{ item.headshot.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                </div>
            {% endif %}
            <h3 class="member-name">{% inline_text field="founder_name" value="{{ item.founder_name }}" %}</h3>
            <p class="member-title">{% inline_text field="member_title" value="{{ item.member_title }}" %}</p>
            <p class="member-description">{% inline_rich_text field="member_description" value="{{ item.member_description }}" %}</p>
        </div>
    {% endfor %}
</div>