.opportunity-main .image-item-wrpr {
	background-size: cover;
	background-position: center center;
	padding: 30px;
	overflow: hidden;
	border-radius: 8px;
	position: relative;
	min-height: 200px;
	display: flex;
	align-items: center;
}

.opportunity-main .image-item {
	margin-bottom: 0;
	padding-left: 0px;
	padding-right: 0px;
}

.opportunity-main .image-item-wrpr .item-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.opportunity-main .image-item-wrpr .image-text {
	position: relative;
	z-index: 2;
}

.opportunity-main .content-section .content-wrpr {
	height: 100%;
	background-size: cover;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
}

.opportunity-main .content-section .content-wrpr .content-image-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.opportunity-main .text-wrpr-inner {
	color:inherit;
}

