<div class="solution-briefs-list-outer">
  {% for item in module.whitepaper_group %}
  <div class="solution-briefs-list-inner">
    	{% set href = item.whitepaper_image_link.url.href %}
	{% if item.whitepaper_image_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}
	<a href="{{ href }}"
		{% if item.whitepaper_image_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.whitepaper_image_link.rel %}rel="{{ item.whitepaper_image_link.rel }}"{% endif %}
		>
    <div class="solution-briefs-list-image">
      {% if item.whitepaper_image.src %}
		{% set sizeAttrs = 'width="{{ item.whitepaper_image.width }}" height="{{ item.whitepaper_image.height }}"' %}
		{% if item.whitepaper_image.size_type == 'auto' %}
			{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
		{% elif item.whitepaper_image.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.whitepaper_image.max_width }}" height="{{ item.whitepaper_image.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.whitepaper_image.loading != 'disabled' ? 'loading="{{ item.whitepaper_image.loading }}"' : '' %}
		<img src="{{ item.whitepaper_image.src }}" alt="{{ item.whitepaper_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
	{% endif %}
    </div>
    </a>
    <div class="solution-briefs-list-content-wrapper">
      <div class="solution-briefs-list-title">
        <h2>
        {% set href = item.whitepaper_title_link.url.href %}
	{% if item.whitepaper_title_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}
	<a href="{{ href }}"
		{% if item.whitepaper_title_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.whitepaper_title_link.rel %}rel="{{ item.whitepaper_title_link.rel }}"{% endif %}
		>
        {{ item.whitepaper_title }}
      </a> 
        </h2>
      </div>
      <div class="solution-briefs-list-description">
       {{ item.whitepaper_description }}
      </div>
      <div class="solution-briefs-list-link">
      {% set href = item.whitepaper_link.url.href %}
	{% if item.whitepaper_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}
	<a href="{{ href }}"
		{% if item.whitepaper_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.whitepaper_link.rel %}rel="{{ item.whitepaper_link.rel }}"{% endif %}
		>
		{{ item.text_field }}
	</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


