{% if module.related_link_section_on_off %}
  <div class="related-links-wrapper">
    <div class="related-links-heading">
      <h3>{{ module.related_link_section.related_link_heading }}</h3>
    </div>
    <div class="related-links-tab">
      {% for item in module.related_link_section.related_links_group %}
        <div class="related-tab-inner">
          <p> {{ item.related_content_text }}:</p>
            {% set href = item.related_link.url.href %}
    {% if item.related_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    {% set rel = [] %}
    {% if item.related_link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}
    {% if item.related_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}
    <a href="{{ href }}"
      {% if item.related_link.open_in_new_tab %}target="_blank"{% endif %}
      {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
      >
      {{ item.related_link_text }}
    </a>
         </div>
      {% endfor %}
    </div>

  </div>
{% endif %}