.header-top {
	padding: 0px 15px;
	border-bottom: 1px solid #fdfdfd;
}

.header-top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	position:relative;
}
.header-top .header-search-inner {
	margin-top: 1px;
}

.header-icon {
	display: flex;
	align-items: center;
}

.header-icons-item .icon {
	width: 20px;
	margin-right: 5px;
	text-align: center;
	justify-content: center;
}

.header-icons-item {
	align-items: center;
	padding: 0 10px;
}
.header-icons-item a {
	align-items: center;
}

.main-header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-scoial {
	display: flex;
	align-items: center;
	padding: 0 5px;
	padding-left:0;
}
.header-icons-wrap .header-scoial {
	padding-left: 0;
}

.header-scoial-item {
	padding: 0 10px;
}
.header-scoial-item a svg{
	height: 100%;
	width: 100%;
}

.header-search {
	padding: 0 10px;
	align-items: center;
}

.header-button {
	display: flex;
	align-items: center;
}

.header-button-item {
	padding-left:10px;
	text-align: center;
}
.main-header .header-button-item:first-child {
	padding-left: 0;
}

.main-header {
	padding: 0 15px;
	border-bottom: 1px solid #fdfdfd;
	box-shadow: 0px 2px 4px rgb(0 0 0 / 14%);
}
.header-wrap svg {
	display: block;
}

.header-search-inner {
	display: none;
	left: auto;
	margin-top: 2px;
	padding: 37px 20px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 100%;
	z-index: 20;
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 7px;
}

.search-open .header-search-inner {
	display: block;
}

.header-search-inner button {
	border: none !important;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.header-searchicon {
	cursor: pointer;
}

.header-top-cnt {
	padding-right: 10px;
	display: flex;
	flex-direction: column;
}
.header-icons-wrap {
	display: flex;
	align-items: center;
}

.custom-menu-primary .hs-menu-wrapper>ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px;
	justify-content: flex-end;
}

.logo {
	font-size: 0;
	padding-right: 10px;
}
.custom-menu-primary .hs-menu-wrapper > ul ul {
	position: absolute;
	left: 0;
	opacity: 0;
	visibility: hidden;
	padding: 0;
	z-index: 9;
}
.custom-menu-primary .hs-menu-wrapper > ul > li {
	position: relative;
}

.custom-menu-primary .hs-menu-wrapper ul li:hover>ul {
	opacity: 1;
	visibility: visible;
}

.custom-menu-primary .hs-menu-wrapper>ul ul ul {
	top: 0;
	left: 100%;
}
.custom-menu-primary .hs-menu-wrapper>ul ul li {
	position:relative;
}
.custom-menu-primary .hs-menu-wrapper>ul ul li a {
	padding: 10px;
}


.custom-menu-primary .hs-menu-wrapper>ul ul li:last-child {
	padding: 0;
}

.header-wrap svg {
	fill: currentColor;
}
.header-scoial-item img {
	display: block;
}
.custom-menu-primary {
	padding: 0 15px;
}

.main-header-inner {
	position: relative;
	padding: 10px 0;
}


.header-top-icon {
	display: flex;
	align-items: center;
}
.header-language > span {
	display: flex;
	align-items: center;
}
.header-language .lang_switcher_class {
	vertical-align: sub;
}

.header-language {
	padding: 0 10px;
	padding-right: 25px;
}

.header-language .lang_list_class li {
	text-align: left;
}

.header .lang_list_class {
	left: auto;
}
.header .lang_list_class:after,
.header .lang_list_class:before {
	left: auto;
	right: 20px;
}
.header-icons-item .header-icon-text {
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-icons-item .header-icon-img {
	display: flex;
	align-items: center;
	border-radius: 50%;
}
.header-icons-item .header-icon-img svg {
	width: 100%;
	height: 100%;
}

.header-top-icon > div:last-child {
	padding-right: 0;
}
.header-wrap .cta_button,
.header-wrap .hs-button{
	margin:0;
}
.header-disclaimar-wrap {
	font-size:12px;
}


/* --------------  Search -------- */

.header-wrap .hs-search-field {
	position: relative;
}
.header-wrap .hs-search-field__input {
	box-sizing: border-box;
	width: 100%;
}
.header-wrap .hs-search-field__suggestions {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-wrap .hs-search-field--open .hs-search-field__suggestions {
	border: 1px solid #000;
}
.header-wrap .hs-search-field__suggestions li {
	display: block;
	margin: 0;
	padding: 0;
}
.header-wrap .hs-search-field__suggestions #results-for {
	font-weight: bold;
}
.header-wrap .hs-search-field__suggestions a,
.header-wrap .hs-search-field__suggestions #results-for {
	display: block;
}
.header-wrap .hs-search-field__suggestions a:hover,
.header-wrap .hs-search-field__suggestions a:focus {
	background-color: rgba(0, 0, 0, 0.1);
	outline: none;
}
/*--------------------------- */

.header-wrap svg {
	display: block;
	height: 100%;
	width: 100%;
}
 
.main-header .header-scoial-item:first-child {
	padding-left: 0;
}

.head-icon-bg {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-header-wrap div[class*=icon] >* {
	display: flex;
}
.header-language-top {
	margin-left:auto;
}
.header-top-left {
	min-height: 1px;
}
.header-top-right {
	display: flex;
	align-items: center;
	min-height: 1px;
}
.header-icons-item:first-child {
	padding-left: 0;
}

.header-disclaimar-wrap {
	background: rgb(20, 20, 20,0.05);
	padding: 10px 15px;
}
.header-disclaimar-cnt {
	padding-right:25px;
}
.header-disclaimar-cnt > :last-child {
	margin: 0;
}
.header-disclaimar-inner {
	position: relative;
}

.close-disclaimar {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.close-disclaimar svg{
	fill: currentColor;
	width: 100%;
	height: 100%;
}
.main-header-wrap .page-center {
	padding: 0;
}
.custom-menu-primary .hs-menu-wrapper > ul ul a {
	white-space: normal !important;
}

.header-search-inner form {
	position: relative;
	background-image: none;
	padding: 0;
	margin: 0 auto;
	max-width: 634px;
}

.header-search-inner form .hs-search-field__input {
	border: 1px solid #dadada;
	border-radius: 50px;
	display: block;
	font-size: 18px;
	margin: 0 auto;
	max-width: 100%;
	width: 634px;
	padding: 19px 27px;
}

.header-search-inner .hs-search-field--open .hs-search-field__suggestions {
	border: none;
	margin-top: 10px;
	padding: 0;
}

.header-search-inner .hs-search-field__suggestions a:focus,
.header-search-inner .hs-search-field__suggestions a:hover {
	background-color: transparent;
}

.header-search-inner .hs-search-field__suggestions li {
	margin-bottom: 10px;
}

.header-search-inner .hs-search-field__suggestions li:last-child {
	margin: 0;
	FONT-VARIANT: JIS04;
}
.header-language .lang_list_class {
	white-space: nowrap;
}
.header-wrap .hs-search-field__bar button svg {
	fill: currentColor;
}
.head-icon-bg {
	height: 25px;
	padding: 7px;
	width: 25px;
}
.head-icon-bg > * {
	width:100%;
	height:100%;
}

.main-header-wrap .header-language.empty-lang {
	display: none !important;
}
.header-scoial-item:not(:last-child) {
	padding-right: 0;
}
.header-icons-item:not(:last-child) {
	padding-right: 0;
}

.header-menu .menu-icon {
	width: 0.8em;
	height: 0.8em;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

.header-menu .menu-icon svg, 
.header-menu .menu-icon img {
	display: block;
	width: 100%;
	height: 100%;
}
.header-menu .child-menu-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.header-menu .child-menu-icon svg, 
.header-menu .child-menu-icon img {
	display: block;
	width: 100%;
	height: 100%;
}
.main-header .header-icons-wrap .header-scoial {
	padding-right: 0;
}

.header-top-inner.left-align {
	justify-content: flex-start;
}
.header-top-inner.right-align {
	justify-content: flex-end;
}
.header-top-inner.center-align {
	justify-content: center;
}
.custom-menu-primary .hs-menu-wrapper > ul > li > a {
	font-weight: 500;
}

.header-content > :last-child {
	margin-bottom: 0;
}



