.advanced-map .content-section, 
.advanced-map .map-section {
	padding-left: 0;
	padding-right: 0;
}

.advanced-map .row {
	margin-left: 0;
	margin-right: 0;
}
.advanced-map .form-section.bottom form {
	padding: 20px 0 0;
	margin: 0; 
} 
.advanced-map input.hs-input {
    width: 100% !important;
}
.advanced-map .content-section .text-content * {
	color: inherit;
}

.advanced-map .content-section {
	padding: 15px;
}

.advanced-map .content-section .form-section form {
	background: none;
}

.advanced-map .content-section .form-section form .form-columns-1 input {
	width: 100%;
}

.advanced-map .map-section .cm-map-in,
.advanced-map .map-section iframe,
.advanced-map .map-section #map-aux{
	height: 100% !important;
	width: 100% !important;
}

.advanced-map .map-section iframe {
	min-height: 300px;
}