.iwc_mdl .prospect_services_data {
  padding: 15px;
  text-align: center;
  margin-bottom: 80px;
}

.iwc_mdl .prospect_services_icon .icon {
  font-size: 35px;
  width: 90px;
  height: 100px;
  line-height: 98px;
  color: #8c1c24;
  position: relative;
  margin: 0 auto; 
}

.iwc_mdl .prospect_services_icon {
  text-align: center;
  margin-bottom: 10px;
}

.iwc_mdl .figure_wrap {
  position: absolute;
  z-index: -1;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
}

.iwc_mdl .figure_wrap.hexagon svg {
  fill: #ffffff;
  stroke: #b3b3b3;
  stroke-width: 2px;
  padding: 1px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.iwc_mdl .page-center {
  padding: 0;
}
.iwc_mdl {
  overflow: hidden;
}
.iwc_mdl h4.widgettitle {
  color: #8c1c24;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 900;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  z-index: 1;
  line-height: 25px;
  margin-top: 3px;
}

.iwc_mdl h4.widgettitle:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #8c1c24;
}

.iwc_mdl .prospect_services_desc.clearfix p {
  margin: 0;
} 
.iwc_mdl.iwc3 h4.widgettitle {
  font-size: 1.64em;
  margin-top: 0;
  margin-bottom: 1.33em;
  padding-bottom: 0;
  line-height: 1.2;
}

.iwc_mdl.iwc3 h4.widgettitle:before {
  display: none;
}

.iwc_mdl.iwc3 .prospect_services_data {
  padding: 10px;
  margin-bottom: 75px;
}
.iwc_mdl.iwc4 .prospect_services_icon .icon {
  font-size: 30px;
}

.iwc_mdl.iwc4 .prospect_services_icon .icon svg {
  stroke: #8c1c24;
  fill: none !important;
}
.iwc_mdl.iwc3 .page-center {
  padding: 0 5px;
}
.iwc_mdl.iwc4 .prospect_services_icon .icon {
  margin: 0 auto;
  width: 70px;
  height: 80px;
  line-height: 78px; 
}
.iwc_mdl.iwc4  h4.widgettitle { 
  font-size: 22px; 
  line-height: 1.4em; 
  margin-top: 1px;
}
.iwc_mdl.iwc4 .page-center {
  padding: 0 15px;
}
.iwc_mdl.iwc4 .prospect_services_data {
  margin-bottom: 0;
} 
@media(max-width:991px) and (min-width:768px){ 
  .iwc_mdl.iwc3 h4.widgettitle {
    font-size: 16px !important;
  }
}
@media(max-width:767px){ 
  .iwc_mdl { 
    margin-top: 20px;
    padding-bottom: 60px;
  }  
  .iwc_mdl.iwc4 .page-center {
    padding: 0;
  }
  .iwc_mdl .prospect_services_data {
    padding: 15px 20px;
    margin-bottom: 20px;
  }
}