.logo_slider .logo_item_inr {
	margin: 10px 0;
	overflow: hidden;
	min-height: 145px; 
	display: flex;
	align-items: center; 
}   

.logo_slider {
	padding: 20px 40px;
}
.logo_slider .glide__slides.logo_stnd {
	align-items: center;
	flex-wrap: wrap;
}
.logo_slider .logo_item_inr img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
} 
.logo_slider .logo_item_inr img { 
	display: block;
	margin: 0 auto;
}
.logo_slider .glide__slide.slider_item {
	justify-content: center;
}
.logo_slider .glide__slides { 
	align-items: center;  
} 
