<section class="{{ name }}_table-of-contents">
  <div class="{{ name }}_table-of-contents__items">
   {% for item in module.content %}
    <div class="{{ name }}_table-of-contents__item">
      {% set href = item.links.url.href %}
      {% if item.links.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
        {% if item.links.open_in_new_tab %}target="_blank"{% endif %}
        {% if item.links.rel %} rel="{{ item.links.rel }}"{% endif %}
        >
        {% inline_text field="item" value="{{ item.item }}" %}
      </a>
    </div>  
   {% endfor %}
  </div>
</section>

{% require_css %}
<style>
  .{{ name }}_table-of-contents{
    background:#F5F5F5;
    min-height: 253px;
    text-align: center;
  }
  .{{ name }}_table-of-contents__item{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 83px;    
  }
  .{{ name }}_table-of-contents__item a{
    color:#000;
    line-height:22px;
  }
  .{{ name }}_table-of-contents__item:hover{
    background-color: #979797;   
  }
  .{{ name }}_table-of-contents__item:hover a{
    color: #fff;
  }
  .{{ name }}_table-of-contents__item a{
    text-decoration: none;
  }
  .{{ name }}_table-of-contents > div > div:nth-child(1) > a{
    margin-right: -5px;
  }
  .{{ name }}_table-of-contents > div > div:nth-child(2) > a,
  .{{ name }}_table-of-contents > div > div:nth-child(3) > a,
  .{{ name }}_table-of-contents > div > div:nth-child(4) > a{
    margin-right: -4px;
    margin-top: -2px;
  }
  .{{ name }}_table-of-contents > div > div:nth-child(5) > a,
  .{{ name }}_table-of-contents > div > div:nth-child(6) > a{
    margin-right: -6px;
    margin-top: -7px;
  }
  .{{ name }}_table-of-contents > div > div:nth-child(7) > a{
    margin-right: -4px;
    margin-top: -8px;
  }
  
  @media (max-width: 1279px) {
    .{{ name }}_table-of-contents__item{
      padding: 6%;
    }
  {# ---- Tablet Breakpoint ---- #}
  @media (max-width: 768px) {
    .{{ name }}_table-of-contents__item{
      padding: 6%;
    }
   
  }
</style>
{% end_require_css %}