{% require_css %}
<style>
  {% scope_css %}
    .cards__card {
      background-color: rgba({{ module.styles.bg_color.color | convert_rgb }}, {{ module.styles.bg_color.opacity * 0.01 }});
      {{ module.styles.spacing.desktop.css }};
      border-radius: {{ module.styles.border_radius }}px;
    }

    {% if module.styles.custom_text_color %}
      .hs_cos_wrapper_type_inline_rich_text * {
        color: rgba({{ module.styles.text_color.color | convert_rgb }}, {{ module.styles.text_color.opacity * 0.01 }});
      }
    {% endif %}
  @media screen and (min-width:992px){
      .cards__card > img {
    margin-right:{{ module.styles.image_margin_right }}px !important;
  }
  }
    {# ---- Tablet Breakpoint ---- #}

    @media (max-width: {{ theme.layout.breakpoint_tablet }}px) {
      .cards__card {
        {{ module.styles.spacing.tablet.css }};
      }
    }

    {# ---- Mobile Breakpoint ---- #}

    @media (max-width: {{ theme.layout.breakpoint_mobile }}px) {
      .cards__card  {
        {{ module.styles.spacing.mobile.css }};
      }
    }
  
  {% end_scope_css %}
</style>
{% end_require_css %}

<section class="cards" id="{{name}}">
  <div class="container px-0">
    <div class="row {{ module.styles.column_alignment }}">
      {% for item in module.cards %}
        <div class="{{ module.styles.column_size.desktop }} {{ module.styles.column_size.tablet }} {{ module.styles.column_size.mobile }} mb-4">
          <div class="cards__card {{ module.styles.text_alignment }} {% if  module.image_position == 'aside'%}d-flex{% endif %}"
            data-aos="{{ module.animation.type }}" 
            data-aos-once="{{ !module.animation.repeat }}" 
            data-aos-anchor="#{{name}}" 
            data-aos-duration="{{ module.animation.duration }}"
            data-aos-delay="{{ 100 * (loop.index + 2) }}">
            {% if module.add_image && item.image.src%}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <img class="mb-3 {% if  module.image_position == 'aside'%}mr-4 {% endif %}" src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
            {% inline_rich_text field="text_content" value="{{ item.text_content }}" %}
            {% if item.add_cta %}
              {% set href = item.cta.link.url.href %}
              {% if item.cta.link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href }}" class="button{% if item.cta.button_style== 'secondary' %} button--secondary {% elif item.cta.button_style== 'tertiary' %} button--tertiary{% elif item.cta.button_style== 'simple' %} button--simple{% endif %}"
                {% if item.cta.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if item.cta.link.no_follow %}rel="nofollow"{% endif %}
                >
                {{ item.cta.cta_label }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
