.product-info-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: hsla(0, 0%, 97.3%, 0.9);
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.85;
/*     -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}
.product-info-inner{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  align-items:center;
}
.product-info-inner a{
   text-decoration:none;
    margin: 3px;
    padding: 5px 10px;
    border:1px solid var(--color-primary);
    border-radius: 4px;
    background-color: #fff;
    color: var(--color-primary);
}
.product-info-inner p{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom:0;
}
.product-info-inner a:hover{
   background-color:#f26725;
   color:#fff;  
  border:1px solid #f26725;
}