{% if module.feature_group_on_off %}
  <div class="feature-show-wrapper">
  <div class="page-center">
    <div class="feature-show-heading">
      <h2> {{ module.feature_group.feature_show_heading }} </h2>
     </div>
    <div class="feature-show-outer">
       {% for item in module.feature_group.feature_show_group %}
        <div class="feature-show-post">
          <div class="feature-show-inner">
            <div class="feature-show-left">
                {% if item.podcast_feature_image.src %}
                    {% set sizeAttrs = 'width="{{ item.podcast_feature_image.width }}" height="{{ item.podcast_feature_image.height }}"' %}
                    {% if item.podcast_feature_image.size_type == 'auto' %}
                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                    {% elif item.podcast_feature_image.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="{{ item.podcast_feature_image.max_width }}" height="{{ item.podcast_feature_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                     {% set loadingAttr = item.podcast_feature_image.loading != 'disabled' ? 'loading="{{ item.podcast_feature_image.loading }}"' : '' %}
                    <img src="{{ item.podcast_feature_image.src }}" alt="{{ item.podcast_feature_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                 {% endif %}
             </div>
            <div class="feature-show-right">
              <div class="feature-show-summary">
                {% for item2 in item.feature_content_group %}          
                  <div class="feature-summary-inner">         
                    <div class="feature-summary-heading">
                      <h3>{{ item2.feature_right_heading }} </h3>
                    </div>            
                    <div class="feature-summary-content">
                      {{ item2.feature_right_content }}
                    </div>
                   </div>
                {% endfor %}
              </div>
              <div class="feature-podcast-list">
                {% for item2 in item.podcast_list %}
                  <div class="podcats-app-inner">
                    {% set href = item2.podcast_app_link.url.href %}
                      {% if item2.podcast_app_link.url.type is equalto "EMAIL_ADDRESS" %}
                        {% set href = "mailto:" + href %}
                      {% endif %}
                      {% set rel = [] %}
                      {% if item2.podcast_app_link.no_follow %}
                        {% do rel.append("nofollow") %}
                      {% endif %}
                      {% if item2.podcast_app_link.open_in_new_tab %}
                        {% do rel.append("noopener") %}
                      {% endif %}
                      <a href="{{ href }}"
                        {% if item2.podcast_app_link.open_in_new_tab %}target="_blank"{% endif %}
                        {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
			                  >
                      <span class="pod-app-icon">
                        {% if item2.podcast_app_image_.src %}
                          {% set sizeAttrs = 'width="{{ item2.podcast_app_image_.width }}" height="{{ item2.podcast_app_image_.height }}"' %}
                          {% if item2.podcast_app_image_.size_type == 'auto' %}
                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                          {% elif item2.podcast_app_image_.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ item2.podcast_app_image_.max_width }}" height="{{ item2.podcast_app_image_.max_height }}" style="max-width: 100%; height: auto;"' %}
                          {% endif %}
                           {% set loadingAttr = item2.podcast_app_image_.loading != 'disabled' ? 'loading="{{ item2.podcast_app_image_.loading }}"' : '' %}
                          <img src="{{ item2.podcast_app_image_.src }}" alt="{{ item2.podcast_app_image_.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                        {% endif %}
                      </span>
                      <span class="pod-app-name">{{ item2.podcast_list_text }}</span>
                    </a>
                    
                    
                    
                  </div>
                {% endfor %}
             </div>
              
            <div class="all-post-button r-button">
                {% set href = item.all_episodes_link.url.href %}
                  {% if item.all_episodes_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  {% set rel = [] %}
                  {% if item.all_episodes_link.no_follow %}
                    {% do rel.append("nofollow") %}
                  {% endif %}
                  {% if item.all_episodes_link.open_in_new_tab %}
                    {% do rel.append("noopener") %}
                  {% endif %}
                  <a href="{{ href }}"
                    {% if item.all_episodes_link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                    >
                   {{ item.all_episode_link }}
                </a>
             </div>
         </div>
         </div>
          </div>
      {% endfor %}
      </div>
    
    <div class="feature-show-more r-button">
      <a href="" class="load-more">{{ module.feature_group.load_more_text }}</a>
       <!-- {% set href = module.feature_group.load_more_link.url.href %}
        {% if module.feature_group.load_more_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        {% set rel = [] %}
        {% if module.feature_group.load_more_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.feature_group.load_more_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if module.feature_group.load_more_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
         {{ module.feature_group.load_more_text }}
        </a>-->
     </div>
  </div>
</div>
{% endif %}