.feature-show-wrapper {
    padding: 50px 20px;
}

.feature-show-heading {
    text-align: center;
    margin-bottom: 30px;
}

.feature-show-heading h2:after {content: '';background-color: #F79421;position: absolute;left: 0;right: 0;bottom: 0;width: 40px;height: 5px;margin: 0 auto;}

.feature-show-heading h2 {
    color: #000000;
    font-size: 28px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.feature-show-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.feature-show-left {}

.feature-show-left, .feature-show-right {
    flex: 0 49%;
}

.podcats-app-inner a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.feature-podcast-list {
    display: flex;
    align-items: center;
}

.podcats-app-inner {
    padding-right: 20px;
}

span.pod-app-name {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 5px;
}

span.pod-app-icon img {
    height: 24px !important;
}

.feature-show-more {
    text-align: center;
}

.r-button a {
    min-width: 179px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: var(--brand-primary);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 34, 39, 0.95)), to(rgba(236, 34, 39, 0.95))), url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(
180deg
, rgba(236, 34, 39, 0.95), rgba(236, 34, 39, 0.95)), url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 420px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
}

.r-button a:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 34, 39, 0.98)), to(rgba(236, 34, 39, 0.98))), url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(
180deg
, rgba(236, 34, 39, 0.98), rgba(236, 34, 39, 0.98)), url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 420px;
    box-shadow: 0 0 5px 0 var(--brand-primary);
    color: #ffffff;
}
.feature-summary-heading h3 {
    color: #000;
    font-size: 22px;
    margin: 0px;
    line-height: 100%;
    padding-bottom: 20px;
}
.all-post-button {
    padding-top: 50px;
}
.feature-summary-content p {
    margin: 0px 0px 30px;
    font-size: 16px;
    line-height: 28px;
}
.feature-show-more.r-button a {
    min-width: 200px;
}
.feature-show-post {
    display: none;
}
a.noContent {
    opacity: 1;
    background: transparent;
    color: var(--brand-primary);
    padding: 0px;
    height: auto;
}
.feature-show-left img {
    border-radius: 10px;
}
span.pod-app-icon {
    width: 20px;
}

span.pod-app-name {
    width: calc(100% - 20px);
}