.podcast-banner-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.podcast-banner-wrapper {
    padding: 50px 100px;
}
.podcast-banner-left, .podcast-banner-right {
    flex: 0 48%;
}
.podcast-banner-right img {
    border-radius: 10px;
}
.podcast-banner-heading h1 {
    color: #000;
    font-size: 32px;
    line-height: 42px;
    margin-top: 0px;
    font-weight: bold;
}
.podcast-banner-content p {
    font-size: 20px;
    color: #000;
    line-height: 32px;
    font-weight: 400;
}
.podcast-banner-wrapper .page-center {
    max-width: 1400px !important;
}