.next-level-outer {
/*   padding-top: 45px;
  padding-bottom: 100px; */
  background-color: #f9f9f9;
}

.next-level-center {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.next-level-section-header h2{
  margin-top: 0px;
  font-family: var(--font-special);
  font-weight: 700 !important;
  position: relative;
  margin-bottom: 10px !important;
  font-size: 32px !important;
  line-height: 36px !important;
}

.header-accent-next-level {
  display: inline-block;
  width: 40px;
  height: 5px;
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: #f79421;
}

.next-level-section-para p {
  margin-bottom: 35px;
  width: 100%;
}

@media (max-width: 767px){
  .next-level-inner {
    padding-right: 25px;
    padding-left: 25px;
/*     padding-top: 45px;
    padding-bottom: 100px; */
    background-color: #f9f9f9;
}
  
  .next-level-section-para {
    margin-bottom: 35px;
    width: 100%;
}

}

@media (max-width: 479px){
  .next-level-section-header h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0px;
    font-weight: 700;
  }
  
  .next-level-section-para p{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
  }

}