/* Flex Properties Here */
.mod-3-double-column{
  margin:0 auto;
  max-width:850px;
  display:flex;
  justify-content:space-between;
}
.mod3-first-column{
  flex:0 40%;
}
.mod3-second-column{
  flex:0 40%;
}
.mod3-ipad-container{
  display:flex;
}
.mod-3-single-column{
  /*  padding:75px 150px; */
  /*   padding-left:150px; */
  max-width: 861px;
  padding-bottom:0px;
  margin:0 auto;
}

.mod3-ipad img {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    z-index: var(--image-zindex);
}


/* Page Center */
.page-center{
  max-width:1200px;
}


/* Styles Related to font */
.mod-3-single-column h3, .mod-3-double-column h3{
  font: 700 18px;
  font-size: 18px;
 font-family: Montserrat, sans-serif;
}
.mod3-inner p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 2rem;
}

/* Responsive From Here */
@media screen and (max-width:980px) {

  .mod-3-double-column{
    flex-direction:column;
    /*     max-width:396px */

    padding: 25px;
  }
  .mod-3-single-column{
    /*    max-width:396px; */
    padding:25px;
  }

}


/******************************************************************************/

.mod3-ipad img {
  position: relative;
  z-index: var(--image-zindex);
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}
body {
  --iPhone-width: 387px;
  --iPhone-shadow-width: 628px;
  --iPhone-shadow-height: 963px;
  --iPad-width: 861px;
  --iPad-shadow-width: 979px;
  --iPad-shadow-height: 779px;
  --Mac-width: 1060px;
  --Mac-height: 650px;
  --red: #EC2227;
  --m-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06), 13px 13px 28px rgba(0, 0, 0, 0.09);  
  --font-color-body: #222;
  --grid-gap: 100px;
  --image-zindex: 2;
  --below-image: 1;
  --above-image: 3;
}
.mod3-ipad {
  max-width: 861px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.mod3-ipad::before {
  background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Hot%20Wax%20Migration%20Images/iPad_Shadow-1.png);
  width: var(--iPad-shadow-width);
  height: var(--iPad-shadow-height);
  background-size: var(--iPad-shadow-width) var(--iPad-shadow-height);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  display: block;
  z-index: var(--below-image);
}

@media screen and (max-width:1290px) {
  
  .mod3-ipad:before {
    background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Hot%20Wax%20Migration%20Images/iPad_Shadow-1.png);
    background-repeat: no-repeat;
    background-size: var(--iPad-shadow-width) var(--iPad-shadow-height);
    content: "";
    display: block;
    height: var(--iPad-shadow-height);
    position: absolute;
    width: var(--iPad-shadow-width);
    z-index: var(--below-image);
    max-width: 100%;
}
  

}


@media screen and (max-width:980px) {
  body {
    --iPhone-width: 243px;
    --iPhone-shadow-width: 394px;
    --iPhone-shadow-height: 605px;
    --iPad-width: 404px;
    --iPad-shadow-width: 0px;
    --iPad-shadow-height: 0px;
    --Mac-width: 110vw;
    --Mac-height: calc(var(--Mac-width) * .61);
    --red: #EC2227;
    --m-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06), 13px 13px 28px rgba(0, 0, 0, 0.09);
    --font-color-body: #222;
    --grid-gap: 100px;
    --image-zindex: 2;
    --below-image: 1;
    --above-image: 3;
  }
  .mod3-ipad:before {
    background-image:none;
    max-width: 100% !important;
  }
}


@media screen and (max-width:479px) {
  .mod3-ipad-container {
    padding:0 20px;
  }
  .mod-3-single-column h3, .mod-3-double-column h3{
  font: 700 16px;
}
  .mod3-inner p{
   font-size:16px;
  }
}


body {
  --iPhone-width: 243px;
  --iPhone-shadow-width: 394px;
  --iPhone-shadow-height: 605px;
  --iPad-width: 404px;
  --iPad-shadow-width: 0px;
  --iPad-shadow-height: 0px;
  --Mac-width: 110vw;
  --Mac-height: calc(var(--Mac-width) * .61);
  --red: #EC2227;
  --m-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06), 
    13px 13px 28px rgba(0, 0, 0, 0.09);
  --font-body: "Open Sans", sans-serif;
  --font-special: "Montserrat", sans-serif;
  --font-color-body: #222;
  --grid-gap: 100px;
  --image-zindex: 2;
  --below-image: 1;
  --above-image: 3;
}