.res_slider .res_item_inr {
	margin: 10px 0;
	overflow: hidden; 
	display: flex;
	align-items: center;
	border-radius: 8px; 
}  
.res_slider .right .col-md-5 {
	padding-left: 30px;
}
 
.res_slider {
	padding: 20px; 
}
.res_slider .glide__slides.res_stnd {
	align-items: center;
	flex-wrap: wrap; 
}
.res_slider .res_item_inr img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
} 
.res_slider .res_item_inr img {
	display: block;
	margin: 0 auto; 
}
.res_slider .glide__slide.slider_item {
	justify-content: center;
}
.res_slider .glide__slides { 
	align-items: center;
}
.res_slider .glide__slides {
	margin: 0;
}

.res_slider .glide__track {
	padding-bottom: 20px;
}
