.cards {
  position: relative;
  z-index: 2;
  margin-top: 0; 
}

.cards__card .hs_cos_wrapper_type_inline_rich_text *:last-child {
  margin-bottom: 0;
}

/*customize card*/
.cards__card {
  align-items: center !important;

}
.cards__card h3 {
  font-family: Open Sans !important; 
}
