.product-feature > div {
    max-width: 1170px;
    margin: auto;
}

.product-feature {
    padding: 74px 30px;
}  

.feature-icon {
    width: 44px;
    max-width: 100%;
    margin-bottom: 20px;
}

.info-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.info-block {
    width: 46%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info-block > h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-color-body);
}

.info-block > h3::after {
    content: '';
    display: block;
    height: 5px;
    width: 40px;
    margin: 12px 0 18px;
    background-color: #f79421;
}

.info-block > p {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--font-body);
}

@media only screen and (max-width: 479px) {

    .info-block {
        width: 100%;
    }

}