.counter_wrap {
	position: relative;
	z-index: 11;
	padding-left: 15px;
    padding-right: 15px;
}
.counter_wrap .counter_wrap {
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.counter_wrap .counter_content > :last-child {
	margin-bottom: 0;
}
