.icon_with_content_v2 .col-item .col_img_wrpr {
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
}
.icon_with_content_v2 .col-item {
	margin-bottom: 15px;
}
.icon_with_content_v2 .col-item .col-item-inner {
	border-radius: 8px;
	padding: 48px 16px;
	height: 100%;
}
.icon_with_content_v2 .col-item .col_img_wrpr .icon-wrap {
	width: 25px;
	line-height: 50px;
	vertical-align: middle;
}
.icon_with_content_v2 .col-item .col_img_wrpr svg {
	vertical-align: middle;
	fill: inherit;
	width: 25px;
	height: 25px;
}

.icon_with_content_v2 .col-item .col_img {
	margin-bottom: 20px;
}
.icon_with_content_v2 .col-item-inner {
	display: flex;
}
.icon_with_content_v2 .col-item-inner.icon_top {
	flex-direction: column;
}
.icon_with_content_v2 .col-item-inner.icon_bottom {
	flex-direction: column-reverse;
}
.icon_with_content_v2 .col-item-inner.icon_bottom .col_img {
	margin-bottom: 0;
	margin-top: 20px;
}
.icon_with_content_v2 .col-item-inner.icon_left .col_img {
	margin: 0 15px 0 0;
}
.icon_with_content_v2 .col-item-inner.icon_right .col_img {
	margin: 0 0 0 15px;
}
.icon_with_content_v2 .col-item-inner.icon_right {
	flex-direction: row-reverse;
}


.icon_with_content_v2 .arrow-icon .read_more_icon img,
.icon_with_content_v2 .arrow-icon .read_more_icon svg {
	vertical-align: middle;
	margin-left: 5px;
}
.icon_with_content_v2 .arrow-icon {
	margin-top: 30px;
}
.icon_with_content_v2 .content-wrpr > :last-child {
	margin-bottom: 0;
}
.icon_with_content_v2 .col-item .arrow-icon .hover-arrow {
	display: none;
}
.icon_with_content_v2 .col-item:hover .arrow-icon .normal-arrow {
	display: none;
}
.icon_with_content_v2 .col-item:hover .arrow-icon .hover-arrow {
	display: inline;
}
.icon_with_content_v2 .col-item .arrow-icon.on_hover {
	display: none;
}
.icon_with_content_v2 .col-item:hover .arrow-icon.on_hover {
	display: block;
}
.icon_with_content_v2 .col-item .arrow-icon.whout_hover {
	display: block;
}
.icon_with_content_v2 .col-item:hover .arrow-icon.whout_hover {
	display: none;
}
.icon_with_content_v2 .col-item .col_img.icon_on_hover {
	display: none;
}
.icon_with_content_v2 .col-item:hover .col_img.icon_on_hover {
	display: block;
}
.icon_with_content_v2 .col-item .col_img.icon_whout_hover {
	display: block;
}
.icon_with_content_v2 .col-item:hover .col_img.icon_whout_hover {
	display: none;
}


.icon_with_content_v2 .button_wrap {
	text-align: center;
}
.icon_with_content_v2 .col-item-inner.whout_hover {
	justify-content: center;
}
.icon_with_content_v2 .normal_read_more {
	display: inline;
	margin: 0;
	font-weight: 600;
}
.icon_with_content_v2 .read_more_icon img {
	position: relative;
	top: -2px;
}
.icon_with_content_v2 .custom-fullwidth .col-item {
	padding: 0;
}

.icon_with_content_v2 .col_img.img_auto {
	width: 100%;
}

