.blog-post-sharing ul {
  list-style: none;
  padding-left: 0;
}

.blog-post-sharing__icon svg {
  height: 25px;
  width: 25px;
}

.blog-post-sharing__icon {
  margin-bottom: 15px;
  display: block;
}

.blog-post-sharing__title {
  font-size: 13px;
  font-weight: bold;
}