.recent-episode-wrapper {
    padding: 50px 20px 70px;
    background-color: #F7F7F7;
}

.recent-epi-heading {
    text-align: center;
}

.recent-epi-heading h2 {
    color: #000;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    line-height: 41px;
}

.recent-epi-heading h2:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}

.recent-epi-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.white-wrapper {
    flex: 0 30%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin: 1% 0;
    position: relative;
}

.white-wrapper:nth-child(3n-1) {
    margin: 1% 2%;
}
.white-wrap-inner {
    padding: 30px 25px 120px;
}

.post-name a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    line-height: 26px;
}

a.read-more {
    letter-spacing: 1.54px;
    color: #EF1E1B;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

a.read-more span {
    padding-right: 10px;
}

.read-more-link {
    position: absolute;
    bottom: 30px;
}

.post-name {
    padding-bottom: 10px;
}

.post-date {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    position: absolute;
    bottom: 75px;
}
.recent-epi-more {
    text-align: center;
    padding-top: 30px;
}

.recent-epi-more a {
    min-width: 200px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: var(--brand-primary);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(236,34,39,0.95)),to(rgba(236,34,39,0.95))),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient( 180deg ,rgba(236,34,39,0.95),rgba(236,34,39,0.95)),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px,50% 50%;
    background-size: auto,420px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
}

.recent-epi-more a:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(236,34,39,0.98)),to(rgba(236,34,39,0.98))),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient( 180deg ,rgba(236,34,39,0.98),rgba(236,34,39,0.98)),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px,50% 50%;
    background-size: auto,420px;
    box-shadow: 0 0 5px 0 var(--brand-primary);
    color: #fff;
}

.mobile-epi-box {
    display: none;
}
.carousel.slick-initialized.slick-slider {
    margin-bottom: 50px;
}
.recent-epi--subheading {
    text-align: center;
}

.recent-epi--subheading p {
    color: #666666;
    font-weight: bold;
    letter-spacing: 1.54px;
    font-size: 14px;
}

.recent-epi--subheading {
    margin-bottom: 35px;
}





  