.card-list-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;
}

.card-list-column {
    flex: 1 400px;
    text-align: center;
}

.column-title {
    padding-bottom: 10px; /* Add padding below the title */
    padding-top: 10px; /* Add padding above the title */
}

.card__image {
    border-radius: 8px;
    object-fit: cover;
}

.card__title {
    margin: 0;
}