<section class="card-list-columns">
    {% for item in module.column %}
      <div class="card-list-column">
        <h3 class="column-title">{{ item.column_title }}</h3>
        {% for item2 in item.card %}
            <a class="card" href="{{ item2.card_link.url.href }}"
                {% if item2.card_link.open_in_new_tab %}target="_blank"{% endif %}
                {% if item2.card_link.rel %}rel="{{ item2.card_link.rel }}"{% endif %}
            >
                <img src="{{ item2.card_image.src }}" alt="{{ item2.card_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {{ item2.card_text }}
            </a>
        {% endfor %}
        {# Set href for the "Read more" button within the outer loop #}
        <a class="button button--secondary button--small" href="{{ item.column_cta.url.href }}"
           {% if item.column_cta.open_in_new_tab %}target="_blank"{% endif %}
           {% if item.column_cta.rel %}rel="{{ item.column_cta.rel }}"{% endif %}
        >
          Read more
        </a>
      </div>
    {% endfor %}
</section>