<div class="footer-wrapperr">
  <div class="page-center">
    <div class="footer-row-wrap">
      
      <div class="footer-col footer-col1">
        <div class="footer-col-inner">
          <div class="footer-logo">
            {% if module.footer_coolum_one.footer_logo.src %}
              {% set sizeAttrs = 'width="{{ module.footer_coolum_one.footer_logo.width }}" height="{{ module.footer_coolum_one.footer_logo.height }}"' %}
              {% if module.footer_coolum_one.footer_logo.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.footer_coolum_one.footer_logo.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.footer_coolum_one.footer_logo.max_width }}" height="{{ module.footer_coolum_one.footer_logo.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
               {% set loadingAttr = module.footer_coolum_one.footer_logo.loading != 'disabled' ? 'loading="{{ module.footer_coolum_one.footer_logo.loading }}"' : '' %}
              <img src="{{ module.footer_coolum_one.footer_logo.src }}" alt="{{ module.footer_coolum_one.footer_logo.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
          <div class="footer-heading"><h5>{{ module.footer_coolum_one.footer_form_heading }}</h5></div>
          <div class="footer-form-wrap">
              {% form
                form_to_use="{{ module.footer_coolum_one.footer_form.form_id }}"
                response_response_type="{{ module.footer_coolum_one.footer_form.response_type }}"
                response_message="{{ module.footer_coolum_one.footer_form.message }}"
                response_redirect_id="{{ module.footer_coolum_one.footer_form.redirect_id }}"
                response_redirect_url="{{module.footer_coolum_one.footer_form.redirect_url}}"
                gotowebinar_webinar_key="{{ module.footer_coolum_one.footer_form.gotowebinar_webinar_key }}"
              %}
          </div>
          </div>
      </div>
      
    <div class="footer-col footer-col2">
      
      <div class="footer-col-inner">
        <div class="footer-col2-row footer-col2-row1">
          <div class="footer-heading"><h5>{{ module.hotwax_commerce_headquarters_group.footer_heading }}</h5></div>
          <div class="footer-content">{{ module.hotwax_commerce_headquarters_group.hotwax_commerce_headquarters_content }}</div>

        </div>
        <div class="footer-col2-row footer-col2-row2">
          <div class="footer-heading"><h5>{{ module.contact_sales_group.footer_heading }}</h5></div>
          <div class="footer-content">{{ module.contact_sales_group.contact_sales_content }}</div>

        </div>
        <div class="footer-col2-row footer-col2-row3">
          <div class="footer-heading"><h5>{{ module.hotwax_commerce_group.footer_heading }}</h5></div>
          <div class="footer-menu">{% simple_menu menu_tree="{{ module.hotwax_commerce_group.hotwax_commerce_menu }}" %}</div>

        </div>
      </div>
      
    </div>
      
    <div class="footer-col footer-col3">
      <div class="footer-col-inner">
      
      <div class="footer-col3-row footer-col3-row1">
        <div class="footer-heading"><h5>{{ module.solutions_group.footer_heading }}</h5></div>
        <div class="footer-menu">{% simple_menu menu_tree="{{ module.solutions_group.hotwax_commerce_menu }}" %}</div>

      </div>
      <div class="footer-col3-row footer-col3-row2">
        <div class="footer-heading"><h5>{{ module.products_group.footer_heading }}</h5></div>
        <div class="footer-menu">{% simple_menu menu_tree="{{ module.products_group.hotwax_commerce_menu }}" %}</div>

      </div>
      
    </div>    </div>

      
    </div>
  </div>
</div>