.testimonial-slider,
.testimonial-slider .slider {
  overflow: hidden;
}

.testimonial-slider .slick-slide img {
  display: inline-block;
}

.testimonial-slider .slider, 
.testimonial-slider .testimonial-slider__navigation {
  position: relative; 
}

.testimonial-slider .testimonial-slider__navigation {
  left: 0;
  margin: 0;
  text-align: center;
  pointer-events: none;
  z-index: 5;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.testimonial-slider .testimonial-slider-prev,
.testimonial-slider .testimonial-slider-next {
  position: relative;
  width: 20px;
  pointer-events: all;
  z-index: 6;
  cursor: pointer;
}

.testimonial-slider .hs_cos_wrapper_type_inline_rich_text *:last-child {
  margin-bottom: 0;
}

.testimonial-slider .testimonial-slider-next svg {
  transform: rotate(180deg);
}

.testimonial-slider .slick-dots li button:before {
  font-size: 35px;
}

.testimonial-slider .slick-dots li {
  margin: 0;
}

.testimonial-slider .slick-dots li.slick-active button:before {
  opacity: 0.32;
}

.testimonial-slider .slick-dots {
  bottom: 20px;
  left: 0;
}

.star-rating svg {
  width: 22px;
  height: 22px;
}
