
<div class="sidebar-container">
  <nav class="sidebar">
    <div>On this Page</div>
    <ul class="menu-items">
      {% for item in module.sidebar_items %}
        <li class="main-item">
          <a href="{{ item.section_link.href }}"><h2>{{ item.section_title }}</h2></a>
          {% if item.sub_items %}
            <ul class="sub-menu-items">
              {% for sub_item in item.sub_items %}
                <li>
                  <a href="{{ sub_item.link.href }}">{{ sub_item.text }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
