{% if module.button_link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' ~ module.button_link.url.href %} 
{% else %}
  {% unless (module.button_link.url.href is string_containing '//') or !module.button_link.url.href %}
    {% set href = '//' ~ module.button_link.url.href %}
  {% else %}
    {% set href = module.button_link.url.href || '' %}
  {% endunless %}
{% endif %}

{% set rel = (module.button_link.open_in_new_tab ? 'noopener ' : null) ~ (module.button_link.no_follow ? 'nofollow' : null) %}

<div {% if module.style.button_position == 'center' %}class="button--center"{% elif module.style.button_position == 'right' %}class="button--right"{% endif %}>
  <{% if module.type_of_link == 'link' %}a href="{{ href }}" {% elif module.type_of_link == 'scroll' %}a href="#{{module.button_scrollto_section}}" {% elif module.type_of_link == 'linkscroll' %}a href="{{ module.button_link_scroll.url.href }}#section-{{ module.scroll_to_section_page }}" {% else %}button{% endif %} class="button{% if module.style.button_type == 'secondary' %} button--secondary {% elif module.style.button_type == 'tertiary' %} button--tertiary{% elif module.style.button_type == 'simple' %} button--simple{% endif %}{% if module.style.button_size == 'small' %} button--small{% elif module.style.button_size == 'large' %} button--large{% endif %}{% if module.button_icon.icon_position == 'right' %} button--icon-right{% endif %}" id="button_{{ name }}"
    {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
    rel="{{ rel }}" {% if module.type_of_link == 'popup' %}data-popupid="{{module.popup_id}}" id="button_{{ name }}"{% endif %}>

    {% if module.button_icon_toggle == true and module.button_icon.icon_field.unicode %}
      {% icon
        extra_classes='button__icon'
        name='{{ module.button_icon.icon_field.name }}'
        purpose='decorative'
        style='{{ module.button_icon.icon_field.type }}'
        unicode='{{ module.button_icon.icon_field.unicode }}'
      %}
    {% endif %}
  {{ module.button_text }}

  </{% if module.type_of_link == 'link' or module.type_of_link == 'scroll' or module.type_of_link == 'linkscroll' %}a{% else %}button{% endif %}> 
</div>

{% require_css %}
  <style>
    {% scope_css %}
      {% if module.style.override_defaults %}
        .button {
          background-color: rgba( {{ module.style.bg_color.color | convert_rgb }} , {{ module.style.bg_color.opacity * 0.01 }})!important;
          border-color: rgba( {{ module.style.border_color.color | convert_rgb }} , {{module.style.border_color.opacity * 0.01 }})!important;
          border-radius: {{ module.style.border_radius }}em!important;
          color: rgba( {{ module.style.text_color.color | convert_rgb }} , {{ module.style.text_color.opacity * 0.01 }})!important;
        }
        .button:hover {
          background-color: rgba( {{ module.style.hover.bg_color.color | convert_rgb }} , {{ module.style.hover.bg_color.opacity * 0.01 }})!important;
          border-color: rgba( {{ module.style.hover.border_color.color | convert_rgb }} , {{module.style.hover.border_color.opacity * 0.01 }})!important;
          color: rgba( {{ module.style.hover.text_color.color | convert_rgb }} , {{ module.style.hover.text_color.opacity * 0.01 }})!important;
        }
      {% endif %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% require_js %}
  {% if module.type_of_link == 'popup' %}
    <script>
      const btnPopup = document.getElementById("button_{{ name }}");

      btnPopup.addEventListener("click", function(){
        let dataPopup = this.dataset.popupid;
        const popup = document.getElementById(dataPopup);

        popup.classList.add("active");
      })
    </script>
  {% endif %}
{% end_require_js %}