.why_choose_us {
	position: relative;
}
.why_choose_us .content_flex_wrap {
	position: relative;
	z-index: 1;
}
.why_choose_us .media_wrapp {
	position: relative;
}
.why_choose_us .content_wrap {
	width: 100%;
}
.why_choose_us .list_item {
	display: flex;
}
.why_choose_us .list_title > :last-child {
	margin: 0;
}
.why_choose_us .icon_wrap svg,
.why_choose_us .icon_wrap img {
	vertical-align: middle;
	line-height: 1;
}
.why_choose_us .list_title {
	padding-left: 19px;
	width: 100%;
}
.why_choose_us .list_item:not(:last-child) {
	margin-bottom: 10px;
}
.why_choose_us .list_wrapp {
	margin-top: 40px;
}
.why_choose_us .image_container.sec_vcenter .secondary_image {
	top: 50%;
	transform: translateY(-50%);
}
.why_choose_us .image_container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.why_choose_us .primary_image {
	height: 100%;
}
.why_choose_us .secondary_image {
	position: absolute;
}
.why_choose_us .image_container.pr_hleft {
	justify-content: flex-start;
}
.why_choose_us .image_container.pr_hcenter {
	justify-content: center;
}
.why_choose_us .image_container.pr_hright {
	justify-content: flex-end;
}
.why_choose_us .image_container.sec_hleft .secondary_image {
	left: 0;
}
.why_choose_us .image_container.sec_hcenter .secondary_image {
	left: 20px;
	right: 20px;
	margin: 0 auto;
}
.why_choose_us .image_container.sec_hright .secondary_image {
	right: 0;
}



.why_choose_us .image_container_relative {
	position: relative;
	height: 100%;
}
.why_choose_us .image_container.sec_vtop {
	padding-bottom: 84px;
}
.why_choose_us .image_container.sec_vbottom {
	padding-top: 84px;
}
.why_choose_us .image_container.sec_vtop .secondary_image {
	bottom: 0;
}
.why_choose_us .image_container.sec_vbottom .secondary_image {
	top: 0;
}

.why_choose_us .content_flex_wrap.content_ver_top {
	align-items: flex-start;
}
.why_choose_us .content_flex_wrap.content_ver_center {
	align-items: center;
}
.why_choose_us .content_flex_wrap.content_ver_bottom {
	align-items: flex-end;
}
.why_choose_us .image_container > div {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
}

.why_choose_us .progress_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.why_choose_us .percentage:first-child {
	margin-top: 0 !important;
}
.why_choose_us .percentage:last-child {
	margin-bottom: 0 !important;
}

.why_choose_us .percentage {
	position: relative;
	margin-bottom: 20px;
}
.why_choose_us .percentage span.perc {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 500;
}
.why_choose_us .progress_title {
	font-weight: 500;
}
.why_choose_us .image_right .progress_title {
	padding-right: 60px;
}
.why_choose_us .animation {
	width: 100%;
}
.why_choose_us .animation-bar {
	height: 100%;
	width: 0;
	transition: width 1s ease-out;
}

.why_choose_us .image_left .animation {
	transform: rotate(180deg);
}
.why_choose_us .image_left .animation span.perc {
	transform: rotate(180deg);
	top: calc(100% + 5px);
}
.why_choose_us .image_left .progress_title {
	padding-left: 60px;
	text-align: right;
	margin-bottom: 10px;
}



