.list-banner-wrap {
    padding: 50px 0px
}
.list-banner-sub {
    padding-top: 50px;
}
.list-banner-wrap .page-center {
    max-width: 1400px !important
}

.list-banner-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.list-banner-left {
    padding-left: 20px
}

.list-banner-left,.list-banner-right {
    flex: 0 48%
}

.list-banner-right img {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
    opacity: 0;
}

.list-banner-heading h1 {
    color: #000;
    font-size: 35px;
    margin: 0px;
    line-height: 44px;
}

.list-banner-content p {
    color: #000;
    font-size: 19px;
    margin: 0px;
    line-height: 26px;
    color:#666666;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
}
.list-banner-heading,.list-banner-content,.list-banner-sub {
    margin-bottom: 20px;
}

.list-banner-sub p {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1.54px;
    color: #000;
    text-transform: uppercase;
    margin: 0px;
}
/*span.list-pod-button img {
    width: 25px;
}
.list-pod-link a {
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #ec2227;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(236,34,39,0.95)),to(rgba(236,34,39,0.95))),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(180deg,rgba(236,34,39,0.95),rgba(236,34,39,0.95)),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px,50% 50%;
    background-size: auto,420px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    line-height: inherit;
    display: flex;
    height: 55px;
}

.list-pod-link a span {
    margin-right: 10px;
}

.list-pod-link a:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(236,34,39,0.98)),to(rgba(236,34,39,0.98))),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(180deg,rgba(236,34,39,0.98),rgba(236,34,39,0.98)),url(https://f.hubspotusercontent40.net/hubfs/6357099/Hotwax-2021/Podcast-home/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px,50% 50%;
    background-size: auto,420px;
    box-shadow: 0 0 5px 0 #ec2227;
    color: #fff
}
*/
.list-pod-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0px;
}

span.list-pod-button {
    margin: 0px !important;
    display: block;
    display: flex;
    align-items: center;
}
.list-pod-link {
    float: left;
    width: auto;
    margin-right: 15px;
    margin-bottom: 15px;
}
.list-banner-right {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
}
