.post-banner-section {
    padding: 50px 20px 80px;
}

p#hubspot-topic_data a {
    color: #CCCCCC;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
}

.post-name h1 {
    color: #000000;
    font-size: 34px;
    line-height: 46px;
    max-width: 950px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}

.post-name h1:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
}

div#hubspot-author_data, div#hubspot-author_data a {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}

.social-share-wrap ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social-share-wrap ul li {
    padding-right: 10px;
}

.social-share-wrap ul li a {
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 3px 6px #00000029;   
    font-size: 12px;
}
.social-share-wrap ul li:nth-child(1) a {
    background: #0077B5;
}
.social-share-wrap ul li:nth-child(2) a {
    background: #1DA1F2;
}
.social-share-wrap ul li:nth-child(3) a {
    background: #0078D7;
}
.social-share-wrap ul li:nth-child(4) a {
    background: #666666;
}
.social-share-wrap ul li a:hover {
    transform: translateY(-6px);
    transition: all .5s;
}
.social-share-wrap ul li a i span {
    display: none;
}
.social-share-wrap li:last-child img {
    display: none;
}
.social-share-wrap {
    padding: 15px 0px 15px;
}
.fetured-image-wrap img {
    width: 100%;
}
.fetured-image-wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    background: none !important;
    text-align: center;
}
.post-sub-heading h2 {
    color: #666666;
    font-size: 24px;
    line-height: 33px;
    margin: 0;
    max-width: 950px;
}
span.post-date {
    padding-left: 8px;
}