<div class="podcast-banner">
  <div class="background-color"></div>
  <div class="podcast-title">
    <h1>{{ module.banner_heading }} </h1>
  </div>  
  <div class="podcast-description">
    {{ module.banner_content }}
  </div>
  <div class="podcast-host">
      <img src="https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Anil-Hex.png">
    <p class="podcast-host-name"> Anil Patel </p>
    <p class="podcast-host-subtitle"> CEO - HotWax Commerce </p>
  </div>
  <div class="podcast-cta">   
    {% for item in module.list_podcast_group %}
      <div class="podcast-link">
        {% set href = item.podcast_link.url.href %}
        {% set rel = [] %}
        {% if item.podcast_link.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if item.podcast_link.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a href="{{ href }}"
          {% if item.podcast_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
          >
          <span class="podcast-link-image">
              {% set loadingAttr = item.podcast_image.loading != 'disabled' ? 'loading="{{ item.podcast_image.loading }}"' : '' %}
              <img src="{{ item.podcast_image.src }}" alt="{{ item.podcast_image.alt }}" {{ loadingAttr }}>
          </span>
        </a>
      </div>
    {% endfor %}
  </div>       
  <div class="podcast-graphic">
      <img src="{{ module.banner_image.src }}" alt="{{ module.banner_image.alt }}">
  </div>
</div>