.pod-video-heading h2 {
    color: #000;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
}
.pod-video-heading h2:after {
    content: '';
    background-color: #f79421;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 5px;
    margin: 0 auto;
}
.pod-video-transcipt p {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 20px;
}
.trans-read-more p, .trans-read-less p {
    letter-spacing: 1.54px;
    color: #ef1e1b;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.trans-read-more p i, .trans-read-less p i {
    padding-left: 7px;
    padding-top: 2px;
}

.pod-video-code>div {
    margin: 0 0 !important;
}
.pod-video-wrapper {
    padding-bottom: 50px;
}
.meet-expert-wrapper {
    padding-bottom: 50px;
}
.pod-video-heading {
    padding: 30px 0px 0px;
}
.pod-video-transcipt {
    padding-bottom: 10px;
}