.advanced-button .button_wrap {
	display: flex;
	flex-direction: unset;
}

.advanced-button .button_wrap.left {
	justify-content: flex-start;
}
.advanced-button .button_wrap.center {
	justify-content: center;
}
.advanced-button .button_wrap.right {
	justify-content: flex-end;
}
