.sidebar-listing .hs-search-field {
	position: relative;
}
.sidebar-listing .hs-search-field__input {
	box-sizing: border-box;
	width: 100%;
}
.sidebar-listing .hs-search-field__bar button svg {
	height: 10px;
}
.sidebar-listing .hs-search-field__suggestions {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-listing .hs-search-field--open .hs-search-field__suggestions {
	border: 1px solid #000;
}
.sidebar-listing .hs-search-field__suggestions li {
	display: block;
	margin: 0;
	padding: 0;
}
.sidebar-listing .hs-search-field__suggestions #results-for {
	font-weight: bold;
}
.sidebar-listing .hs-search-field__suggestions a,
.sidebar-listing .hs-search-field__suggestions #results-for {
	display: block;
}
.sidebar-listing .hs-search-field__suggestions a:hover,
.sidebar-listing .hs-search-field__suggestions a:focus {
	background-color: rgba(0, 0, 0, 0.1); 
	outline: none;
}


/*  custom search style */

.sidebar-listing .sidebar-search form label{
	color: inherit;
}

.sidebar-listing .side-search-wrap {
	position: relative;
	width: 100%;
}

.sidebar-listing .side-search-wrap button,
.sidebar-listing .side-search-wrap button:hover{
	display: flex;
	background-image: none;
	background-color: transparent;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	width: 60px;
	justify-content: center;
}

.sidebar-listing .side-search-wrap input.hs-search-field__input {
	border: 1px solid #dcdcdc;
	color: inherit;
	padding: 1rem;
	margin: 0;
	padding-left: 1.5rem;
	padding-right: 60px;
	border-radius: 4px;
}
.sidebar-listing .side-search-wrap input.hs-search-field__input::-webkit-input-placeholder{
	color: inherit;
}

.sidebar-listing .sidebar-search form {
	margin: 0;
	padding: 20px 0;
	background-image: none;
	background-color: transparent;
	margin-top: 50px;
}


.sidebar-listing .sidebar-search .hs-search-field__bar button svg{
	height: 1.2rem;
	outline: 0;
	fill: #495057;
}

.sidebar-listing .side-search-wrap button img {
	height: 100%;
}

.sidebar-listing .sidebar-search .hs-search-field__suggestions {
	position: absolute;
	top: calc(100% - 20px);
	left: 0;
	right: 0;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	z-index: 9;
}

.sidebar-listing .sidebar-search .hs-search-field__suggestions:empty {
	visibility: hidden;
	opacity: 0;
	padding: 0;
}



/* Topics */


.sidebar-listing .blog-navigation-media {
	padding: 10px 0;
}

.sidebar-listing .blog-navigation-media.horz ul{
	flex-direction: row;
}

.sidebar-listing .blog-navigation-media.vert ul{
	flex-direction: column;
}

.sidebar-listing .blog-navigation-media ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}



.sidebar-listing .blog-navigation-media ul a {
	display: block;
	line-height: 1;
	padding: 10px 10px 10px 20px;
	border-radius: 4px;
}

.sidebar-listing .blog-navigation-media {
	padding: 0;
	border: 1px solid #DCDCDC;
	border-radius: 8px;
}

.sidebar-listing .blog-navigation-media h5 {
	border-bottom: 1px solid #dcdcdc;
	margin: 0;
	padding: 20px 30px;
	font-weight: 500;
}

.sidebar-listing .blog-navigation-media ul {
	padding: 15px 20px;
	gap: 2px;
}

.sidebar-listing .blog-navigation-media ul a:hover {
	background-color: #FAFAFA;
}

/* blog feed */

.sidebar-listing .sidebar_feed .blog_feed-wrapper{
	overflow: hidden;
}

.sidebar-listing .sidebar_feed .blog_feed_image .blog_feed_featured_image {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10%;
	padding-top: 100%;
	width: 100%;
}

.sidebar-listing .sidebar_feed .blog_feed_item_inner.bottom-align .blog_feed_featured_image,
.sidebar-listing .sidebar_feed .blog_feed_item_inner.top-align .blog_feed_featured_image{
	width: 100%;
	padding-bottom: 60%;
	padding-top: 0;
}

.sidebar-listing .sidebar_feed .blog_feed_image a {
	display: block;
	width: 100%;
	height: 100%;
}
.sidebar-listing .sidebar_feed .blog_feed_item_inner {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

.sidebar-listing .sidebar_feed .blog_feed_item_inner.right-align .blog_feed_image {
	order: 2;
}

.sidebar-listing .sidebar_feed .blog_feed_item_inner.right-align .blog_feed_content {
	order: 1;
}
.sidebar-listing .sidebar_feed .blog_feed_item_inner.bottom-align .blog_feed_image {
	order: 2;
}

.sidebar-listing .sidebar_feed .blog_feed_item_inner.bottom-align .blog_feed_content {
	order: 1;
}
.sidebar-listing .sidebar_feed .blog_feed_item_inner.right-align .blog_feed_content {
	padding-left: 0;
}

.sidebar-listing .sidebar_feed .blog_feed_item_title a {
	font-weight: 700;
}

.sidebar-listing .sidebar_feed .blog_feed_item_byline {
	font-weight: 400;
}

.sidebar-listing .sidebar_feed .blog_feed_item_byline .date:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.sidebar-listing .sidebar_feed .blog_feed_item_byline .date {
	display: inline-block;
	position: relative;
	padding-left: 26px;
}

.sidebar-listing .sidebar_feed .blog_feed_content {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sidebar-listing .sidebar_feed .blog_feed_item_inner .blog_feed_image {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	align-items: start;
}


.sidebar-listing .sidebar_feed .blog_feed_item_inner.left-align .blog_feed_content,
.sidebar-listing .sidebar_feed .blog_feed_item_inner.right-align .blog_feed_content{
	padding-top:0;
	padding-bottom:0;
}


.sidebar-listing .sidebar_feed .blog_feed_content.no-image {
	padding: 0;
}