

/* responsive from here */


/***********************************************************************************************************/
.iphones {
  padding:0 44px 0 44px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.phone-1,.phone-2 {
  position: relative;
  max-width: var(--iPhone-width);
}

.iphones img {
  position: relative;
  z-index: var(--image-zindex);
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
body {
  --iPhone-width: 387px;
  --iPhone-shadow-width: 628px;
  --iPhone-shadow-height: 963px;
  --iPad-width: 861px;
  --iPad-shadow-width: 979px;
  --iPad-shadow-height: 779px;
  --Mac-width: 1060px;
  --red: #EC2227;
  --m-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06), 13px 13px 28px rgba(0, 0, 0, 0.09);
  --font-family-body: "Open Sans", sans-serif;
  --font-family-special: "Montserrat", sans-serif;
  --font-color-body: #222;
  --grid-gap: 100px;
  --image-zindex: 2;
  --below-image: 1;
  --above-image: 3;
  --Mac-height: 650px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--surface);
  color: var(--font-color-body);
}
.phone-1:before, 
.phone-2:before {
  background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Hot%20Wax%20Migration%20Images/iOS_Shadow-1.png);
  width: var(--iPhone-shadow-width);
  height: var(--iPhone-shadow-height);
  background-size: var(--iPhone-shadow-width) var(--iPhone-shadow-height);
  top: -6px;
  left: -12px;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  display: block;
  z-index: var(--below-image);
}
@media screen and (max-width:980px) {
  body {
    --iPhone-width: 243px;
    --iPhone-shadow-width: 394px;
    --iPhone-shadow-height: 605px;
    --iPad-width: 404px;
    --iPad-shadow-width: 0px;
    --iPad-shadow-height: 0px;
    --Mac-width: 110vw;
    --Mac-height: calc(var(--Mac-width) * .61);
    --red: #EC2227;
    --m-shadow: 0px 0px 17px rgba(0, 0, 0, 0.06), 13px 13px 28px rgba(0, 0, 0, 0.09);
    --font-family-body: "Open Sans", sans-serif;
    --font-family-special: "Montserrat", sans-serif;
    --font-color-body: #222;
    --grid-gap: 100px;
    --image-zindex: 2;
    --below-image: 1;
    --above-image: 3;
  }
  .iphones {
    flex-direction: column;
  }
  .phone-1, .phone-2 {
    margin: auto;
    margin-bottom: 100px;    
  }
}
.page-center{
  max-width:1200px!important;
}



@media screen and (max-width:520px){
  .mod-6-outer .iphones {
    overflow:hidden;
  }
}
