.blog-posts .blog-posts__post {
  padding-top: 15px;
  margin-bottom: 15px; 
  border-top: 1px solid #BDBDBD;
}

.blog-posts__title h3 {
  color: #E84E1B;
}

.blog-posts .blog-posts__post-content {
  padding-left: 15px;
  height: 100%;
}

.blog-posts__post-content a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #3C3C3B;
}

.blog-posts .blog-posts__post img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-posts__meta {
  font-size: 16px;
}