.contact-details-mdl .contact-details-top-section{ 
	margin-bottom:40px;
}
.contact-details-mdl .contact-details-list-wrap{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.contact-details-mdl .contact-details-list-item{
	display:flex;
	align-items: start;
	gap:10px;
}
.contact-details-mdl .contact-details-list-item svg,
.contact-details-mdl .contact-details-list-item img{
	vertical-align:middle;
}
.contact-details-mdl .contact-details-list-wrap.contact-details-horizontal{
	gap:40px;
}
.contact-details-mdl .contact-details-list-wrap.contact-details-vertical{
	gap:0;
}
.contact-details-mdl .contact-details-list-wrap.contact-details-horizontal .contact-details-list-item{
	width: auto;
}
.contact-details-mdl .contact-details-list-wrap.contact-details-vertical .contact-details-list-item{
	width: 100%;
}
.contact-details-mdl .contact-details-list-wrap .contact-details-list-item{
	margin-bottom:20px;
}
.contact-details-mdl .list-icon{
	text-align: center;
	line-height: 1;
	overflow: hidden;
	border-radius:50%;
	padding:5px;
	color:inherit; 
	max-width: 32px;
	height: 32px;
	width: 100%;
	line-height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact-details-mdl .list-icon .hs_cos_wrapper_type_icon {
	display: flex;
	align-items: center;
}
.contact-details-mdl .contact-details-list-item.top-align {
	align-items: start;
}
.contact-details-mdl .contact-details-list-item.middle-align {
	align-items: center;
}
.contact-details-mdl .contact-details-list-item.bottom-align {
	align-items: end;
}