.post-banner-header h1 {
    color: #000000;
    font-size: 28px;
    line-height: 38px;
    margin-top: 0px;
}
.post-banner-date p {
    margin: 0px;
    color: #666666;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.post-banner-date p span {
    display: flex;
    margin-right: 10px;
}
.post-banner-header {
    margin: 0px 0px 15px;
}
.podcast-post-banner {
    padding-bottom: 30px;
}