.solution-brief-banner-p {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-top: 145px;
    padding-bottom: 120px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.95)), to(hsla(0, 0%, 100%, 0.95))), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95)), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, 110%;
    text-align: center;
}
/* .solution-brief-banner:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 50%;
} */
.solutions-brief-banner-title h1 {
    margin-top: 0px;
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 10px;
}

.solutions-brief-banner-inner{
    position: relative;
    z-index: 5;
    text-align: center;
  padding: 70px 0;
}

.solution-brief-banner-description p{
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.body-solutions .body-container-wrapper {
  padding-top: 0px;
}
.solution-brief-banner-cta a {
    min-width: 160px;
    padding: 15px 20px;
    border-radius: 4px;
    background-color: #ec2227;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 34, 39, 0.95)), to(rgba(236, 34, 39, 0.95))), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(180deg, rgba(236, 34, 39, 0.95), rgba(236, 34, 39, 0.95)), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 420px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
}
.solution-brief-banner-cta a:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 34, 39, 0.98)), to(rgba(236, 34, 39, 0.98))), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
    background-image: linear-gradient(180deg, rgba(236, 34, 39, 0.98), rgba(236, 34, 39, 0.98)), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/grid-flat-transparent-thicker.svg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 420px;
    box-shadow: 0 0 5px 0 #ec2227;
    color: #ffffff;
}
@media (max-width: 1230px){
.solution-brief-banner-p{
  padding-left: 15px;
  padding-right: 15px;
}
}
@media (max-width: 479px){
.solutions-brief-banner-title h1 {
    font-size: 36px;
    line-height: 40px;
 }
.solution-brief-banner {
    padding-top: 120px;
    padding-bottom: 60px;
 }
}
@media (max-width: 767px){
.solution-brief-banner-p {
    padding: 140px 20px 80px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, hsla(0, 0%, 100%, 0))), -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.93)), to(hsla(0, 0%, 100%, 0.93))), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);;
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0) 40%), linear-gradient(180deg, hsla(0, 0%, 100%, 0.93), hsla(0, 0%, 100%, 0.93)), url(https://www.hotwax.co/wp-content/themes/hotwax-2020/images/fashionbg.svg);
    background-size: auto, auto, 1150px;
}
}