<div class="solution-brief-banner-p" style="background-image:linear-gradient(180deg,#fff,hsla(0,0%,100%,0) 40%),linear-gradient(180deg,hsla(0,0%,100%,0.95),hsla(0,0%,100%,0.95)),url(//cdn2.hubspot.net/hubfs/6357099/HotWax_February2020/Images/fashionbg.svg)">
  <div class="page-center"> 
    <div id="canvas" class="div-block-2"></div>
     <div class="solutions-brief-banner-inner">
       <div class="solutions-brief-banner-title">
         <h1>
           {{ module.banner_title }}
         </h1>
       </div>
       <div class="solution-brief-banner-description">
         <p> {{ module.banner_description }}</p>
       </div>
       <div class="solution-brief-banner-cta">
         {% set href = module.banner_cta.url.href %}
          {% if module.banner_cta.url.type is equalto "EMAIL_ADDRESS" %}
	          {% set href = "mailto:" + href %}
          {% endif %}
           <a href="{{ href }}"
	            {% if module.banner_cta.open_in_new_tab %}target="_blank"{% endif %}
            	{% if module.banner_cta.rel %}rel="{{ module.banner_cta.rel }}"{% endif %}
           	>
	           {{ module.banner_cta_text }}
           </a>
       </div>
    </div>         
  </div>
</div>



<script src="https://info.hotwax.co/hubfs/HotWax_February2020/Js/three.min.js"></script>