<!--
templateType: page
isAvailableForNewContent: true
label: Home Page 2
screenshotPath: ../images/template-previews/home-page2.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<div class="home2_banner">
	{% dnd_area "home_dnd_area_banner" label='Banner Section' %}
	{% dnd_section
      padding={
    "default" : {
      "bottom" : "0px",
      "top" : "0px"
    }
  },
  full_width=true
%}
	{% dnd_module
    path="../modules/home-banner",
    offset=0,
    width=12,
    banner_type="slider",
    slider_banner_settings=[ {
      "banner_background_settings" : {
        "background_position" : "center center",
        "background_size" : "cover",
        "background_type" : "image",
        "gradient" : {
          "gradient_direction" : "to bottom right",
          "primary_color" : {
            "color" : "#43cbff",
            "opacity" : 100
          },
          "secondary_color" : {
            "color" : "#9708cc",
            "opacity" : 100
          }
        },
        "image" : {
          "alt" : "hm_bnr",
          "height" : 650,
          "loading" : "lazy",
          "max_height" : 650,
          "max_width" : 1440,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hm_bnr1.png'),
          "width" : 1440
        },
        "overlay_settings" : {
          "apply_overlay" : true,
          "color_field" : {
            "color" : "#000000",
            "opacity" : 50
          }
        }
      },
      "button_settings" : {
        "add_button" : true,
        "button" : [ {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99118063483,
              "type" : "CONTENT"
            }
          },
          "button_style" : "gradient",
          "button_text" : "Get Started",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        }, {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99798957907,
              "type" : "CONTENT"
            }
          },
          "button_style" : "transparent",
          "button_text" : "Learn More",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        } ]
      },
      "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>",
      "title" : "Maecenas Eget Condimentum Velit",
      "title_tag_type" : "h1"
    }, {
      "banner_background_settings" : {
        "background_position" : "center center",
        "background_size" : "cover",
        "background_type" : "image",
        "gradient" : {
          "gradient_direction" : "to bottom right",
          "primary_color" : {
            "color" : "#43cbff",
            "opacity" : 100
          },
          "secondary_color" : {
            "color" : "#9708cc",
            "opacity" : 100
          }
        },
        "image" : {
          "alt" : "Rectangle 81",
          "height" : 167,
          "loading" : "lazy",
          "max_height" : 167,
          "max_width" : 247,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hm_bnr3.png'),
          "width" : 247
        },
        "overlay_settings" : {
          "apply_overlay" : true,
          "color_field" : {
            "color" : "#000000",
            "opacity" : 50
          }
        }
      },
      "button_settings" : {
        "add_button" : true,
        "button" : [ {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99118063483,
              "type" : "CONTENT"
            }
          },
          "button_style" : "gradient",
          "button_text" : "Get Started",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        }, {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99798957907,
              "type" : "CONTENT"
            }
          },
          "button_style" : "transparent",
          "button_text" : "Learn More",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        } ]
      },
      "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>",
      "title" : "Maecenas Eget Condimentum Velit ",
      "title_tag_type" : "h2"
    }, {
      "banner_background_settings" : {
        "background_position" : "center center",
        "background_size" : "cover",
        "background_type" : "image",
        "gradient" : {
          "gradient_direction" : "to bottom right",
          "primary_color" : {
            "color" : "#43cbff",
            "opacity" : 100
          },
          "secondary_color" : {
            "color" : "#9708cc",
            "opacity" : 100
          }
        },
        "image" : {
          "alt" : "hm_bnr",
          "height" : 650,
          "loading" : "lazy",
          "max_height" : 650,
          "max_width" : 1440,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hm_bnr.png'),
          "width" : 1440
        },
        "overlay_settings" : {
          "apply_overlay" : true,
          "color_field" : {
            "color" : "#000000",
            "opacity" : 50
          }
        }
      },
      "button_settings" : {
        "add_button" : true,
        "button" : [ {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99118063483,
              "type" : "CONTENT"
            }
          },
          "button_style" : "gradient",
          "button_text" : "Get Started",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        }, {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99798957907,
              "type" : "CONTENT"
            }
          },
          "button_style" : "transparent",
          "button_text" : "Learn More",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        } ]
      },
      "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>",
      "title" : "Maecenas Eget Condimentum Velit ",
      "title_tag_type" : "h3"
    }, {
      "banner_background_settings" : {
        "background_position" : "center center",
        "background_size" : "cover",
        "background_type" : "image",
        "gradient" : {
          "gradient_direction" : "to bottom right",
          "primary_color" : {
            "color" : "#43cbff",
            "opacity" : 100
          },
          "secondary_color" : {
            "color" : "#9708cc",
            "opacity" : 100
          }
        },
        "image" : {
          "alt" : "Rectangle 13 (1)",
          "height" : 650,
          "loading" : "lazy",
          "max_height" : 650,
          "max_width" : 1440,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hm_bnr3.png'),
          "width" : 1440
        },
        "overlay_settings" : {
          "apply_overlay" : true,
          "color_field" : {
            "color" : "#000000",
            "opacity" : 50
          }
        }
      },
      "button_settings" : {
        "add_button" : true,
        "button" : [ {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99118063483,
              "type" : "CONTENT"
            }
          },
          "button_style" : "gradient",
          "button_text" : "Get Started",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        }, {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99798957907,
              "type" : "CONTENT"
            }
          },
          "button_style" : "transparent",
          "button_text" : "Learn More",
          "button_type" : "normal",
          "icon_settings" : {
            "icon" : { },
            "icon_type" : "",
            "image" : {
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : ""
            }
          }
        } ]
      },
      "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>",
      "title" : "Maecenas Eget Condimentum Velit ",
      "title_tag_type" : "h2"
    } ],
	  slider_settings={
      "arrows" : true,
		 "fade" : true
    },
    standard_banner_settings={
      "banner_background_settings" : {
        "background_type" : "image",
        "image" : {
          "alt" : "Rectangle 81",
          "height" : 167,
          "loading" : "lazy",
          "max_height" : 167,
          "max_width" : 247,
          "size_type" : "auto",
          "src" : get_asset_url('../images/hm_bnr.png'),
          "width" : 247
        }
      }
    },
	  style={
	  "background_on_container" : false,
      "container_max_width" : 700,
      "container_width" : "cw",
		"content_styling" : {
        "alignment" : {
          "text_align" : "CENTER"
        }
      },
      "override_style" : true
    }
  %}
	{% end_dnd_module %}
	{% end_dnd_section %}
	{% end_dnd_area %} 
</div>
<main id="main-content" class="body-container-wrapper">
	{% dnd_area "dnd_area1" class='dnd_area1', label='Section1' %}

	{% end_dnd_area %}
	<div class="home2_row">
		{% dnd_area "home_dnd_area" label='Main Section' %}
		{# introduction-section #}
		{% dnd_section
		 padding={
		 "default" : {
			"bottom" : "0",
			"top" : "100px"
		 }
	 }

  full_width=true
%}
		{% dnd_column
    offset=0,
    width=12
  %}
		{% dnd_row %}
		{% dnd_module
        path="../modules/introduction-section",
        offset=0,
        width=12,
        list_settings={
          "add_list_item" : true,
          "list_item" : [ {
            "icon_settings" : {
              "icon" : {
                "name" : "Airbnb",
                "type" : "REGULAR",
                "unicode" : "f834"
              },
              "icon_type" : "image",
              "image" : {
                "alt" : "Check",
                "height" : 18,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/list_item_image.png'),
                "width" : 18
              }
            },
            "list_content" : "<p style='font-weight:500'>Maecenas eget condimentum velit</p>"
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Airbnb",
                "type" : "REGULAR",
                "unicode" : "f834"
              },
              "icon_type" : "image",
              "image" : {
                "alt" : "Check",
                "height" : 18,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/list_item_image.png'),
                "width" : 18
              }
            },
            "list_content" : "<p style='font-weight:500'>Maecenas eget condimentum velit</p>"
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Airbnb",
                "type" : "REGULAR",
                "unicode" : "f834"
              },
              "icon_type" : "image",
              "image" : {
                "alt" : "Check",
                "height" : 18,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/list_item_image.png'),
                "width" : 18
              }
            },
            "list_content" : "<p style='font-weight:500'>Maecenas eget condimentum velit</p>"
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Airbnb",
                "type" : "REGULAR",
                "unicode" : "f834"
              },
              "icon_type" : "image",
              "image" : {
                "alt" : "Check",
                "height" : 18,
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : get_asset_url('../images/list_item_image.png'),
                "width" : 18
              }
            },
            "list_content" : "<p style='font-weight:500'>Maecenas eget condimentum velit</p>"
          } ]
        },
        media_section={
          "image_section" : {
            "add_secondary_image" : true,
            "border_radius" : {
              "bottom_left" : 8,
              "bottom_right" : 8,
              "left_top" : 8,
              "right_top" : 8
            },
            "image_alignment_settings" : {
              "primary_image_horizontal_alignment" : "pr_hleft",
              "secondary_image_horizontal_alignment" : "sec_hleft",
              "secondary_image_vertical_alignment" : "sec_vtop"
            },
            "primary_image" : {
              "alt" : "primary_image1",
              "height" : 533,
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : get_asset_url('../images/prm.png'),
              "width" : 434
            },
            "secondary_image" : {
              "alt" : "primary_image1",
              "height" : 500,
              "src" : get_asset_url('../images/sec.png'),
              "width" : 350
            }
          }
        },
        style={
          "section_style" : {
            "content_alignment" : "content_left"
          }
        },
        button_settings={
          "add_button" : true,
          "button" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "content_id" : 99677370454,
                "type" : "CONTENT"
              }
            },
            "button_text" : "Learn More",
            "button_type" : "normal",
            "icon_settings" : {
              "icon" : { },
              "icon_type" : "icon",
              "icon_type_settings" : { },
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            }
          } ]
        }
      %}
		{% module_attribute "content" %}
		<h6>Intro Title</h6>
		<h2>Tellus Elit Sed Risus Torquent Nostra.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		{% end_module_attribute %}
		{% end_dnd_module %}
		{% end_dnd_row %}
		{% end_dnd_column %}
		{% end_dnd_section %}

		{#services v2 #}
		{% dnd_section
  padding={
    "default" : {
      "bottom" : "100px",
      "top" : "100px"
    }
  },
  full_width=true
%}
		{% dnd_module
    path="../modules/services-v2",
    offset=0,
    width=12,
    animation_settings={
      "animation_type" : "fade-up",
      "apply_animation" : false,
      "top_content_animation_type" : "fade"
    },
    service_item=[ {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/wht-icon1.png'),
        "width" : 300
      },
      "item_icon" : {
        "name" : ""
      },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/icon1.png'),
        "width" : 300
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false,
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    }, {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/wht-icon2.png'),
        "width" : 301
      },
      "item_icon" : { },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "src" : get_asset_url('../images/icon2.png'),
        "width" : 301
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false,
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    }, {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "src" : get_asset_url('../images/wht-icon3.png'),
        "width" : 301
      },
      "item_icon" : { },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/icon3.png'),
        "width" : 301
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false, 
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    },
	 {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "src" : get_asset_url('../images/wht-icon3.png'),
        "width" : 301
      },
      "item_icon" : { },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/icon3.png'),
        "width" : 301
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false, 
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    },
	 {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "src" : get_asset_url('../images/wht-icon3.png'),
        "width" : 301
      },
      "item_icon" : { },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/icon3.png'),
        "width" : 301
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false, 
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    },
	 {
      "apply_arrow" : true,
      "apply_link" : true,
      "arrow_settings" : {
        "arrow_icon" : { },
        "arrow_icon_type" : "image",
        "arrow_image" : {
          "alt" : "Arrow",
          "height" : 30,
          "loading" : "lazy",
          "size_type" : "exact",
          "src" : get_asset_url('../images/white_arrow.png'),
          "width" : 30
        },
        "normal_arrow_image" : {
          "src" : ""
        }
      },
      "content" : "<h5 style='font-weight:400;'>Lorem Ipsum <br> Dolor</h5>",
      "icon_type" : "image",
      "item_hover_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "src" : get_asset_url('../images/wht-icon3.png'),
        "width" : 301
      },
      "item_icon" : { },
      "item_image" : {
        "alt" : "Lorem ipsum dolor",
        "height" : 301,
        "loading" : "lazy",
        "size_type" : "exact",
        "src" : get_asset_url('../images/icon3.png'),
        "width" : 301
      },
      "link_field" : {
        "no_follow" : false,
        "open_in_new_tab" : false, 
        "url" : {
          "content_id" : 99677370491,
          "type" : "CONTENT"
        }
      },
      "link_position" : "on_item"
    }],
    style={
      "override_section_style" : false,
      "override_style" : false
    },
	 button_settings={
          "add_button" : true,
          "button" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "content_id" : 99677370491,
                "type" : "CONTENT"
              }
            },
            "button_text" : "View All",
            "button_type" : "normal",
            "icon_settings" : {
              "icon" : { },
              "icon_type" : "icon",
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            }
          } ]
        }
  %}
		{% module_attribute "top_content" %}
		<h2>Services For You</h2>
		<p>Maecenas eget condimentum velit, sit amet feugiat <br> lectus. Class aptent taciti.</p>
		{% end_module_attribute %}
		{% end_dnd_module %}
		{% end_dnd_section %}


		{# Video section with text #}

		{% dnd_section
  background_color="rgba(20, 20, 20, 1)"
%}
		{% dnd_column
    offset=0,
    width=6,
    padding={
      "default" : {
        "right" : "100px"
      },
      "mobile" : {
        "right" : "0px"
      }
    },
    margin={
      "mobile" : {
        "bottom" : "30px"
      }
    }
  %}
		{% dnd_row %}
		{% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
		{% module_attribute "html" %}
		<ol style="padding-left: 20px; font-size: 20px; font-weight: 500;">
			<li style="color: #fff;font-weight: 500;">
				<h5 style="color: #fff;">Lorem Ipsum Dolor Sit Amet, Connsectetur Adipiscring Elit.</h5>
				<p style="font-size: 16px;font-weight: 400; color: #DADADA;margin: 18px 0 45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
			</li>
			<li style="color: #fff;font-weight: 500;">
				<h5 style="color: #fff;">Lorem Ipsum Dolor Sit Amet, Connsectetur Adipiscring Elit.</h5>
				<p style="font-size: 16px;font-weight: 400; color: #DADADA;margin: 18px 0 45px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
			</li>
			<li style="color: #fff;font-weight: 500;">
				<h5 style="color: #fff;">Lorem Ipsum Dolor Sit Amet, Connsectetur Adipiscring Elit.</h5>
				<p style="font-size: 16px;font-weight: 400; color: #DADADA;margin: 18px 0 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>
			</li>
		</ol>
		{% end_module_attribute %}
		{% end_dnd_module %}
		{% end_dnd_row %}
		{% end_dnd_column %}
		{% dnd_column
    offset=6,
    width=6
  %}
		{% dnd_row %}
		{% dnd_module
        path="../modules/advanced-video",
        offset=0,
        width=12,
        button_settings={
          "add_button" : false
        },
        animation_settings={
          "animation" : true,
          "select_animation" : "fade"
        },
        video_settings={
          "video_settings" : {
            "embed_url" : "https://www.youtube.com/watch?v=nWwpyclIEu4",
            "image_field" : {
              "alt" : "Video icon",
              "height" : 48,
              "loading" : "lazy",
              "size_type" : "exact",
              "src" : get_asset_url('../images/video_icon.png'),
              "width" : 48
            },
            "video_icon_type" : "image",
            "video_type" : "embed"
          }
        },
        style={
          "section_style" : {
            "background_settings" : {
              "background_image" : {
                "background_position" : "MIDDLE_CENTER",
                "background_size" : "cover",
                "src" : get_asset_url('../images/half_video_bg1.jpg')
              },
              "background_type" : "image",
              "overlay_settings" : {
                "apply_overlay" : true,
                "overlay_color" : {
                  "color" : "#141414",
                  "opacity" : 50
                }
              }
            },
            "border_radius" : 8,
            "spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 283
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 283
                }
              }
            }
          }
        }
      %}
		{% module_attribute "top_content" %}

		{% end_module_attribute %}
		{% end_dnd_module %}
		{% end_dnd_row %}
		
		
		{% end_dnd_column %}
		{% end_dnd_section %}

		{# Team Without Slider #}

		{% dnd_section
  padding={
    "default" : {
      "bottom" : "0",
      "top" : "100"
    },
    "mobile" : {
      "bottom" : "50px",
      "top" : "50px"
    }
  }
%}
		{% dnd_column
    offset=0,
    width=12
  %}
		{% dnd_row %}
		{% dnd_module
        path="../modules/team",
        offset=0,
        width=12,
        animation_settings={
          "animation" : true
        },
        apply_slider=false,
        module_settings={
          "image_alignment" : "top"
        },
        slider_settings={
          "arrows" : false,
          "autoplay" : false,
          "dots" : true,
          "speed" : 3000
        },
        team=[ {
          "add_social_share" : true,
          "content" : "<p>Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti.</p>",
          "designation" : "Maecenas eget",
          "image" : {
            "alt" : "project_content_2",
            "height" : 540,
            "loading" : "lazy",
            "max_height" : 540,
            "max_width" : 690,
            "size_type" : "auto",
            "src" : get_asset_url('../images/team_image1.png'),
            "width" : 690
          },
          "member_name" : "Billie Eilish",
          "social_share" : [ {
            "icon_settings" : {
              "icon" : {
                "name" : "Facebook F",
                "type" : "REGULAR",
                "unicode" : "f39e"
              },
              "icon_type" : "icon"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Google Logo",
                "type" : "REGULAR",
                "unicode" : "f1a0"
              },
              "icon_type" : "icon",
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://google.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Twitter",
                "type" : "REGULAR",
                "unicode" : "f099"
              },
              "icon_type" : "icon",
              "image" : {
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "content" : "<p>Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti.</p>",
          "designation" : "Maecenas eget",
          "image" : {
            "alt" : "resources-2",
            "height" : 264,
            "loading" : "lazy",
            "max_height" : 264,
            "max_width" : 349,
            "size_type" : "auto",
            "src" : get_asset_url('../images/team_image2.png'),
            "width" : 349
          },
          "member_name" : "Billie Eilish",
          "social_share" : [ {
            "icon_settings" : {
              "icon" : {
                "name" : "Facebook F",
                "type" : "REGULAR",
                "unicode" : "f39e"
              },
              "icon_type" : "icon"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Google Logo",
                "type" : "REGULAR",
                "unicode" : "f1a0"
              },
              "icon_type" : "icon",
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://google.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Twitter",
                "type" : "REGULAR",
                "unicode" : "f099"
              },
              "icon_type" : "icon",
              "image" : {
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          } ]
        }, {
          "content" : "<p>Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti.</p>",
          "designation" : "Maecenas eget",
          "image" : {
            "alt" : "resources-3",
            "height" : 264,
            "loading" : "lazy",
            "max_height" : 264,
            "max_width" : 349,
            "size_type" : "auto",
            "src" : get_asset_url('../images/team_image3.png'),
            "width" : 349
          },
          "member_name" : "Billie Eilish",
          "social_share" : [ {
            "icon_settings" : {
              "icon" : {
                "name" : "Facebook F",
                "type" : "REGULAR",
                "unicode" : "f39e"
              },
              "icon_type" : "icon"
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://www.facebook.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Google Logo",
                "type" : "REGULAR",
                "unicode" : "f1a0"
              },
              "icon_type" : "icon",
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://google.com/",
                "type" : "EXTERNAL"
              }
            }
          }, {
            "icon_settings" : {
              "icon" : {
                "name" : "Twitter",
                "type" : "REGULAR",
                "unicode" : "f099"
              },
              "icon_type" : "icon",
              "image" : {
                "src" : ""
              }
            },
            "social_link" : {
              "no_follow" : false,
              "open_in_new_tab" : true,
              "url" : {
                "href" : "https://twitter.com/",
                "type" : "EXTERNAL"
              }
            }
          } ],
				style={
          "slider_dots_active_color" : {
            "colors" : [ {
              "color" : {
                "a" : 1,
                "b" : 255,
                "g" : 203,
                "r" : 67
              }
            }, {
              "color" : {
                "a" : 1,
                "b" : 204,
                "g" : 8,
                "r" : 151
              }
            } ],
            "side_or_corner" : {
              "horizontalSide" : "RIGHT",
              "verticalSide" : "BOTTOM"
            }
          },
          "slider_dots_color" : {
            "color" : "#E4E4E4",
            "opacity" : 100
          }
        }
      %}
		{% module_attribute "top_content" %}
		<h2 style="text-align: center;">OUR AMAZING TEAM</h2>
		<p style="text-align: center;">Maecenas eget condimentum velit, sit amet feugiat<br> lectus. Class aptent taciti.</p>
		{% end_module_attribute %}
		{% end_dnd_module %}
		{% end_dnd_row %}
		{% end_dnd_column %}
		{% end_dnd_section %}

		{# Testimonial v2 #}
		{% dnd_section
  full_width=true
%}
		{% dnd_column
    offset=0,
    width=12
  %}
		{% dnd_row %}
		{% dnd_module
        path="../modules/testimonial-slider-v2",
        offset=0,
        width=12,
        quote_image={
          "alt" : "quote",
          "height" : 53,
          "max_height" : 53,
          "max_width" : 61,
          "src" : get_asset_url('../images/grey_quote.png'),
          "width" : 61
        },
        slider_settings={
          "arrows" : false
        },
		  style={
          "background_settings" : {
            "background_color" : {
              "color" : "#FFFFFF",
              "opacity" : 100
            },
            "background_type" : "color"
          },
          "image_type" : "circle",
          "slider_dots_alignment" : {
            "text_align" : "RIGHT"
          }
        },
        testimonial_slider=[ {
          "author" : "Elsher Solace",
          "author_image" : {
            "alt" : "Elsher Solace",
            "height" : 200,
            "loading" : "lazy",
            "max_height" : 200,
            "max_width" : 202,
            "size_type" : "auto",
            "src" : get_asset_url('../images/Ellipse 33.png'),
            "width" : 202
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        }, {
          "author" : "Elsher Solace",
          "author_image" : {
            "alt" : "Elsher Solace",
            "height" : 200,
            "loading" : "lazy",
            "max_height" : 200,
            "max_width" : 202,
            "size_type" : "auto",
            "src" : get_asset_url('../images/Elsher_Solace.png'),
            "width" : 202
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        }, {
          "author" : "Elsher Solace",
          "author_image" : {
            "alt" : "Elsher Solace",
            "height" : 200,
            "loading" : "lazy",
            "max_height" : 200,
            "max_width" : 202, 
            "size_type" : "auto",
            "src" : get_asset_url('../images/Elsher_Solace.png'),
            "width" : 202
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        } ]
      %}
		{% end_dnd_module %}
		{% end_dnd_row %}
		{% end_dnd_column %}
		{% end_dnd_section %}

		{% dnd_section
  padding={
    "default" : {
      "bottom" : "80px",
      "top" : "0px"
    }
  },
  full_width=true
%}
		{% dnd_module
    path="../modules/latest-blog-feed",
    offset=0,
    width=12,
    animation_settings={
      "apply_animation" : false
    },
    button_settings={
      "button" : {
        "button_style" : "",
        "button_text" : "Read More",
        "icon_settings" : {
          "icon" : {
            "name" : "angle-right",
            "type" : "SOLID",
            "unicode" : "f105"
          }
        }
      }
    },
    posts_settings={
      "author" : true,
      "author_image_height" : 20,
      "author_image_width" : 20,
      "background_image_settings" : {
        "settings" : {
          "background_image_height" : 200
        }
      },
      "byline_position" : "image-bottom",
      "featured_image_type" : "bg",
      "read_more_button" : true
    },
    style={
      "items_style_settings" : {
        "content_style" : {
          "title" : { }
        }
      },
      "override_style" : false
    }
  %}
		{% module_attribute "top_content" %}
		<h2 style="text-align: center;"><strong>Latest Blogs</strong></h2>
		<p style="text-align: center;">Maecenas eget condimentum velit, sit amet feugiat <br>lectus. Class aptent taciti.</p>
		{% end_module_attribute %}

		{% end_dnd_module %}
		{% end_dnd_section %}

		{% include_dnd_partial path="../sections/bottom_pane_section.html" %}

		{% end_dnd_area %} 
	</div>
	{% dnd_area "dnd_area3" class='dnd_area3', label='Section3' %}

	{% end_dnd_area %}
</main>
{% endblock body %}
