<!--
templateType: page
isAvailableForNewContent: true
label: Landing Page 5
screenshotPath: ../images/template-previews/landing-page5.png
-->

{% extends "./layouts/base.html" %}

{% block body %}
<div class="banner-section">
	{% dnd_area "dnd__banner" class='banner-area', label='Banner Area' %}
	{% dnd_section full_width=true, padding={'top': 0,'bottom': 0 } %}
	{% dnd_module path='../modules/banner-with-form', width=12, offset=0, label="Banner With Form",
	      title="Lorem Ipusm Dolor Amet",
        title_tag_type="h1",
				content= '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>',
        banner_background_settings={
          "background_type" : "image",
          "image" : {
            "alt" : "Banner",
            "src" : get_asset_url('../images/landing5_banner_image.jpg')
          }
        },
        banner_bottom_separator={
          "alt" : "Landing-5",
          "src" : get_asset_url('../images/landing5_banner_separator.png')
        },
        button_settings={
          "add_button" : true,
          "button" : [ {
					  "button_type" : "normal",
            "button_style" : "gradient",
            "button_text" : "Purchase Now",
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "content_id" : 99117610884,
                "type" : "CONTENT"
              }
            },
            "icon_settings" : {
              "icon" : { },
              "icon_type" : "",
              "icon_type_settings" : { },
              "image" : {
                "loading" : "lazy",
                "size_type" : "exact",
                "src" : ""
              }
            }
          } ]
        },
				form_top_content = '<h6>Be Our Client</h6> <br>
          <p>Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti.</p>',
        select_form={
          "form_id" : "6dbca3f3-6dbd-449b-8a67-ff2df11c1ab3",
          "form_type" : "HUBSPOT",
          "message" : "Thanks for submitting the form.",
          "response_type" : "inline"
        },
				animation_settings={
				  "animation" : true,
          "select_animation" : "fade-right",
          "select_form_animation" : "fade-left"
        },
				breadcrumb_section = {
        "add_breadcrumb_menu":true,
					"breadcrumb_settings":{
						"breadcrumb_alignment" : "brd_top",
						"breadcrumb_menu" : 97430661961,
						"select_home_type" : "image",
						"home_icon" : {
							"alt" : "Home Icon",
							"height" : 24,
							"loading" : "lazy",
							"size_type" : "exact",
							"src" : get_asset_url('../images/home_icon.png'),
							"width" : 24
						},
						"icon" : {
							"name" : "home",
							"type" : "SOLID",
							"unicode" : "f015"
						}
					}
        },
        style={
				  "content_alignment" : "left",
          "content_vertical_alignment" : "ver_top",
					"content_styling" : {
            "spacing_field" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 20
                },
                "right" : {
                  "units" : "px",
                  "value" : 20
                },
                "top" : {
                  "units" : "px",
                  "value" : 30
                }
              }
            }
          },
				  "form_background_setting" : {
            "form_background_type" : "",
            "gradient_field" : {
              "colors" : [ {
                "color" : {
                  "a" : 1,
                  "b" : 255,
                  "g" : 203,
                  "r" : 67
                }
              }, {
                "color" : {
                  "a" : 1,
                  "b" : 204,
                  "g" : 8,
                  "r" : 151
                }
              } ],
              "side_or_corner" : {
                "horizontalSide" : "RIGHT",
                "verticalSide" : "BOTTOM"
              }
            },
						"form_top_content_color" : {
              "color" : "#fff",
              "opacity" : 100
            },
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 55
                },
                "left" : {
                  "units" : "px",
                  "value" : 30
                },
                "right" : {
                  "units" : "px",
                  "value" : 30
                },
                "top" : {
                  "units" : "px",
                  "value" : 55
                }
              }
            }
          },
				  "override_section_style" : true,
          "section_style" : {
            "spacing_field" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 75
                }
              }
            }
          },
					"override_style" : true,
          "form_styling" : {
            "border_radius" : 4,
            "button_style_type" : "gradient",
            "input_background_color" : {
              "color" : "#fff",
              "opacity" : 0
            },
            "input_border_color" : {
              "color" : "#fff",
              "opacity" : 100
            },
            "input_label_color" : {
              "color" : "#fff",
              "opacity" : 100
            },
            "input_text_color" : {
              "color" : "#fff",
              "opacity" : 100
            }
          }
        }

      %}
	{% end_dnd_module %}
	{% end_dnd_section %} 

	{% end_dnd_area %}
</div>
<main id="main-content" class="body-container-wrapper">

	{% dnd_area "dnd_area1" class='dnd_area1', label='Section1' %}

	{% end_dnd_area %}

	{% dnd_area "dnd_area_main" class='dnd_area2', label='Section2' %}

	{# Contact Detail And Image Comarision  #}

	{% dnd_section, padding={'top': 100 } %}
	{% dnd_column offset=0, width=6 %}
	{% dnd_row %}
	{% dnd_module path="../modules/contact-details", offset=0, width=12,
			  top_section = '<h2>Lorem Ipsum Dolor Sit Amet Consectetur</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar.</p>',
        add_contents=[ {
          "content" : "Maecenas eget condimentum velit",
					"icon_type" : "icon",
          "icon_field" : {
            "name" : "Check",
            "type" : "SOLID",
            "unicode" : "f00c"
          }
        }, {
          "content" : "Maecenas eget condimentum velit",
					"icon_type" : "icon",
          "icon_field" : {
            "name" : "Check",
            "type" : "SOLID",
            "unicode" : "f00c"
          }
        }, {
          "content" : "Maecenas eget condimentum velit",
					"icon_type" : "icon",
          "icon_field" : {
            "name" : "Check",
            "type" : "SOLID",
            "unicode" : "f00c"
          }
        }, {
          "content" : "Maecenas eget condimentum velit",
					"icon_type" : "icon",
          "icon_field" : {
            "name" : "Check",
            "type" : "SOLID",
            "unicode" : "f00c"
          }
        } ],
        animation_settings={
          "animation" : true,
          "select_animation" : "fade-left"
        },
        module_settings={
          "apply_container_width" : false,
          "orientation" : "vertical",
          "section_alignment" : "start",
					"icon_settings" : {
            "height" : 20,
            "width" : 20
          },
        },
        style={
				  "override_style" : false
        }
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% dnd_column offset=6, width=6 %}
	{% dnd_row %}
	{% dnd_module path="../modules/image-comparison", offset=0, width=12,
        after_image={
          "alt" : "before",
          "src" : get_asset_url('../images/before.jpg')
        },
        animation_settings={
          "animation" : true,
					"select_animation" : "fade-right"
        },
        before_image={
          "alt" : "after",
          "src" : get_asset_url('../images/after.jpg')
        },
        left_arrow_image={
          "alt" : "arrow_left",
          "src" : get_asset_url('../images/arrow_left.png'),
					"width" : 15
        },
        right_arrow_image={
          "alt" : "arrow_right",
          "src" : get_asset_url('../images/arrow_right.png'),
          "width" : 15
        }
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{# Faq Accordion #}
	{% dnd_section, padding={'bottom': 0 } %}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
	{% module_attribute "html" %}
	<h2 style="text-align: center;">What You Will Get.</h2>
	{% end_module_attribute %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}
	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=6
  %}
	{% dnd_row %}
	{% dnd_module
        path="../modules/accordion",
        offset=0,
        width=12,
        accordion_items=[ {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : true,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        }, {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        }, {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        } ],
        style={
          "item_style" : {
            "active_item" : {
              "color_field" : {
                "color" : "#161616",
                "opacity" : 100
              }
            },
            "spacing_field" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 20
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            }
          },
          "override_style" : true
        },
        accordion_settings={
          "down_image" : {
            "alt" : "Group 1528",
            "height" : 149,
            "loading" : "lazy",
            "max_height" : 149,
            "max_width" : 150,
            "size_type" : "auto",
            "src" : get_asset_url('../images/accordion_expanding_icon.png'),
            "width" : 150
          },
          "expanding_icon_type" : "image",
          "up_image" : {
            "alt" : "Group 1529",
            "height" : 149,
            "loading" : "lazy",
            "max_height" : 149,
            "max_width" : 150,
            "size_type" : "auto",
            "src" : get_asset_url('../images/accordion_colapsing_icon.png'),
            "width" : 150
          }
        }
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% dnd_column
    offset=6,
    width=6
  %}
	{% dnd_row %}
	{% dnd_module
        path="../modules/accordion",
        offset=0,
        width=12,
        accordion_items=[ {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        }, {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        }, {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        }, {
          "add_form" : false,
          "add_link_on_image" : false,
          "button_settings" : {
            "add_button" : false,
            "button" : {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "CONTENT"
                }
              },
              "button_text" : "Button Text",
              "button_type" : "normal",
              "icon_settings" : {
                "icon" : { },
                "icon_type" : "icon",
                "image" : {
                  "loading" : "lazy",
                  "size_type" : "exact",
                  "src" : ""
                }
              }
            }
          },
          "content" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis moestie, ductum est a, mattis tellus. sed dignissim.</p>",
          "content_type" : "text",
          "form_field" : {
            "response_type" : "inline"
          },
          "image_field" : {
            "loading" : "lazy",
            "size_type" : "auto",
            "src" : ""
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "show_active" : false,
          "title" : "Lorem Ipsum Dolor Sit Amet Sit Amet Consectetur Adipiscing ?",
          "title_format" : "h6"
        } ],
        style={
          "item_style" : {
            "active_item" : {
              "color_field" : {
                "color" : "#161616",
                "opacity" : 100
              }
            },
            "spacing_field" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 20
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            }
          },
          "override_style" : true
        },
        accordion_settings={
          "down_image" : {
            "alt" : "Group 1528",
            "height" : 149,
            "loading" : "lazy",
            "max_height" : 149,
            "max_width" : 150,
            "size_type" : "auto",
            "src" : get_asset_url('../images/accordion_expanding_icon.png'),
            "width" : 150
          },
          "expanding_icon_type" : "image",
          "up_image" : {
            "alt" : "Group 1529",
            "height" : 149,
            "loading" : "lazy",
            "max_height" : 149,
            "max_width" : 150,
            "size_type" : "auto",
            "src" : get_asset_url('../images/accordion_colapsing_icon.png'),
            "width" : 150
          }
        }
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}	

	{# Testimonial Slider #}
	{% dnd_section
  full_width=true, padding={
    "default" : {
      "bottom" : "0px",
      "top" : "0px"
    }
  }
%}
	{% dnd_column
    offset=0,
    width=12
  %}
	{% dnd_row %}
	{% dnd_module
        path="../modules/testimonial-slider",
        offset=0,
        width=12,
        apply_gradient_background_color=false,
				top_content ='',
        slider_settings={
          "arrows" : false,
          "autoplay" : false,
          "dots" : true,
          "speed" : 5000
        },
        style={
          "background_settings" : {
            "background_image" : {
              "background_position" : "MIDDLE_CENTER",
              "background_size" : "cover",
              "src" : get_asset_url('../images/testimonial_bg.png')
            },
            "background_type" : "image",
            "overlay_settings" : {
              "apply_overlay" : true,
              "overlay_color" : {
                "color" : "#141414",
                "opacity" : 50
              }
            }
          },
          "container_settings" : {
            "container_width" : "tw"
          },
          "item_style" : {
            "author_font" : {
              "color" : "#FFFFFF"
            },
            "author_infomation_font" : {
              "color" : "#FFFFFF"
            }
          },
          "override_style" : true
        },
        testimonial_slider=[ {
          "author" : "Hugo First",
          "author_image" : {
            "alt" : "testimonial_author",
            "src" : get_asset_url('../images/testimonial_author.png'),
            "width" : 65
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        }, {
          "author" : "Percy Vere",
          "author_image" : {
            "alt" : "testimonial_author",
            "src" : get_asset_url('../images/testimonial_author.png'),
            "width" : 65
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        }, {
				  "author" : "Jack Aranda",
          "author_image" : {
            "alt" : "testimonial_author",
            "src" : get_asset_url('../images/testimonial_author.png'),
            "width" : 65
          },
          "author_information" : "Client",
          "description" : "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.</p>"
        } ]
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{# Hero Section With Counter #}
	{% dnd_section full_width=true, padding={
    "default" : {
      "top" : "0px"
    }
  } %}
	{% dnd_module path="../modules/hero-section-with-counter",
	      content = '',
				counter_settings={
          "add_counter" : true,
          "counter_item" : [ {
            "add_suffix" : true,
            "content" : "<p>Lorem ipsum dolor sit amet consectetur</p>",
            "count_number_tag" : "2",
            "counter_number" : 200,
            "counter_number_suffix" : "+"
          }, {
            "add_suffix" : true,
            "content" : "<p>Lorem ipsum dolor sit amet consectetur</p>",
            "count_number_tag" : "2",
            "counter_number" : 50,
            "counter_number_suffix" : "%"
          }, {
            "add_suffix" : false,
            "content" : "<p>Lorem ipsum dolor sit amet consectetur</p>",
            "count_number_tag" : "2",
            "counter_number" : 80,
            "counter_number_suffix" : ""
          } ]
        },
        style={
          "counter_style" : {
            "column_type" : "three",
            "content_alignment" : {
              "text_align" : "CENTER"
            },
            "max_width" : 800,
            "max_width_unit" : "px",
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 44
                },
                "left" : {
                  "units" : "px",
                  "value" : 15
                },
                "right" : {
                  "units" : "px",
                  "value" : 15
                },
                "top" : {
                  "units" : "px",
                  "value" : 44
                }
              }
            }
          },
          "section_style" : {
            "background_settings" : {
              "background_color" : {
                "color" : "#141414",
                "opacity" : 100
              },
              "background_type" : "color"
            },
            "content_spacing" : {
              "margin" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              },
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 0
                },
                "left" : {
                  "units" : "px",
                  "value" : 0
                },
                "right" : {
                  "units" : "px",
                  "value" : 0
                },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            }
          }
        }
   %}
	{% end_dnd_module %}
	{% end_dnd_section %}

	{# Content With Icon #}

	{% dnd_section %}
	{% dnd_column
    offset=0,
    width=8
  %}
	{% dnd_row %}
	{% dnd_module
        path="@hubspot/rich_text",
        offset=0,
        width=12
      %}
	{% module_attribute "html" %}
	<h2>Lorem Ipsum Dolor Sit<br> Amet Consectetur</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum<br> est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan.</p>
	{% end_module_attribute %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% dnd_column
    offset=8,
    width=4
  %}
	{% dnd_row %}
	{% dnd_module
        path="@hubspot/horizontal_spacer",
        offset=0,
        width=12
      %}
	{% end_dnd_module %}
	{% end_dnd_row %}
	{% end_dnd_column %}
	{% end_dnd_section %}

	{% dnd_section, padding={
    "default" : {
      "top" : "0px"
    }
  } %}
	{% dnd_module path="../modules/icon-with-content",
      add_item=[ {
          "add_top_icon" : true,
					"icon_settings" : {
					  "icon_visibility" : "icon_whout_hover",
            "icon_type" : "image",
            "item_icon" : { },
            "item_image" : {
              "alt" : "icon_with_contentv2_icon",
              "src" : get_asset_url('../images/icon_with_contentv2_icon.png'),
              "width" : 23
            }
          },
					"content" : '<h4>Lorem Ipsum Dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>',
					"apply_read_more" : true,
					"read_more_settings" : {
					  "read_more_visibility" : "on_hover",
					  "read_more_text" : "Learn More",
						"arrow_icon_type" : "image",
            "arrow_icon" : {
              "name" : "Alternate Long Arrow Right",
              "type" : "SOLID",
              "unicode" : "f30b"
            },
            "arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_dark.png'),
              "width" : 23
            },
						"hover_arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_white.png'),
              "width" : 23
            }
          },
          "apply_link" : true,
					"link_position" : "on_item",
					"link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
                "content_id" : 99677370491,
    "type" : "CONTENT"
            }
          }
        }, {
          "add_top_icon" : true,
					"icon_settings" : {
					  "icon_visibility" : "icon_whout_hover",
            "icon_type" : "image",
            "item_icon" : { },
            "item_image" : {
              "alt" : "icon_with_contentv2_icon",
              "src" : get_asset_url('../images/icon_with_contentv2_icon.png'),
              "width" : 23
            }
          },
					"content" : '<h4>Lorem Ipsum Dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>',
					"apply_read_more" : true,
					"read_more_settings" : {
					  "read_more_visibility" : "on_hover",
					  "read_more_text" : "Learn More",
						"arrow_icon_type" : "image",
            "arrow_icon" : {
              "name" : "Alternate Long Arrow Right",
              "type" : "SOLID",
              "unicode" : "f30b"
            },
            "arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_dark.png'),
              "width" : 23
            },
						"hover_arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_white.png'),
              "width" : 23
            }
          },
          "apply_link" : true,
					"link_position" : "on_item",
					"link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
               "content_id" : 99130365863,
    "type" : "CONTENT"
            }
          }
        }, {
          "add_top_icon" : true,
					"icon_settings" : {
					  "icon_visibility" : "icon_whout_hover",
            "icon_type" : "image",
            "item_icon" : { },
            "item_image" : {
              "alt" : "icon_with_contentv2_icon",
              "src" : get_asset_url('../images/icon_with_contentv2_icon.png'),
              "width" : 23
            }
          },
					"content" : '<h4>Lorem Ipsum Dolor</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.</p>',
					"apply_read_more" : true,
					"read_more_settings" : {
					  "read_more_visibility" : "on_hover",
					  "read_more_text" : "Learn More",
						"arrow_icon_type" : "image",
            "arrow_icon" : {
              "name" : "Alternate Long Arrow Right",
              "type" : "SOLID",
              "unicode" : "f30b"
            },
            "arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_dark.png'),
              "width" : 23
            },
						"hover_arrow_image" : {
              "alt" : "arrow_white",
              "src" : get_asset_url('../images/arrow_white.png'),
              "width" : 23
            }
          },
          "apply_link" : true,
					"link_position" : "on_arrow",
					"link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "content_id" : 99680860080,
    "type" : "CONTENT"
            }
          }
        } ],
				button_settings={
          "add_button" : false,
          "button" : {
					  "button_type" : "normal",
						"button_text" : "Explore",
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "#",
                "type" : "EXTERNAL"
              }
            },
            "icon_settings" : {
              "icon_type" : "icon"
            }
          }
        },
        module_settings={
          "apply_container_width" : true,
          "column_type" : "4",
          "top_icon_alignment" : "icon_top"
        },
        animation_settings={
          "animation_type" : "fade-up",
          "apply_animation" : true
        }
	%}
	{% end_dnd_module %}
	{% end_dnd_section %}

	{# Section Bottom Pane #}
	{% include_dnd_partial path="../sections/bottom_pane_section.html" %} 

	{% end_dnd_area %}

	{% dnd_area "dnd_area3" class='dnd_area3', label='Section3' %}

	{% end_dnd_area %}

</main>
{% endblock body %}  