.cards {
  position: relative;
  z-index: 2;
}

.card__body .hs_cos_wrapper_type_inline_rich_text *:last-child {
  margin-bottom: 0;
}

/*card title*/
div#hs_cos_wrapper_widget_1651622059039_ {
    padding-top: 1em;
  margin-bottom:1em;
}
div#hs_cos_wrapper_widget_1651622059039_ h3 {
    font-size:28px;
}
/*height card*/
@media only screen and (max-width: 600px) {
  .card__title h3 {
    width: 300px;
  }
}
@media (min-width: 992px) and (max-width:1450px){
  .card__title h2 {
     min-height:95px;
  }
}

@media (max-width: 1023px) {
  .card__title h3 {
    font-size:38px !important;
  }
}
@media (min-width:768px){
.card__title h2 {
  font-size:38px;
}
}
