.intro-text-outer {
  margin: 0 auto;
  max-width: 1217px;
  padding: 20px 190px 20px 140px;
}

.intro-text-inner {
  border-left: 2px solid #F79422;
  padding-left: 10px;
  margin: 0 0 0 25px;
}

.intro-text-block {
  padding: 4px 0px 1px 0;
}

.intro-text-inner p {
  font-family: Open Sans,sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width:980px){
  .intro-text-outer {
    margin: 0 auto;
    max-width: 1217px;
    padding: 20px 100px 20px 90px;
  }
}

@media screen and (max-width:767px){
  .intro-text-outer {
    margin: 0 auto;
    max-width: 1217px;
    padding: 20px 20px;
  }
}

@media screen and (max-width:479px){
  .intro-text-outer {
    margin: 0 auto;
    max-width: 1194px;
    padding: 20px 20px;
  }

  .intro-text-inner p {
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }

}

/* @media screen and (max-width:767px){
.intro-text-inner {
width: 100%;
margin: 20px 40px;
background-image: url(https://6357099.fs1.hubspotusercontent-na1.net/hubfs/6357099/Hotwax-2021/Hot%20Wax%20Migration%20Images/red-hexagon-outline.svg);
background-position: 0% 50%;
background-size: 18px;
background-repeat: no-repeat;
padding-left:30px;
text-align: left;
border-left: none;
}
} */
