.blog-banner .blog-banner-wrpr {
	position: relative;
}

.blog-banner .blog-banner-wrpr .banner-wrapper-inr {
	padding: 210px 0;
}

.blog-banner .banner_background_settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
}

.blog-banner .banner_background_settings .background-video-wrpr {
	position: absolute;
	z-index: 1;
}

.blog-banner .slide-item {
	position: relative;
}

.blog-banner .banner_background_settings .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

.blog-banner .banner-separator {
	position: absolute;
	z-index: 11;
	bottom: 0;
}

.blog-banner .page-center,
.blog-banner .custom-fullwidth {
	position: relative;
	z-index: 100;
}

.blog-banner .bnr_slider_inr .glide_arrows {
	margin: 0;
	width: 100%;
	z-index: 99;
}

.blog-banner .bnr_slider_inr .glide_arrows button.prev {
	margin-left: 30px;
}

.blog-banner .bnr_slider_inr .glide_arrows button.next {
	margin-right: 30px;
}

.blog-banner .bnr_slider_inr .glide__bullets {
	position: absolute !important;
	z-index: 99;
	bottom: 15px;
	left: 0;
}

.blog-banner .blog-banner-wrpr .banner-wrapper-inr .image-area {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}
.blog-banner .blog-banner-wrpr .banner-wrapper-inr .image-area > div {
	width: 100%;
}

.blog-banner .breadcrumb-wrapper {
	position: absolute;
	left: 0;
	right: 0;
}

.blog-banner .breadcrumb-wrapper.brd_top {
	top: 40px;
}

.blog-banner .breadcrumb-wrapper.brd_bottom {
	bottom: 40px;
}

.blog-banner ul.blog-brdcrumb {
	align-items: center;
	display: flex;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	gap: 5px;
}

.blog-banner ul.blog-brdcrumb li {
	align-items: center;
	display: flex;
	float: none;
	font-weight: 700;
	line-height: 1;
	padding: 0;
	text-transform: capitalize;
}

.blog-banner ul.blog-brdcrumb li a {
	display: inline-block;
}

.blog-banner ul.blog-brdcrumb i {
	font-style: normal;
	padding: 0 5px;
	fill: #000000;
	display: inline-block;
}
.blog-banner ul.blog-brdcrumb i svg {
	display: block;
	height: 0.9rem;
	width: 0.9rem;
}

.blog-banner ul.blog-brdcrumb li a,
.blog-banner ul.blog-brdcrumb li {
	color: #000000;
}
.banner-wrapper-inr .content-area,
.banner-wrapper-inr .content-area h1 {
	color: #000000;
}

