.footer-heading h5 {
    border-bottom: 1px solid rgba(51,51,51,0.15);
    font-family: Montserrat,sans-serif;
    color: #f79421;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 10px 0px
}

.footer-content p {
    color: #666;
    line-height: 26px;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px
}

.footer-menu ul li a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #666;
    max-width: 100% !important;
    padding: 0px !important;
    font-family: 'Open Sans', sans-serif;
}
.footer-col-inner {
    padding-left: 20px;
    border-left: 1px solid hsla(0, 0%, 40%, 0.15);
    height: 100%;
}

.footer-logo img {
    width: 100%;
    max-width: 180px !important;
    margin-bottom: 25px;
}

.footer-wrapperr {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
    color: #666;
    line-height: 26px;
}

.footer-menu ul {
    display: block 1i;
}

.footer-menu ul li {
    display: block !important;
    float: none !important;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 15px;
}

.footer-col2-row {
    margin-bottom: 25px;
}
.footer-col3-row ul {
    margin-bottom: 15px !important;
}
.footer-row-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.footer-col {
    flex: 0 32%;
}

.footer-form-wrap .hs-form-field label {
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    display: block;
    float: none;
    width: auto;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 4px
}

.footer-form-wrap .hs-input {
    display: inline-block;
    width: 90%;
    max-width: 500px;
    height: 40px;
    padding: 9px 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px
}

.footer-form-wrap input.hs-button.primary.large {
    background: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-family: arial,helvetica,sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-align: center;
    transition: all .15s linear;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 12px 24px
}
.footer-form-wrap .actions {
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 0px;
}
.footer-form-wrap ul.no-list {
    list-style: none;
}
.footer-form-wrap .inputs-list {
    margin: 0 0 5px;
    width: 100%;
    padding-left: 5px;
}
.footer-form-wrap .inputs-list>li {
    display: block;
    padding: 0;
    width: 100%;
    padding-top: 0;
}
.footer-form-wrap .inputs-list label {
    display: block;
    float: none;
    width: auto;
    padding: 0;
    line-height: 18px;
    text-align: left;
    white-space: normal;
    font-weight: normal;
    font-size: 13px;
}
.footer-form-wrap label.hs-error-msg {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px !important;
    color: #f2545b;
}
.footer-form-wrap .inputs-list:first-child {
    padding-top: 6px;
}
.footer-form-wrap .hs-error-msgs label {
    color: #f2545b;
}