.team_sec2 .team_inr { 
	border-radius: 8px;
} 
.team_sec2 .team_item {
	margin-bottom: 1em;
} 
.team_sec2 .team_top {
	margin-bottom: 30px;
}
.team_sec2 .member_img {
	border-radius: 8px;
	display: inline-block; 
	min-height: 280px;
	overflow: hidden;
	vertical-align: middle;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%; 
}
.team_sec2  .member_img, 
.team_sec2 .member_img_wrap { 
	max-width: 100%;
}
.team_sec2 .overlay{
	border-radius: 8px;
}
.team_sec2 .member_img_wrap{
	position: relative;
	overflow: hidden; 
}
.team_sec2 .social_icon a svg {
	width: 13px;
	height: 13px;
}
.team_sec2 .member_img img {
	display: block; 
	height: 100%; 
	width: 100%;
	object-fit: cover; 
}  
.team_sec2 .member_img_wrap {
	margin: 0 auto;
} 
.team_sec2 .social_icon img {
	max-width: 15px;
}
.team_sec2 .social_icon { 
	align-items: center; 
	border-radius: 50%;
	display: inline-flex;
	height: 27px;
	justify-content: center;
	margin: 0 5px;
	width: 27px;
	cursor: pointer;
	transition: all 0.2s linear; 

}
.team_sec2 .overlay {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
	opacity: 0;
	transition: all 0.2s linear; 
}
.team_sec2 .team_inr:hover .overlay {
	opacity: 1;
}
.team_sec2 .social_icon:hover {
	transform: scale(1.1);
} 
.team_sec2 .team_btn {
	font-weight: bold;
}
.team_sec2 .social { 
	border-radius: 4px;
	bottom: -50px;
	left: 0;
	padding: 5px;
	position: absolute;
	transition: all .3s linear;
	width: 80%;
	margin: 0 auto;
	right: 0; 
	display: flex;
	align-items: center;
	justify-content: center; 
}
.team_sec2 .social.grd1:empty {
	display: none;
	padding:0;
}
.team_sec2 .team_inr:hover .social{
	bottom: 15px;
}
.team_sec2 .team_inr.bottom {
	align-items: center;
}
.team_sec2 .team_inr:hover { 
	border-radius: 8px; 
}
.team_sec2 .team_cnt_inr {
	white-space: normal;
}
.team_sec2 .social_icon svg { 
	width: 1rem;
}
.team_sec2 .team_btn, .team_sec2 .team_btn a {
	display: flex;
	justify-content: center; 
	align-items: center;
}
.team_sec2 .team_btn svg {
	display: block;
}
.team_sec2 .team_btn span + * {
	margin-left: 5px;
} 
.team_sec2 .social_icon svg {
	display: block;
}  
.team_sec2 .team_cnt {
	padding: 20px 0;
	margin-top: 0 !important; 
}


