.byline-mdl .byline-list-wrap{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.byline-mdl .byline-list-item{
	display:flex;
	align-items:center;
	gap:10px;
}
.byline-mdl .byline-list-item svg,
.byline-mdl .byline-list-item img{
	vertical-align:middle;
}

.byline-mdl .byline-list-wrap.byline-horizontal .byline-list-item{
	width: auto;
}
.byline-mdl .byline-list-wrap.byline-vertical .byline-list-item{
	width: 100%;
}

.byline-mdl .list-icon{
	text-align: center;
	line-height: 1;
	overflow: hidden;
	border-radius:50%;
	padding:5px;
	color:inherit; 
	max-width: 32px;
	height: 32px;
	width: 100%;
	line-height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.byline-mdl .list-icon .hs_cos_wrapper_type_icon {
    display: flex;
    align-items: center;
}