.banner-wt-form {
	position: relative;
	padding: 40px 0;
	overflow: hidden;
}

.banner-wt-form .banner_background_settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-repeat: no-repeat;
}

.banner-wt-form .banner_background_settings .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
}

.banner-wt-form .banner-separator {
	position: absolute;
	z-index: 11;
	bottom: -3px;
	left: 0;
	right: 0;
}
.banner-wt-form .banner-separator img {
	width: 100%;
}
.banner-wt-form .form-section .form-wrpr form {
	padding: 0;
	margin: 0;
}
.banner-wt-form .form_top_content {
	margin-bottom: 40px;
}
.banner-wt-form .form_top_content > :last-child {
	margin-bottom: 0;
}
.banner-wt-form .page-center,
.main-banner .custom-fullwidth {
	position: relative;
	z-index: 100;
}

.banner-wt-form .banner_background_settings .background-video-wrpr, 
.banner-wt-form .banner_background_settings .background-video-wrpr iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

.banner-wt-form .video-holder {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 56.8%;
}

.banner-wt-form .banner_background_settings .background-video-wrpr video {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-wt-form .banner_background_settings .background-video-wrpr iframe {
	background-size: cover;
	border: none;
	overflow: hidden;
	z-index: -1;
	top: 0px;
	left: 0;
}
.banner-wt-form .row.ver_top {
	align-items: flex-start;
} 
.banner-wt-form .row.ver_center {
	align-items: center;
} 
.banner-wt-form .row.ver_bottom {
	align-items: flex-end;
} 
.banner-wt-form .form_top_content * {
	color: inherit;
}
.banner-wt-form form textarea {
	min-height: 115px;
}

.banner-wt-form .breadcrumb-wrapper {
	position: absolute;
	left: 0;
	right: 0;
}

.banner-wt-form .breadcrumb-wrapper.brd_top {
	top: 40px;
}

.banner-wt-form .breadcrumb-wrapper.brd_bottom {
	bottom: 40px;
}

