.hero_section_with_counter {
	position: relative;
}
.hero_section_with_counter .content_flex_wrap {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}
.hero_section_with_counter .content_wrap {
	width: 100%;
}
