.image-with-content-mdl{
	position:relative;
}
.image-with-content-mdl .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
.image-with-content-mdl .image-with-content-wrap{
	position:relative;
	z-index:2;
}
.image-with-content-mdl .image-section img{
	max-width:100%;
}
.image-with-content-mdl .image-in-background {
	background-size: cover;
	position:relative;
}
.image-with-content-mdl .image-in-background a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.image-with-content-mdl .image-with-content-item-inner{
	display:flex;
	flex-direction: column;
}
.image-with-content-mdl .image-bottom .image-section{
	order:2;
}

.image-with-content-mdl .image-bottom .content-section{
	order:1;
}
.image-with-content-mdl .button-section.gradient a{
	margin:0;
}
.image-with-content-mdl .button-section.gradient a * {
	vertical-align: middle;
}
.image-with-content-mdl .content-section > :last-child {
	margin-bottom: 0;
}


