.jobs-wrapper .top-job-section {
    margin-bottom: 50px;
}
.jobs-wrapper .bottom-job-section {
	display: flex;
	flex-wrap: wrap;
}
.jobs-wrapper .job-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
}
.jobs-wrapper .job-card-inner{
	box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
	padding:30px 25px;
	border-radius:8px;
	margin-bottom:30px;
}

.jobs-wrapper .button_wrap {
    margin-top: 0;
}
.jobs-wrapper .button_wrap .button_item {
    display: inline-block;
    margin-bottom: 0;
}

.jobs-wrapper p.job-type {
    margin-bottom: 20px;
}
.jobs-wrapper .job-type {
   font-weight:500;
}
.jobs-wrapper .job-content p:last-child {
    margin-bottom: 0;
}
.jobs-wrapper .job-content{
	margin-bottom:28px;
}
.jobs-wrapper .gradient a, 
.jobs-wrapper .cta_button {
    padding: 10px;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 2px;
    display: inline-block;
	font-weight: 600;
	font-family:'Fira Sans', sans-serif;
}
.jobs-wrapper .salary-details {
    margin-bottom: 10px;
    margin-top: 10px;
}
.jobs-wrapper .salary-details .salary{
	font-weight:bold;
	
}
.jobs-wrapper .salary-details .salary,
.jobs-wrapper .salary-details .prefix{
    font-weight: 600;
    font-size: 20px;
}
.jobs-wrapper .salary-details .suffix{
	 font-size: 14px;
}

