.blog-navigation-media {
	padding: 10px 0;
	border-bottom: 1px solid #DCDCDC;
}

.blog-navigation-media.horz ul{
	flex-direction: row;
}

.blog-navigation-media.vert ul{
	flex-direction: column;
}

.blog-navigation-media ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	column-gap: 40px;
	font-family: 'Fira Sans';
}

.blog-navigation-media ul a {
	padding: 5px;
	display: inline-block;
	line-height: 1;
	font-weight: 500;
	color: inherit;
}
.blog-navigation-media ul a.active{
	color:#212429;
}

