.product-releases-title h1 {
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: 45px;
    line-height: 46px;
    margin: 0 auto;
    max-width: 950px;
    padding: 80px 20px 20px;
    text-align: center; 
}
.product-releases-published h3 {
    margin: 2px 0;
    color: #333;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.product-releases-published {
    padding: 0 100px 60px;
    text-align: center;
}
.product-releases-section-sub-title h3 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
.product-releases-secton-description a {
  color: #ffa500;
}
.product-releases-section-wrap {
  padding: 0 100px 75px; 
}
.product-releases-secton-description ul, .product-releases-secton-description ol{
  margin: 30px 0px;
}
.product-releases-secton-description ul li, .product-releases-secton-description ol li{
  padding: 0px;
  color: #666;
  font-size: 16px;
  margin-bottom: 15px!important;
  padding-left: 40px!important;
  font-weight: 600;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-top: 7px;
  background-image: url(//cdn2.hubspot.net/hubfs/6357099/HotWax_February2020/Images/red-hexagon-outline.svg);
  list-style-type: none;
}
.product-releases-secton-description ol li {
 color: #128!important;
 list-style-type: decimal ;
 background-image: none !important;
}
.product-releases-secton-description ol>li>ul>li, .product-releases-secton-description ul>li>ul>li{
  list-style-type: disc;
  background-image: none !important;
}
.product-releases-section-sub-title {
 color: #000;
 font-size: 16px;
 font-weight: 600;
 text-decoration: underline; 
 padding-top: 15px;
}
@media(max-width: 767px){
  .product-releases-section-wrap{
    padding: 0 35px 35px;
  }
}
@media(max-width: 500px){
  .product-releases-section-wrap ul{
    padding-inline-start: 0px;
  }
    .product-releases-section-wrap ol{
    padding-inline-start: 15px;
  }
  .product-releases-section-wrap ol li{
    padding-left: 10px !important;
  }
}