name: Deploy to Live HubSpot Account

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install HubSpot CLI
        run: npm install -g @hubspot/cli

      - name: Create HubSpot Config File
        run: |
          echo "Creating HubSpot config file..."
          cat <<EOF > hubspot.config.yml
          defaultPortal: production
          portals:
            - name: production
              authType: personalaccesskey
              personalAccessKey: "${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}"
              portalId: ${{ secrets.HUBSPOT_PORTAL_ID }}
          EOF

      - name: Upload HotWax_2021 to HubSpot Production
        run: hs upload HotWax_2021 HotWax_2021 --portal=production

      - name: Upload HotWax-Theme to HubSpot Production
        run: hs upload hotwax-theme hotwax-theme --portal=production