.post-social-outer {
    max-width: 890px;
    margin: 0 auto;
}

.post-social-heading h3 {
    color: #000;
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
}
.post-social-heading h3 span {
    color: #EF1E1B;
}
.post-social-links ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.post-social-links ul li a {
    width: auto !important;
    padding: 10px !important;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.post-social-links li:last-child img {
    display: none;
}
.post-social-links ul li {
    padding-right: 10px;
}
.post-social-links ul li:nth-child(1) a {
    background: #0077B5;
}
.post-social-links ul li:nth-child(2) a {
    background: #1DA1F2;
}
.post-social-links ul li:nth-child(3) a {
    background: #0078D7;
}
.post-social-links ul li:nth-child(4) a {
    background: #666666;
}
.post-social-links ul li a:hover {
    transform: translateY(-6px);
    transition: all .5s;
}
.post-social-links {
    padding-top: 10px;
}
.post-social-links ul li a i span {
    padding-left: 10px;
    font-family: 'Open Sans',sans-serif;
}
