<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  label: Password Prompt Page
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper system-container">  
  <div class="content-wrapper py-5 system-container__aligment ">
    <div class="width-70 p-5 shadow">
      <div class="systems-page password-prompt">
        {% module 'content'
          path='@hubspot/rich_text',
          html='<h1>Password Required</h1><p>Please enter the password required to view this page.</p>'
        %}
        {% module 'password_prompt'
          extra_classes='password-prompt',
          path='@hubspot/password_prompt'
        %}
      </div>
    </div>
  </div>
</main>
{% endblock body %}
