<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  label: Email Subscriptions Confirmation Page
-->
{% extends "../layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper system-container">  
  <div class="content-wrapper py-5 system-container__aligment ">
    <div class="width-70 p-5 shadow">
      <div class="systems-page">
        {% module "subscriptions_confirmation" path="@hubspot/email_subscriptions_confirmation" %}
      </div>
    </div>
  </div>
</main>
{% endblock body %}
