{% if module.related_post_module_on_off %}
	<div class="related-post-outer-wrapper">
   <div class="page-center">
     <div class="related-post-heading">
       <h2>{{ module.heading }}</h2>
     </div>
     <div class="related-post-inner-wrapper">
        <div class="related-blog">
            {% if content.topic_list %}
                {% for topic in content.topic_list %}
                    {% if loop.first %}
                      {% set related_posts = blog_recent_topic_posts( 'module.choose_blog ', topic.slug , 4 ) %}
                        {% for post in related_posts %}
                          {% unless content.absolute_url == post.absolute_url %}
                              <div class="related-post-item">
                                <div class="related-post-item-inner">
                                    <div class="related-image"><a href="{{post.absolute_url}}">
                                      <div class="related-image-inner" style="display:none !important; background-image:url({{ post.featured_image }})"><img src="{{ post.featured_image }}" alt="{{ post.name }}" loading="lazy"></div>
                                      <div class="related-image-inner" style="background-image:url({{ post.widgets.feature_img.body.src }})"><img src="{{ post.widgets.feature_img.body.src }}" alt="{{ post.name }}" loading="lazy"></div>
                                      </a></div>
                                     <div class="related-bottom-wrap">
                                      <div class="topic-wrappers">
                           {{ topic.name }}{% if not loop.last %}{% endif %}
                          </div>  
                                      <div class="related-title"><a href="{{post.absolute_url}}">{{ post.name}}</a></div>
                                    </div>
                                </div>
                              </div>
                          {% endunless %}
                      {% endfor %}
                  {% endif %}
              {% endfor %}
            {% endif %}    
        </div>
      </div>
   </div>
  </div>   
{% endif %}

<style>
.related-post-outer-wrapper {
    padding: 50px 20px;
}
.related-post-heading {
    text-align: center;
}
.related-post-heading h2 {
    color: #000000;
    font-size: 24px;
    line-height: 53px;
    margin-bottom: 30px;
}
.related-blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.related-post-item {
    flex: 0 31%;
    margin: 1%;
    box-shadow: 0px 0px 12px #00000017;
    border-radius: 5px;
}
.related-image img {
    border-radius: 5px 5px 0px 0px;
    max-height: 170px;
    float: none !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
}

.related-title a {
    color: #000;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    font-weight: 600;
}
.topic-wrappers {
    padding-bottom: 10px;
    letter-spacing: .76px;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
}
.related-bottom-wrap {
    padding: 30px 20px 50px;
}

.related-image-inner {
    background: none !important;
  /*
    height: 219px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
  */
}
.related-image-inner img {
}
.related-post-item:nth-child(4) {
    display: none;
}
</style>
